language: node_js
node_js:
  - 12.16.3
cache: npm

git:
  depth: false

before_install:
  # - bash list_modified_files.sh

install:
  - npm ci

before_script:
  - python3.7 test.py
  - cd src
  - python3.7 preprocess.py
  - python3.7 citations.py

script:
  - npm test
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: dist
  on:
    branch: master