include mixins
include nav_list

#footerNav
  .container
    .row.justify-content-between
      each header in navItems
        .col-sm-6.col-md-4.col-lg-2.py-2
          a.footer-heading= header.title
          ul
            each item in header.items
              li.py-1
                a(href= urlPrefix + item.replace(/ /g,'_'))= item
