
include nav_list
include mixins

#footerNav
  .container
    .row.justify-content-between
      each section in navItems
        .col-sm-6.col-md-4.col-lg-2.py-2
          a.footer-heading= section['section']
          ul
            each item in section['items']
              li.py-1
                a(href= urlPrefix + item.link.replace(/ /g,'_'))= item.title