#footerBrand
  .container
    .row.justify-content-center
        #footerTeamLogo
        #BITSLogo
    p iGEM BITS Goa
    p Birla Institute of Technology and Science, Pilani
    p K K Birla Goa Campus
    p NH-17B, Sancoale, Goa, India
    .row#footerIcons.justify-content-center
      a.gmail(href='mailto:igembitsgoa@gmail.com') 
      a.insta(href='https://instagram.com/igem_bits' target="_blank" rel="noopener")
      a.twitter(href='https://twitter.com/igembitsgoa' target="_blank" rel="noopener")
