#footerBrand
  .container
    .row
      #footerLogo
    .row#footerIcons.justify-content-center
      a.gmail(href='mailto:igembitsgoa@gmail.com') 
      a.insta(href='https://instagram.com/igem_bits')
      a.twitter(href='https://twitter.com/igembitsgoa')
