
include nav_list
include mixins

nav#main-nav
  .navbar.navbar-expand-lg.d-flex.justify-content-between.bg-none.nav-transparent.fixed-top

    a.navbar-brand.d-lg-inline-block(href=urlPrefix) Sugar
      span Gain

    .controls.h-100.d-flex.align-items-center
      #themeSwitchWrapper.align-items-center
        i.icon-light
        #themeSwitch
          label.switch(for='themeSwitchInput')
            input(type='checkbox')#themeSwitchInput
            span.slider.round
        i.icon-dark
      button.btn#menuSwitch
        .menu-icon
  #fullscreenMenu
    #desktop-nav.w-100.h-100
      .container-fluid.d-flex.align-items-stretch.pr-0.flex-column
        .row.nav-header.w-100
          .col-xl-3.col-lg-2
            .teamLogo
          .col-xl-6.col-lg-8
          .col-xl-3.col-lg-2.d-flex.align-items-center.justify-content-end#close-label
            p Close
        .row.flex-grow-1.w-100
          .col-xl-3.col-lg-2 
          .col-xl-6.col-lg-8#menuContent.d-flex.justify-content-between.flex-column
            .row
              .col-6#nav-headings
                ul(role="tablist")
                  each section in navItems  
                    li
                      - var underscored = section['section'].replace(/ /g,'_')
                      a(href="" id= underscored.concat('-tab'))= section['section']
              .col-6#nav-items
                //- <!-- Tab panes -->
                .tab-content
                  each section in navItems
                    - var underscored = section['section'].replace(/ /g,'_')
                    .tab-pane(id= underscored.concat('-pane'))
                      ul
                        each item in section['items']
                          li
                            a(href= urlPrefix + item.link.replace(/ /g,'_'))= item.title
            .row
              #contact-links
                a(href="https://instagram.com/igem_bits" target="_blank" rel="noopener") Instagram
                a(href="https://twitter.com/igembitsgoa" target="_blank" rel="noopener") Twitter
                a(href="mailto:igembitsgoa@gmail.com" target="_blank" rel="noopener") Email
          .col-xl-3.col-lg-2 

        .row.nav-footer.w-100
          .col-xl-3.col-lg-2
          .col-xl-6.col-lg-8
          .col-xl-3.col-lg-2

    #mobile-nav
      .container.w-100.h-100
        #menuContent.w-100
          .row.w-100.mb-4
            each section in navItems
              .col-md-4.col-sm-12.py-3
                a.nav-heading= section['section']
                ul
                  each item in section['items']
                    li
                      a(href= urlPrefix + item.link.replace(/ /g,'_'))= item.title