include mixins.pug

- 
  var navItems = [
    {
      'title': 'Overview', 
      'items': ['Description', 'Design', 'Results']
    },
    // removed Demonstrate for aesthetics for now
    {
      'title': 'Project',
      'items': ['Experiments', 'Notebook', 'Contribution', 'Improve']
    },
    {
      'title': 'Parts',
      'items': ['Overview', 'Basic Parts', 'Composite Parts', 'Parts Collection']
    },
    // Outreach and Engagement
    {
      'title': 'Human Practices',
      'items': ['Human Practices', 'Outreach']
    },
    {
      'title': 'Team',
      'items': ['Team Members', 'Attributions', 'Collaborations']
    },
    // removed Hardware and Measurement for aesthetics for now
    {
      'title': 'Awards',
      'items': ['Entrepreneurship', 'Model', 'Plant', 'Software']
    }
  ]

nav.navbar.navbar-expand-lg.fixed-top.d-flex.justify-content-between.bg-none.nav-transparent

  .ml-4
    a.navbar-brand.d-lg-inline-block(href=urlPrefix) iGEM 
      span BITS Goa

  .mr-3.mb-2
    #fullscreenMenuWrapper
      input#menuToggle(type='checkbox' onclick='makeNavbarTransparent()')
      label(for='menuToggle')
        #menuSwitch
      #fullscreenMenu
        label.mr-3(for='menuToggle')
        .container.w-100.h-100
          #menuContent.d-flex.flex-column.justify-content-center.h-100
            .row.w-100.mb-4
              each header in navItems
                .col-12.col-md-4.col-sm-6.py-3
                  h1= header.title
                  ul
                    each item in header.items
                      li.py-1
                        a(href= urlPrefix + item.replace(/ /g,'_'))= item