
include nav_list
include mixins

nav#main-nav
  .navbar.bg-none.nav-transparent

    .row#navbar-row
      a.navbar-brand(href=urlPrefix) 
        i.navbar-logo
        span 
          | Sugar
          strong Gain

      .controls.h-100.d-flex.align-items-center
        #themeSwitchWrapper.align-items-center
          i.icon-light
          #themeSwitch
            label.switch(for='themeSwitchInput')
              input(type='checkbox')#themeSwitchInput
              span.slider.round
          i.icon-dark
        button.btn#menuSwitch
          .menu-icon
    
    .row.w-100#progress-container-wrapper
      #progress-container
        #nav-progress-bar
    
    
  #fullscreenMenuWrapper
    #fullscreenMenu.w-100.h-100
      .container-fluid.d-flex.align-items-stretch.pr-0.flex-column
        .row.nav-header.w-100
          .col-xl-3.col-lg-2
            .teamLogo
          .col-xl-6.col-lg-8
          .col-xl-3.col-lg-2
        .row.flex-grow-1.w-100
          .col-xl-3.col-lg-2 
          .col-xl-6.col-lg-8#menuContent.d-flex.justify-content-between.flex-column
            .row
              .col-md-6#nav-headings
                ul(role="tablist")
                  each section in navItems  
                    li
                      - var underscored = section['section'].replace(/ /g,'_')
                      a(href="javascript:;" id= underscored.concat('-tab'))= section['section']
                      ul.mobile-nav-items
                        each item in section['items']
                          li
                            a(href= urlPrefix + item.link.replace(/ /g,'_'))= item.title
              .col-6#nav-items
                //- <!-- Tab panes -->
                .tab-content
                  each section in navItems
                    - var underscored = section['section'].replace(/ /g,'_')
                    .tab-pane(id= underscored.concat('-pane'))
                      ul
                        each item in section['items']
                          li
                            a(href= urlPrefix + item.link.replace(/ /g,'_'))= item.title
            .row
              #contact-links
                ul
                  li
                    a(href="https://instagram.com/igem_bits" target="_blank" rel="noopener") 
                      i.insta
                      span Instagram
                  li
                    a(href="https://twitter.com/igembitsgoa" target="_blank" rel="noopener")
                      i.twitter
                      span Twitter
                  li
                    a(href="mailto:igembitsgoa@gmail.com" target="_blank" rel="noopener")
                      i.email
                      span Email
                  li
                    a(href=urlPrefix + "Sample")
                      i.sample
                      span Sample
                ul
                  li
                    a(href="/Acknowledgements") 
                      | Acknowledgements
          .col-xl-3.col-lg-2 

        .row.nav-footer.w-100
          .col-xl-3.col-lg-2
          .col-xl-6.col-lg-8
          .col-xl-3.col-lg-2