include mixins.pug

- 
  var navItems = [
    {
      'title': 'Overview', 
      'items': ['Description', 'Design', 'Results']
    },
    // removed Demonstrate for aesthetics for now
    {
      'title': 'Project',
      'items': ['Experiments', 'Notebook', 'Modelling', 'Contribution', 'Improve']
    },
    {
      'title': 'Parts',
      'items': ['Overview', 'Basic Parts', 'Composite Parts', 'Parts Collection']
    },
    // Outreach and Engagement
    {
      'title': 'Human Practices',
      'items': ['Human Practices', 'Outreach']
    },
    {
      'title': 'Team',
      'items': ['Team Members', 'Attributions', 'Collaborations']
    },
    // removed Hardware and Measurement for aesthetics for now
    {
      'title': 'Awards',
      'items': ['Entrepreneurship', 'Model', 'Plant', 'Software']
    }
  ]

nav.navbar.navbar-expand-lg.d-flex.justify-content-between.bg-none.nav-transparent.fixed-top

  a.navbar-brand.d-lg-inline-block(href=urlPrefix) iGEM 
    span BITS Goa

  #fullscreenMenuWrapper
    input#menuToggle(type='checkbox')
    label(for='menuToggle')
      #menuSwitch
    #fullscreenMenu
      label.mr-3(for='menuToggle')
      .container.w-100.h-100
        #menuContent.h-100
          .row.w-100.mb-4
            each header in navItems
              .col-md-4.col-sm-12.py-3
                a.nav-heading= header.title
                ul
                  each item in header.items
                    li
                      a(href= urlPrefix + item.replace(/ /g,'_'))= item