- 
  var navItems = [
    {
      'title': 'Overview', 
      'items': ['Description', 'Design', 'Results']
    },
    // removed Demonstrate for aesthetics for now
    {
      'title': 'Project',
      'items': ['Experiments', 'Notebook', 'Modelling', 'Contribution', 'Improve']
    },
    {
      'title': 'Parts',
      'items': ['Overview', 'Basic Parts', 'Composite Parts', 'Parts Collection']
    },
    // Outreach and Engagement
    {
      'title': 'Human Practices',
      'items': ['Human Practices', 'Outreach']
    },
    {
      'title': 'Team',
      'items': ['Team Members', 'Attributions', 'Collaborations']
    },
    // removed Hardware and Measurement for aesthetics for now
    {
      'title': 'Awards',
      'items': ['Entrepreneurship', 'Model', 'Plant', 'Software']
    }
  ]