include mixins

html(lang="en")
  block headVars
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title} | SugarGain | iGEM BITS Goa
    if requireMathJax
      script(src="https://2020.igem.org/common/MathJax-2.5-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  body
    include nav.pug
    style
      | header {
      |     background-image: url( #{backgroundImage});
      | }
    -
      theme_class = {
        "theme-project":  theme == "project", 
        "theme-human-practices": theme == "human-practices",
        "theme-parts": theme == "parts",
        "theme-journal": theme == "journal",
        "theme-team": theme == "team",
        "theme-contribution": theme == "contribution",
        "theme-other-areas": theme == "other-areas"
      }
    header.d-flex.justify-content-center
      .custom-container.d-flex.align-items-end.justify-content-between
        #heading
          h1 #{title}
        a(href= backgroundAttributionLink target="_blank" rel="noopener")
          span#bg-attribution(title=backgroundAttribution data-placement="top")
    main(class= theme_class)
      .custom-container
        .row
          .sidebar
            .nav#months
              ul
                //- Filled automatically from js

          .content(class={"fullwidth": fullWidth == true})
            block article


            .d-flex.justify-content-between.my-5
              block buttons



    footer 
      include footer_nav.pug
      include footer_brand.pug



