extends ../templates/contents.pug

block headVars
    - var title = "Bronze"
    - var requireMathJax = false

block article
    :markdown-it(html)
        Just an example on how to create nested pages