extends ../templates/contents.pug

block headVars
    - var title = "Accessibility"
    - var requireMathJax = false
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
    - var theme = "yellow"

block article
    :markdown-it(html)

        Making science accessible, promoting its democratisation and a constant effort to make it inclusive of all
        communities is fundamental to both the principles of iGEM as well as our team. India is a land of diversities,
        and such a multicultural and multilingual environment presents some unique challenges as well as opportunities
        to promote inclusivity and diversity in science. Our team speaks about 12 languages in total, and a tragically
        common experience we all had was the inability to find quality scientific resources in our native languages.
        This prompted our initial interest in seeking ways to make scientific resources available in Indian languages,
        which later diversified into many initiatives.

        # The Language Project

        The Language Project was started by the iGEM team from IIT Madras in 2019 to address the difficulties faced in
        communicating scientific ideas to a vast population as well as to an audience not comfortable in English. The
        Language Project started with 9 Indian languages and 11 foreign languages by collaborating with other iGEM teams.

        This year, we collaborated with IIT Madras and the University of Rochester to expand on the initiative. We released
        a survey to ask iGEM teams what they think about language barriers in iGEM and more generally, in science. Almost
        88% of respondents said that there was a dearth of iGEM resources in their native language, and 70% believed that
        having such resources in a diverse range of languages would increase participation in iGEM.

        The results from our preliminary survey led us to the idea of translating the resources available about iGEM to
        foster greater participation in future years. To eliminate these language barriers, we thought that the best place
        to start is at home. We began by translating some iGEM resources for teams which we thought were important into Indian languages — 
        not only to increase participation in iGEM but also make this material accessible to a broader, multicultural audience.
        To date, we have translated a few resources into multiple Indian languages, and we hope to expand this even further.
        This content can be found below.
    

    #collapsibleSections.accordion
        .card
            #headingOne.card-header
                h2.mb-0
                    button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        span Starting your Team!
                        i.icon-dropdown
            #collapseOne.collapse(aria-labelledby='headingOne')
                .card-body

                    +pdf("../" + require("../assets/docs/Accessibility--Start A Team.pdf")['default'], "iGEM BITS Brochure")

        .card
            #headingTwo.card-header
                h2.mb-0
                    button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
                        span Navigating iGEM
                        i.icon-dropdown
            #collapseTwo.collapse(aria-labelledby='headingTwo')
                .card-body

                    +pdf("../" + require("../assets/docs/Accessibility--Start A Team.pdf")['default'], "iGEM BITS Brochure")

        .card
            #headingThree.card-header
                h2.mb-0
                    button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree')
                        span Funding
                        i.icon-dropdown
            #collapseThree.collapse(aria-labelledby='headingThree')
                .card-body

                    +pdf("../" + require("../assets/docs/Accessibility--Start A Team.pdf")['default'], "iGEM BITS Brochure")

    :markdown-it(html)

        ----

        # ASL Initiative

        After contributing to the Language project, we wanted to think of new ways to expand upon the existing initiative. 
        Therefore, we decided to focus on non-verbal languages next with an emphasis on American Sign Language. There is an urgent need in the deaf community for access 
        to the right scientific terms. Fingerspelling is often too tedious for scientific terminology. With the right words, 
        we have the potential to make science come alive for deaf students. ASLcore is a website that originates in Rochester 
        through the National Technical Institute for the Deaf,which is the first and largest technical college for Deaf and 
        hard of hearing students in the United States. This platform is interested in adding a whole new category of science - 
        synthetic biology - to their already extensivelist of categories. Unlike ASL, Indian Sign Language is yet to be 
        standardized across the country. However, with the recently announced National Education Policy in India, ISL will be 
        standardized across the nation, and National and State curriculum materials developed for students with hearing 
        impairment. We hope to continue our efforts, post the Jamboree, in breaking barriers with ongoing initiatives that 
        future teams can take forward.

        We wanted to begin educating people about ASL closer to home. In collaboration with the iGEM team from the University
        of Rochester, we created a short video consisting of ten common ASL phrases used during Jamboree.

    .d-flex.justify-content-center.align-items-center
        video(controls width=720)
                source(src= urlPrefix + require("../assets/video/Accessibility--ASL.mp4")['default'].substr(2), type='video/mp4')
    
    :markdown-it(html)
        <br>

        Our motivation behind this concept was to aim for a more inclusive Jamboree. Apart from just translators for various
        languages, we also wanted to include ASL to make the whole Jamboree experience more accessible and inclusive.
        
        # Wiki Accessibility

        Building upon the efforts of iGEM Marburg 2018, we plan to expand their web accessibility guide and make it more thorough and comprehensive.  Web developers in most iGEM teams are unaware of this problem, and as a result, most 
        iGEM wikis are not compatible with web accessibility tools. We also plan to include in the guide, existing software that helps check web compatibility. This will make it easier for teams to ensure that their wikis are accessible.
        Besides, the Wiki Starter Pack we've designed also comes with a wiki accessibility guide which recommends the use of software which would offer feedback and suggestions to teams on making changes to their source code to make 
        their wikis compatible with accessibility tools like text-to-speech.






append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Education")
    +buttonRight("Home")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
