extends ../templates/contents.pug

block headVars
  - var title = "Acknowledgements"
  - var requireMathjax = false
  - var backgroundImage = "" + require("../assets/img/Acknowledgements--header.svg")["default"]
  - var headerBackgroundColor = "#e62552"
  - var backgroundType = "vector"
  - var backgroundAttribution = "Photo from Freepik"
  - var backgroundAttributionLink = "https://freepik.com"
  - var theme = "journal"
  - var fullWidth = true

block article

  p We would like to extend our heartfelt gratitude to all our sponsors for giving us this opportunity to participate in iGEM 2020. Our project would have not culminated without their valuable support, both financial and otherwise.

  h2 Our Sponsors
  
  <br>

  .row
    .col-md-6.col-lg-4
      :markdown-it
        * VG Rajagopalan
        * Sugavanam Rajaram
        * Suraj Gopal
        * Mohan Borkar
        * Sandhya Srikanth
        * Srivatsan K
        * Ravishankar
        * Parth Patel
        * SAI PRIYAA N P (N Pattabhiraman) 
        * Bikram Gupta Sarma
    .col-md-6.col-lg-4
      :markdown-it
        * Rajat Gupta
        * Lucky Kaul
        * Mukul Khare
        * V Priyamvadan
        * Deepak Gupta
        * Narendra Singh Rawat
        * Arun Birla
        * Rajiv Ranka
        * Avinash Kamani
    .col-md-6.col-lg-4
      :markdown-it
        * Nalin Kaul
        * Subhash Chugh
        * Ashok Chandak
        * Sashichandra Desai
        * Veenu Jain
        * Dr Sundar
        * Devendra Jain 
        * Rita Pad Printing Systems Ltd.

  :markdown-it(html)

    We would also like to thank the BITS Alumini Association (BITSAA), for helping us reach out to our alumni for their support. Furthermore, we would also like to thank the Department of Biological Sciences, BITS Pilani K. K. Birla Goa Campus as well as the Director, BITS Pilani K. K. Birla Goa Campus for their consistent 
    support and faith during the entire course of the project.






append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Home")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
