extends ../templates/contents.pug

block headVars
    - var title = "All India iGEM Meet"
    - var requireMathJax = false
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
    - var theme = "yellow"

block article
    :markdown-it(html)
        # All India iGEM Meet
        
        In collaboration with IISER Tirupati, IISER Bhopal, IISER Berhampur, MIT Manipal and IIT Roorkee, we hosted the first-ever virtual 
        All India iGEM Meet from July 31- August 1! Fueled by iGEM’s principle of collaboration, this year’s AIIM aimed to overcome the barriers 
        posed due to the global pandemic. We had eminent professors from across the country, having talks about a variety of topics.

        Our Speakers included Dr. Partho Sarothi Ray, IISER Kolkata; Dr Chaitanya Athale, IISER Pune; Dr Amjad Hussain, IISER Bhopal; and Dr Sumit Biswas, BITS Goa.

        There were several team run sessions that gave us a chance to interact and collaborate with teams from across the country. 

        We had the opportunity to present our project in a mini Jamboree format to a panel of acclaimed judges. Being a first time team, AIIM gave us a platform to exchange 
        insights in synthetic biology and also to receive feedback from different perspectives and gain creative solutions for difficulties faced by each team. 
           
    - var imgpath = "" + require("../assets/img/AIIM-EventImage.png")["default"]
    +image(1, imgpath, "A picture from an AIIM Event!")

    - var imgpath = "" + require("../assets/img/AIIM-SDabholkarEvent.png")["default"]
    +image(2, imgpath, "A talk by Sugat Dabholkar - the first Indian iGEMer!")

    :markdown-it(html)

        # BioSummit 

        In collaboration with The Dais India, EMERGE, BITSMUN Goa, and iGEM Manipal Biomachines, we organized the first-ever national-level iGEM India BioSummit 2020 on 25th July 2020.

        This was a part of the All India iGEM Meet which was conducted on 31st July 2020 and 1st August 2020. The BioSummit focused on an interdisciplinary interaction for synthetic biology 
        and its relevance cum impact value in the achievement of the Sustainable Development Goals of the United Nations. Our aim was to lead a healthy discussion revolving around these goals 
        which were discussed in brief in four committees namely - Ethics of Terraforming, Medical Data Privacy, Prevention of Biowarfare, and Genetic Cosmetic Treatments.

        The SDGs that were discussed in the committees were:

        * **Committee 1** 
            - Agenda: Ethics of terraforming: Making Mars suitable for human inhabitation 
            - SDGs:   covering Clean water and sanitation (Goal 6), Climate action (Goal 13)        
        * **Committee 2** 
            - Agenda: Health & Medical Data Privacy 
            - SDGs:  Industry, Innovation, and Infrastructure (Goal 9), Good health and Well Being (Goal 3)
        * **Committee 3** 
            - Agenda: Availability of Genetic Cosmetic treatment to the population based on the wealth distribution 
            - SDGs: Decent work and economic growth, Responsible consumption (Goal 12), Reduced Inequalities (Goal 10)
        * **Committee 4** 
            - Agenda: Ethics of terraforming: Making Mars suitable for human inhabitation
            - SDGs: Clean water and sanitation (Goal 6), Climate action (Goal 13)
    
    - var imgpath = "" + require("../assets/img/AIIM--Biosummit.png")["default"]
    +image(3, imgpath, "A picture from the BioSummit!")

    :markdown-it(html)

        The BioSummit boasted international judges from the USA to Japan as well as substantial outstation participation. Each committee had a fruitful discussion about their respective agendas 
        and the judges and moderators gave interesting insights and ensured the smooth flow of events. Each participant contributed to the discussion by adding on to each other’s information, 
        identifying problems, and providing solutions in a collaborative manner which led to interesting conclusions from each committee. At the end of the discussion, the panel for each committee 
        announced two titles for the participating attendees: 'Outstanding Participation' and 'Special Mention'.



append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Accessibility")
    +buttonRight("Home")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
