extends ../templates/contents.pug

block headVars
    - var title = "Attributions"
    - var requireMathJax = false
    - var backgroundImage = "" + require("../assets/img/Attributions--header.svg")["default"]
    - var headerBackgroundColor = "#5b061a"
    - var backgroundType = "vector"
    - var backgroundAttribution = "Photo from Freepik"
    - var backgroundAttributionLink = "https://freepik.com"
    - var theme = "journal"

block article

    :markdown-it(html)

        An iGEM project is a truly collaborative experience. Realising our project idea required a lot of help: big and small, 
        and in all shapes and sizes and colours. Here are all the people who extended their support with their precious time 
        and experience and helped us make the world a sweeter place. A huge **thank you** to everyone — for everything!

        # Instructors

        ## Primary Principal Instructor
        **Dr. Sumit Biswas** (_Associate Professor, Department of Biological Sciences_)

        Dr. Sumit Biswas was the PI for the first ever iGEM team from BITS Pilani University! We would like to thank him for making it possible for us to 
        participate in the iGEM competition and providing us with a workplace and resources to materialise our ideas. We really appreciate his 
        engagement with the project and the ability to ask him questions and discuss potential ideas at any time. His constant support and 
        guidance throughout the competition season enabled us to reach this stage.

        ## Secondary Principal Instructor
        **Dr. Malabika Biswas** (_Assistant Professor, Department of Biological Sciences_)

        Dr Malabika Biswas guided us on experimental design, wetlab techniques and the design of sequences. Her valuable inputs helped us develop and 
        ameliorate our project. We also thank her permitting us to use her lab space and resources to plan, design and conduct our experiments.

        <br>

        # Advisors

        **Varsha Jaisimha**, _iGEM Ambassador for South Asia_, for mentoring us throughout the competition season, and for providing valuable 
        and significant feedback about each component of our project.

        # Team

        **Shruti Sridhar** worked on creating the killswitch, the biosensor, and the scaling-up processes while also helping out 
        with the modelling of our genetic constructs. She spearheaded our collaboration with the University of Rochester on their 
        Science as an Art initiative. Shruti also played a significant role in constructing our Human Practices approach and our 
        Accessibility Initiative. In addition, Shruti helped out with the Language Project by translating content into Tamil and 
        also contributed to our Education & Outreach initiatives.

        **Arya Agarwal** worked on organising the AIIM BioSummit in collaboration with MIT-Manipal and was extensively involved in 
        our social media management (Twitter) and the content design for social media.. She also featured in a podcast created by 
        iGEM UPF Barcelona. Arya also contributed greatly towards the Human Practices area of our project.

        **Gourav Saha** worked on experiment design and the construction and sequencing of the genetic circuits used in our project; 
        furthermore, he also worked on hardware design. He also extensively managed our social media presence (Instagram) and our collaborations. 
        Gourav also helped out with the Language Project by translating content into Bengali and with our Education & Outreach initiatives.

        **Yogen Borkar** worked on the modelling team and helped model the biosensor along with designing the scaling-up processes. He was 
        also a significant part of the Human Practices team and the collaboration with Rochester with his extensive knowledge of Indian classical 
        music. Yogen also contributed to our Education & Outreach initiatives.

        **Ameya Thete** worked on the modelling team and helped model the kill switch and the polymer inoculant. He was also a part 
        of the Accessibility Initiative and the Language project where he helped out by translating content into Marathi. Ameya also 
        dabbled a bit in wiki design and construction.

        **Pranav Ballaney** was responsible for creating our wiki as well as our wiki starter pack. Pranav was also an integral part of 
        the Accessibility Initiative — where he helped out by translating content into Hindi — and worked on making wikis more accessible. 
        He also helped out greatly with the Human Practices content and approach as well as with the Education & Outreach programs.

        **Sharanya Shastri** is our-go to design and animation person. She led our graphic design team and designed the overall 
        aesthetic of our wiki, including all animations. She also designed all our posters and our presentation videos.

        **Suhas Badadal** contributed greatly to the sequences team where he designed our parts and worked on experiment design. He also 
        led the hardware team to develop a bioreactor. Suhas was also an important member of our Education and Outreach program as well as 
        the Human Practices team by helping us set up meetings with stakeholders. 

        **Saransh Gokhale** is our in-house economist. He was responsible for framing our economic model and determining the economic utility 
        and scalability of our product.  Saransh also added the entrepreneurial dimension to our project.

        **Shrilaxmi Patil** is our team spirit captain! She helped out the modelling team and is responsible for starting the Humans of iGEM 
        initiative — a photoblog of the incredible people who make iGEM what it is.

        **Naman Choudhary** was an active member of our wetlab and the sequences team. Naman also contributed to the Human Practices initiative 
        by sourcing contacts and helping us set up meetings with stakeholders.

        **Itihaas Madala** was responsible for designing the experiments that would help prove the viability of our product on a large scale. 
        He also contributed to the modelling team by forming the double auxotroph model for our system.


        # General Support

        **André Hermann**, _Co-chair of the iGEM Policy Committee_, for helping us understand the landscape of sugarcane farming and processing internationally, 
        especially in Brazil. He also helped us propose a GMO policy for our project.

        **Mime Club, BITS Goa** for their support and help in making our promotional video.

        **BITSMUN, BITS Goa** for helping us organise the AIIM Biosummit.

        **Arul Murugan**, _Chemical Engineering Undergrad at BITS Pilani K.K. Birla Goa Campus_, helped us reach out to farmers in the Tamil Nadu belt. 


        # Wetlab Support

        **Vijay Hemmadi** and **Lakshmi Menon**, _researchers at BITS Pilani K. K. Birla Goa Campus_, helped us with our bootcamp session and taught 
        us laboratory techniques required for wetlab.


        # Drylab Support

        **Dr. Anirban Roy**, _Assistant Professor in the Department of Chemical Engineering, BITS Pilani K.K. Birla Goa Campus_, provided valuable counsel 
        regarding the design of our process flow diagram and bioreactor.

        **Rohan Ranganath**, _Chemical Engineering undergraduate, BITS Pilani Batch of 2020_, aided us with the rationale and need for scaling up and the thought-process involved in drawing process flow diagrams 
        and designing bioreactors.

        **Dr. Vivek Rangarajan**, _Assistant Professor in the Department of Chemical Engineering, BITS Pilani K.K. Birla Goa Campus_, helped us extensively with the
        biochemical modelling of our project.
        
        **Ashish Dagade**, helped us with scaling up and implementing a process flow diagram.

        **Shubhankar Londhe**, _2019 iGEM team, IISER, Pune_, helped us get started with the modelling of biological systems by providing valuable resources and guidance.


        # Entrepreneurship

        **Dr. Bejoy K. Thomas**, _Associate Professor in the Department of Humanities and Social Sciences, IISER, Pune_, helped us determine the economic viability of our project.

        **Ujjal Sharma**, _Economics undergraduate at BITS Pilani K. K. Birla Goa Campus, Batch of 2023_, provided feedback and some suggestions for improvement on the entrepreneurial aspects of the project. 


        # Education and Outreach

        **Inner Wheel Victory Club, Lucknow ** for their help with our Accessibility and Outreach initiatives and providing us with a platform to distribute our STEM materials.
     
        **SynBio for Everyone** provided us with engaging content on synthetic biology which could be distributed to Sparsha and the Inner Wheel Foundation, Lucknow. 

        **Yoshi Goto**, _iGEM Ambassador for USA - West Coast_,  helped us streamline our Humans of iGEM initiative.  

        **Deeksha, Bangalore** provided us with a platform to engage with high school students for our synthetic biology webinar series. 

        **Abhigyaan, BITS Goa** provided us with a social media platform to engage with the general population for our Mythbusters series on the COVID pandemic.

        **Center for Technical Education, BITS Goa**, provided us with an opportunity to conduct a course on engineering principles in biology for a diverse, interdisciplinary group of students.

        # Other

        Icons made by [Google](https://www.flaticon.com/authors/google) from [Flaticon](https://www.flaticon.com/)

        Icons made by [Freepik](https://www.flaticon.com/authors/freepik) from [Flaticon](https://www.flaticon.com/)

        Icons made by [iconixar](https://www.flaticon.com/authors/iconixar) from [Flaticon](https://www.flaticon.com/)

        Icons made by [Pixel perfect](https://www.flaticon.com/authors/pixel-perfect) from [Flaticon](https://www.flaticon.com/)

        Cover picture on Model and Experiment pages from American Society for Microbiology Agar Art Contest, "Marine Universe", Janie Kim

        <br>

        ----
      
        This wiki was created by the iGEM BITS Goa team of 2020 as a deliverable for the International Genetically Engineered Machine (iGEM) competition. All content, unless explicitly stated otherwise, on this wiki 
        is available under the Creative Commons [Attribution](https://creativecommons.org/licenses/by/4.0/) 4.0 license (or any later version).

        ---- 

        This wiki was developed using Bootstrap - a free and open-source CSS framework. Bootstrap is released under the MIT license and is copyright 2018 Twitter. 

        ----

        Cover images for some pages were sourced from Unsplash. Unsplash grants an irrevocable, nonexclusive, worldwide copyright license to download, copy, modify, distribute, perform, 
        and use photos from Unsplash for free, including for commercial purposes, without permission from or attributing the photographer or Unsplash. This license does not include the right 
        to compile photos from Unsplash to replicate a similar or competing service.

        ----

        The BITS Pilani colour emblem is a registered trademark of Birla Institute of Technology & Science, Pilani.


append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Team")
    +buttonRight("Collaborations")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
