extends ../templates/contents.pug

block headVars
  - var title = "Collaborations"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "" + require("../assets/img/Collaborations--header.svg")["default"]
  - var headerBackgroundColor = "#1faaad"
  - var backgroundAttribution = "Photo from Freepik"
  - var backgroundAttributionLink = "https://www.freepik.com/"
  - var theme = "team"

block article
  :markdown-it(html)

  h1 Technical Collaborations 

  .row
    .col-md-8
      h3 iGEM OhioState
      p We collaborated with the Ohio State team for our kill switch characterisation and biocontainment. Our project contains a three-tiered biosafety system, since we plan on working with inoculating our strain into plant systems. The Ohio State team helped us by validating our kill switch mathematical model and biosafety considerations. 

    .col-md-4.mt-4
        - var imgpath = "" + require("../assets/img/Collaborations--OhioState-Logo.jpg")["default"]
        +ximage(imgpath, "iGEM Ohio State University", 70)

  h3 iGEM Groningen 
  p The Groningen team were also working on a plant based project regarding nematode infestation in potatoes. They helped us by providing valuable feedback for our toxicity model for our inoculant delivery mechanism. 

  - var imgpath = "" + require("../assets/img/Collaborations--Groningen.png")["default"]
  +ximage(imgpath, "Meeting iGEM Groningen", 80)

  h3 iGEM UNESP 
  p The UNESP team was crucial for our understanding of sugarcane cultivation in Brazil. They provided us the contact of their former team member, Andre Hermann, who guided us on policy guidelines and framework for GMOs.

  - var imgpath = "" + require("../assets/img/Collaborations--UNESP.jpeg")["default"]
  +ximage(imgpath, "Meeting Andre Hermann", 80)

  h1 The All India iGEM Meet 2020
  :markdown-it(html)
    Fueled by iGEM’s principle of collaboration, this year’s AIIM, was held in collaboration with 6 Indian iGEM teams - iGEM IISER Bhopal, iGEM IISER Behrampur, iGEM MIT Manipal, iGEM IIT Roorkee, and iGEM IISER Tirupati — aiming to overcome the barriers posed due to the global pandemic. 
    We had eminent professors from across the country giving us talks on a variety of topics.

  
  - var imgpath = "" + require("../assets/img/Collaborations--AIIMBanner.png")["default"]
  +ximage(imgpath, "")


  :markdown-it(html)

    Our Speakers included
    - Dr. Partho Sarothi Ray, _IISER Kolkata_, Mathematical Modelling for Molecule Discovery 
    - Dr Chaitanya Athale, _IISER Pune_, Developing mathematical models of your synthetic biology project and cracking the Model Medal Code with 
    - Dr Amjad Hussain, _IISER Bhopal_ , Tumour microenvironment, genomics and next generation of therapies 
    - Dr Sumit Biswas, _BITS Goa_, Needle in a Haystack

    There were several team run sessions that gave us a chance to interact and collaborate with teams from across the country. We had the opportunity to present our project in a mini Jamboree format to a panel of acclaimed judges. Being a first time team, AIIM gave us a platform 
    to exchange insights in synthetic biology and also to receive feedback from different perspectives and gain creative solutions for difficulties faced by each team.

  - var imgpath = "" + require("../assets/img/AIIM-EventImage.png")["default"]
  +ximage(imgpath, "A picture from an AIIM Event!")

  :markdown-it(html)

    In collaboration with The Dais India, EMERGE, BITSMUN Goa, and iGEM Manipal Biomachines, we organized the first-ever national-level iGEM India BioSummit 2020 on 25th July 2020.

    This was a part of the All India iGEM Meet which was conducted on 31st July 2020 and 1st August 2020. The BioSummit focused on an interdisciplinary interaction for synthetic biology 
    and its relevance cum impact value in the achievement of the Sustainable Development Goals of the United Nations. Our aim was to lead a healthy discussion revolving around these goals 
    which were discussed in brief in four committees namely - Ethics of Terraforming, Medical Data Privacy, Prevention of Biowarfare, and Genetic Cosmetic Treatments.

    The SDGs that were discussed in the committees were:

    * **Committee 1** 
            - Agenda: Ethics of terraforming: Making Mars suitable for human inhabitation 
            - SDGs:   covering Clean water and sanitation (Goal 6), Climate action (Goal 13)        
    * **Committee 2** 
        - Agenda: Health & Medical Data Privacy 
        - SDGs:  Industry, Innovation, and Infrastructure (Goal 9), Good health and Well Being (Goal 3)
    * **Committee 3** 
        - Agenda: Availability of Genetic Cosmetic treatment to the population based on the wealth distribution 
        - SDGs: Decent work and economic growth, Responsible consumption (Goal 12), Reduced Inequalities (Goal 10)
    * **Committee 4** 
        - Agenda: Ethics of terraforming: Making Mars suitable for human inhabitation
        - SDGs: Clean water and sanitation (Goal 6), Climate action (Goal 13)
  
  .row
    .col.md-4
      - var imgpath = "" + require("../assets/img/Collaborations--Biosummit1.png")["default"]
      +ximage(imgpath, "Biosummit committees")
    .col.md-4
      - var imgpath = "" + require("../assets/img/Collaborations--Biosummit2.png")["default"]
      +ximage(imgpath, "Biosummit committees")
    .col.md-3
      - var imgpath = "" + require("../assets/img/Collaborations--Biosummit3.png")["default"]
      +ximage(imgpath, "Biosummit committees")
    
  - var imgpath = "" + require("../assets/img/AIIM--Biosummit.png")["default"]
  +ximage(imgpath, "A picture from the BioSummit!")

  :markdown-it(html)

    The BioSummit boasted international judges from the USA to Japan as well as substantial outstation participation. Each committee had a fruitful discussion about their respective agendas 
    and the judges and moderators gave interesting insights and ensured the smooth flow of events. Each participant contributed to the discussion by adding on to each other’s information, 
    identifying problems, and providing solutions in a collaborative manner which led to interesting conclusions from each committee. At the end of the discussion, the panel for each committee 
    announced two titles for the participating attendees: 'Outstanding Participation' and 'Special Mention'.

  h1 Software

  .row
    .col-md-8
      h3 iGEM Stockholm 
      p.
        iGEM Stockholm used our iGEM Wiki Starter Pack and iGEM WikiSync softwares to build their wiki. Besides 
        giving us their valuable feedback, they were instrumental in improving and consolidating the documentation for the software. 
    .col-md-4.mt-5
      - var imgpath = "" + require("../assets/img/Collaborations--Stockholm-Logo1.png")["default"]
      +ximage(imgpath, "iGEM Stockholm", 60)

  .row
    .col-md-4.mt-5
      - var imgpath = "" + require("../assets/img/Collaborations--Manipal--Logo.svg")["default"]
      +ximage(imgpath, "iGEM MIT MAHE", 70)
    
    .col-md-8
      h3 iGEM MIT MAHE
      p We helped MIT MAHE set up their wiki using our iGEM Wiki Starter Pack and WikiSync softwares in exchange for their valuable feedback. We also helped them set up continuous deployment from their Github repository to iGEM.      


  .row
    .col-md-8
      h3 iGEM Thessaly 
      p.
        iGEM Thessaly was having trouble with uploading stylesheets and JS files to their wiki so we met them over a video call to help them with this issue
      h3 UNSW Australia, UGhent Belgium, Abu Dhabi, IIT Roorkee, GZ HFI, Virginia
      p.
        iGEM teams built their wikis using our iGEM Wiki Starter Pack and WikiSync packages.
    .col-md-4.mt-5
      - var imgpath = "" + require("../assets/img/Collaborations--Thessaly-Logo1.png")["default"]
      +ximage(imgpath, "iGEM Thessaly", 60)

  h1 Education, Policy and Outreach 

  .row
    .col-md-8
      h2 UANL, DTU Denmark, Waterloo and Ohio State
      p We collaborated with these teams over the course of the competition season for our comparative study of GMO policies across different. 
    .col-md-4
      - var imgpath = "" + require("../assets/img/Collaborations--UANL-Logo.png")["default"]
      +ximage(imgpath, "iGEM UANL", 50)

  .row
    .col-md-4
      - var imgpath = "" + require("../assets/img/Collaborations--IISER-Pune-Logo.png")["default"]
      +ximage(imgpath, "iGEM IISER Pune", 60)
    .col-md-8
      h2 IISER Pune
      p The IISER Pune teams were one of the first teams we met. Their project domain was closely related to one of our alumnus Dr Shruthi Vembur’s research field. We provided them with her contact for any help they may require. 

  .row
    .col-md-8
      :markdown-it(html)
        ## IIT Madras, Rochester 
        The Language Project was created by IIT Madras, to address the difficulties in science communication and to make science more accessible. This year BITS Goa and the University of Rochester collaborated with IIT Madras to expand the number of initiatives under this umbrella.
        
        You can read more about our efforts on our [Science Communication](/Education) page.
    .col-md-4
      - var imgpath = "" + require("../assets/img/Collaborations--RochesterLogo.png")["default"]
      +ximage(imgpath, "iGEM UofRochester", 80)


  - var imgpath = "" + require("../assets/img/Collaborations--Rochester.png")["default"]
  +ximage(imgpath, "iGEM Rochester")

  :markdown-it(html)

  .row
    .col-md-8
      h2 Calgary 
      p We first met the Calgary team when they hosted JulyGEM. We later met up with them to discuss the various milestones and challenges faced by first time teams. They provided us with some valuable inputs that helped us in shaping our synthetic biology course.
    .col-md-4.mt-5
      - var imgpath = "" + require("../assets/img/Collaborations--Calgary-Logo.png")["default"]
      +ximage(imgpath, "iGEM Calgary", 80)

  h3 Pittsburgh and Barcelona
  p We met with the Pittsburgh and Barcelona teams for their podcasts about iGEM teams. The Pittsburgh team’s podcast was to shine a light on current iGEM teams and their progress so far. The iGEM Barcelona team had a live podcast (‘Charlas In Silico’) about iGEM and synthetic biology. 

  - var imgpath = "" + require("../assets/img/Collaborations--Pittsburgh.png")["default"]
  +ximage(imgpath, "Meeting iGEM Pittsburgh", 50)

  .row
    .col-md-8
      :markdown-it(html)
        ### Korea SIS
        The Korea SIS team is currently working on reducing post harvest losses in food and grain crops. We helped them in formulating their economic model as well as sharing our kill switch mechanism and design.
        ### Korea KSA
        We helped the KSA team by reaching out to our contacts in the paper industry in India. They required information on paper recycling which we were able to help them with. 
    .col-md-4.mt-5
      - var imgpath = "" + require("../assets/img/Collaborations--SISKorea.png")["default"]
      +ximage(imgpath, "iGEM Korea-SIS", 60)

  
  :markdown-it(html)
      ### Synbio for Everyone 
      We collaborated with Synbio for Everyone for our education initiatives. Synbio for Everyone is a non-profit organization located in Washington State. Synbio for Everyone consists of students from a variety of majors who work on improving synthetic biology education accessibility and reducing educational equity gaps in STEM by writing curriculum and conducting educational outreach events. They helped us in curating content for circulation among the children of the Sparsha foundation.

  h1 Humans of iGEM 
  :markdown-it()
    During the course of the competition season, we had the chance to meet several teams who collaborated with us for our [Humans of iGEM](https://medium.com/humans-of-igem) initiative. These included - MSP iGEM, iGEM Calgary, Kaavya, the iGEM ambassador for Japan, Varsha Jaisimha - the ambassador for Asia-Pacific. 

  
  h1 Social Media Collaborations

  .row
    .col-md-8
      h2 iGEM Düsseldorf 
      p
        | iGEM Düsseldorf's Postcard project involved more than 30 iGEM teams from all over the world sending them their self-designed postcard which 
        | showed an image related to their project or synthetic biology in general on the front and a small informational text on the back. After all postcards had arrived, 
        | they mixed them up and sent a package back to all participants, so each team received postcards from all over the world. You can find all the postcards on their wiki 
        a(href="https://2020.igem.org/Team:Duesseldorf/Collaborations") here.
    .col-md-4.mt-5
      - var imgpath = "" + require("../assets/img/Collaborations--Duesseldorf.png")["default"]
      +ximage(imgpath, "iGEM Düsseldorf", 80)


  h2 iGEM IISER Bhopal
  
  h3 The Sound of iGEM

  p
   | We contributed to iGEM IISER Bhopal’s idea to create a Spotify Playlist of the songs that different teams listen to all across the world! You can find our playlist 
   a(href=" https://open.spotify.com/playlist/7rVzolTBtB2QmqM63Fsd66?si=JLcqfvnMS82sS-rCF6XQAA") here.

  h3 The Sugar Rush Challenge
  p
    | The iGEM IISERB team came up with a way to make your quarantine fun and engaging. You can find our contribution to the Sugar Rush Challenge on our instagram page!

  .row
    .col-md-4
      - var imgpath = "" + require("../assets/img/Collaborations--MSP.png")["default"]
      +ximage(imgpath, "iGEM MSP-Maastricht", 60)
    .col-md-8
      h2 iGEM MSP-Maastricht
      p 
        | The MSP iGEM team hosted an online treasure hunt challenge on Instagram. It consisted of five word searches, each of them having a different theme. We had a lot of 
        | fun attempting this challenge whose aim was to try and provide some fun and aimed to destress the teams in these complicated times of COVID-19.



append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Attributions")
  +buttonRight("Home")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
