html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title iGEM BITS Goa
    body
        include ../templates/nav.pug
        header.d-flex.justify-content-center.align-items-center
            .container.text-center
                .heading.d-flex.justify-content-center.align-items-center
                    h1 
        section.white
            .container
                .row
                    .sidebar.col-3
                        h3.
                            We'll thank the alumni somewhere here as well.
                    .content.col-9
                        h2 Maybe another section here? 
                        p.
                            Felt like a white break was necessary before the footer. Or we could use this 
                            white as the footer itself. Solves the logo issue too.
                        p.
                            Anything else that needs to be added?