extends ../templates/contents.pug

block headVars
    - var title = "Design"
    - var requireMathJax = false

block article
    :markdown-it(html)

        # Problem Statement

        The <dfn>current ~ ongoing</dfn> industry practices for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.

        ## Level 2 Heading1

        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing.

        The irreversible binding between the AACs and chlorophyll prevents reuse of the AACs, leading
        to increased costs for the manufacturer. This also increases the amount of 
        [Rosano et al., 2019](#citation1) waste produced by the system. The waste is mixed into animal feed 
        and released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.

        ### Level 3 Heading

        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs. whatever

        # Project Design

        The current industry practices for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.

    +image(1, "../assets/img/Description--calgary.jpg", "hello")
    +image(2, "../assets/img/Description--giphy.gif", "ser", 40)
    :markdown-it(html)
        # Genetic Design of Biosensor
        
        This is the genetic circuit brooooo look how cool!
    +image(3, "../assets/img/Biosensor.PNG", "Genetic Circuit of Biosensor")

    :markdown-it(html)

        ## Level 2 Heading2

        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.

        > Creativity is just connecting things. When you ask creative people how they did something, they feel a 
        > little guilty because they didn't really do it, they just saw something. It seemed obvious to them after 
        > a while. That's because they were able to connect experiences they've had and synthesize new things.
        >
        > **Steve Jobs**

        ### Level 3 Heading

        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of [Allen & Sheridan, 2015](#citation2) oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.

        # Dummy Section

        The current industry practices for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.

        ## Level 2 Heading

        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.
        
    :markdown-it(html)
        <mark>here be dragons</mark>

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | This is      | the table     | header row   |
        | -----------  | ------------- | ------------ |
        | 1            | 2             | 3            |
        | 4            | 5             | 6            |
        |Content       |   **Cell**    |         Cell |                                               
        |New section   |     More      |[Data](https://google.com) |
        |And more      | With an escaped '\|'       ||
        
        [Table 1: Caption goes here.]


        |              |          Grouping           ||
        |First Header  | Second Header | Third Header |
        | ------------ | :-----------: | -----------: |
        |Content       |          *Long Cell*        ||
        |Content       |   **Cell**    |         Cell |                                               
        |New section   |     More      |[Data](https://google.com) |
        |And more      | With an escaped '\|'       ||
        
        [Table 1: Caption goes here.]

    :markdown-it(html)
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        <dfn>chlorophyll ~ green pigment</dfn> prevents reuse of the AACs, leading to increased costs for the
        manufacturer. This also increases the amount of waste produced by the system. The waste is mixed into
        animal feed and released into the ecosystem, where it has the potential to alter soil pH and nutrient 
        [here is a link](https://google.com) availability for future crops. Our team sought to find
        an alternative method of oil-processing that addresses all three issues presented by AACs.

        The current industry ***practices*** for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.

        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of [hello again](#citation2) oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.

append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Previous")
    +buttonRight("Sample")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
