extends ../templates/contents.pug

block headVars
    - var title = "Design"
    - var contents = ['Problem', 'Project Design', 'References']
    //- Don't forget References

block article
    //- mind the quotes and the plus sign
    +heading("Problem")
    p.
        The current industry practices for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.
    h2 Level 2 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.
    h3 Level 3 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.

    +heading("Project Design")
    p.
        The current industry practices for chlorophyll removal from green seed canola oil involve the use 
        of acid-activated clays (AACs). However, AACs are associated with a variety of problems, including 
        product loss, lack of reusability, and environmental concerns.
    h2 Level 2 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.
    h3 Level 3 Heading
    p.
        The molecular structure of AACs causes them to bind to chlorophyll and retain large volumes of oil, 
        resulting in a 20% loss of oil during processing. The irreversible binding between the AACs and 
        chlorophyll prevents reuse of the AACs, leading to increased costs for the manufacturer. This also 
        increases the amount of waste produced by the system. The waste is mixed into animal feed and 
        released into the ecosystem, where it has the potential to alter soil pH and nutrient availability 
        for future crops. Our team sought to find an alternative method of oil-processing that addresses all 
        three issues presented by AACs.

append nextButton
    //- mind the quotes and the plus sign
    +button("Human Practices")

