extends ../templates/contents.pug

block headVars
  - var title = "Design"
  - var requireMathJax = true
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "" + require("../assets/img/Design--header.svg")["default"]
  - var headerBackgroundColor = "#fff3f3"
  - var backgroundType = "vector"
  - var backgroundAttribution = "Photo by Jean Wimmerlin on Unsplash"
  - var backgroundAttributionLink = "https://unsplash.com/photos/tjZ-g9VnT7U"
  - var theme = "human-practices"

  style.
    header #heading h1 {
      color: #b23654 !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:hover, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:visited {
      color: #b23654 !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::before, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::after {
      background-color: #b23654 !important;
    }

block article
  :markdown-it(html)

    # Overview 

    We aim to target invertase, the enzyme present in the sugarcane stem which is responsible for the degradation of sucrose into glucose and fructose. The project has been structured 
    into the following major modules:
      - A fructose-regulated anti-invertase construct
      - An atmospherically-regulated kill switch
      - A novel polymer inoculant

    Each aspect of the project design has been explained in the proceeding sections. Click [here](/Appendix#ANoteOnInvertases) to know more about the action of invertases. 

    # pFruB - Cra Construct

    The primary product of the action of the invertase enzyme is fructose and glucose. Hence the concentration of fructose inside the sugarcane stem is proportional to the activity of invertase 
    and consequently the amount of invertase present. We employed this dynamic concentration of fructose to modulate the expression of anti-invertase.

    We designed a genetic construct based on a biosensor created by Paris-Saclay ([BBa_K2448032](http://parts.igem.org/Part:BBa_K2448032)). A biosensor is a module that combines biological molecules as the recognition element with a physical transducer 
    or repressor and outputs quantitative data corresponding to the biomolecule’s concentration [Park, M et al., 2013](#citation1). Generally, these specific interactions between the ligand and the transducer are used to determine secretion 
    or production rates in the form of an electrochemical and/or optical signals. In our case, we coupled the biosensor to the expression of anti-invertase.

    ## pFruB - Cra (FruR) Regulation

    The enterobacterial catabolite repressor/activator (Cra) protein or the FruR protein is a pleiotropic regulator that controls expression of a large number of metabolic genes in response to the flux of 
    glycolytic intermediates in various natural biological systems. The regulator is able to interact with specifically fructose-1-phosphate and regulate the action of pFruB promoter (which is a common promoter 
    usually found in the fructose operon) [Pereira, L.F.M. et al., 2016](#citation2) [Chavarría, M et al., 2014](#citation3). 

    ## Mechanism

    The FruR expression is under an IPTG-induced pLac promoter [(BBa_K3156000)](http://parts.igem.org/Part:BBa_K3156000) which is induced before packaging the bacteria in our polymer inoculant. FruR is a transcription factor with an affinity for fructose-1-phosphate which 
    is produced from the D-fructose formed after invertase action. The FruR gene [(BBa_K2448009)](http://parts.igem.org/Part:BBa_K2448009) encoding for the FruR protein prevents the transcription of the pFruB-regulated promoters. pFruB [(BBa_K2448017)](http://parts.igem.org/Part:BBa_K2448017) is the promoter region following FruR and 
    is repressed by the FruR transcription factor, in the absence of D-Fructose. This prevents any further transcription, and no anti-invertase protein is produced. 


  - var imgpath = "" + require("../assets/img/Design--Biosensor_NoFruc.gif")["default"]
  +image(1, imgpath, "The behaviour of the FruR-Cra construct in the absence of fructose", 80)

  :markdown-it(html)
    If D-Fructose is present in the cell, the FruR transcription factor will bind preferentially to it and thus be inactivated. This means that the repression of the related promoter pFruB will be released, enabling the transcription of the 
    anti-invertase protein which can then act on invertase and prevent the inversion of sucrose.

  - var imgpath = "" + require("../assets/img/Design--Biosensor_WithFruc.gif")["default"]
  +image(2, imgpath, "The behaviour of the FruR-Cra construct in the presence of fructose", 80)

  :markdown-it(html)

    ## His Tag

    The His tag is by far the most popular affinity tag for purification of recombinant proteins. Typically, the tag is composed of 6–10 consecutive histidines at either terminus of the protein of interest. These tags can be used for protein purification with the help of Nickel or Cobalt (adjacent period 4 transition metals) in sepharose/agarose 
    based resin columns [Burgess, R. R. & Deutscher, M. P., 2009](#citation11). We use a His tag ([BBa_K1223006](http://parts.igem.org/Part:BBa_K1223006)) in our construct to be able to extract anti-invertase and observe its properties as well as use the protein in different planned experiments.  

    -----

    For the phase-2 of the project, we would like to be able to extract the protein in the lab. The invertase protein sequence we procured had an existing signalling peptide sequence to allow the bacterial chassis secrete the protein in the extracellular matrix. We propose characterisation of this protein and if inadequate, include another strong 
    signalling peptide in the final construct.

    # Atmosphere-Regulated Kill Switch

    Advances in synthetic biology raise increasingly essential questions about biocontamination and biological containment. It becomes imperative that genetically-engineered organisms are 
    not deleterious to the ecosystem and that scientists have adequate control over their production and multiplication. Certain safeguards are developed to ensure all possible safety — 
    which are then introduced into the genetically modified organism — that compels the organism to rely on a “survival” factor to maintain viability in the 
    population. Kill switches when introduced into the genetic material results in cellular death under certain conditions, such as the activation of a “trigger” caused by environmental 
    changes, thus helping us effectively control the proliferation of the genetically-engineered microorganism.

    We intend to introduce our strain of bacteria into the sugarcane matrix to synthesise anti-invertase. Considering the close proximity of the system with both agricultural environments 
    and human consumables, it is indispensable that our bacteria include a lethality mechanism. We propose to use a **modified type II ccdA-ccdB toxin-antitoxin system** as our kill switch that 
    is activated upon exposure to atmospheric concentrations of oxygen. A change in the oxygen concentration in the environment results in a sharp increase in the amount of the toxin protein being 
    synthesised which disturbs the already established equilibrium between the toxin and antitoxin concentrations, effectively killing the cell, and thus preventing any contamination by stray microbes.

    ## Type II Toxin-Antitoxin Systems

    Bacterial toxin-antitoxin systems were characterised in the 1980s as molecular systems encoded in plasmids that ensured the persistence of a plasmid in the host lineage during replication by 
    making the cells “addicted” to the plasmid so that the only daughter cells that survived were the ones that contained the plasmid. This phenomenon is also known as post-segregational killing. 
    Most prokaryotic chromosomes contain a number of toxin-antitoxin modules that consist of a pair of genes that encode for two components: a stable toxin protein and its unstable, labile cognate 
    antitoxin. Toxins are always proteins, but the antitoxins can either be RNAs (in type I and III systems) or proteins (in type II systems) [Syed, M. & Lévesque, C., 2012](#citation4).

    Type II toxin-antitoxin systems use a protein antitoxin to deactivate the toxin protein via protein-protein interactions. All type II antitoxins are dual-function, two-domain proteins that consist 
    of a protein-protein interaction domain and a DNA-binding domain. The antitoxin binds to the toxin and inhibits its activity, and the stable TA complex binds to the operator of the corresponding 
    <dfn>TAS~Toxin-Antitoxin System</dfn> operon via the DNA-binding domain of the antitoxin and represses its transcription [Makarova et al., 2009](#citation5) [Tam & Kline, 1989](#citation6).

    As our product would be introduced into a plant which is later converted into a consumable item, we decided to use the ccdA-ccdB toxin-antitoxin system as the kill switch for its relative non-toxicity 
    towards humans and more generally, mammalian cells [Reschner et al., 2013](#citation7).

    ## ccdA-ccdB System

    In the ccdA-ccdB system, the two genes are organised in an operon in which the antitoxin ccdA gene is loacted upstream of the toxin ccdB gene. ccdA prevents ccdB toxicity by forming a tight ccdA-ccdB complex 
    [Afif et al., 2001](#citation8). ccdB inhibits DNA replication by poisoning DNA gyrase; more specifically, ccdB prevents DNA gyrase from disentangling DNA from replication resulting in double-stranded breaks in 
    the DNA [Dao-Thi et al., 2005](#citation9). ccdA and ccdB are able to form complexes of various stoichiometries depending on their molar ratios.

    Our kill switch is a modified version of the ccdA-ccdB TA system ([BBa_K3512002](https://parts.igem.org/Part:BBa_K3512002), [BBa_K3512001](https://parts.igem.org/Part:BBa_K3512001)), where the ccdB (toxin) CDS is placed under a T7 [(BBa_I719005)](https://parts.igem.org/Part:BBa_I719005) constitutive promoter, 
    and the ccdA (antitoxin) CDS is placed under an FNR promoter [(BBa_K1123000)](http://parts.igem.org/Part:BBa_K1123000) whose activity is controlled by the concentration of oxygen present in the environment. 

    ## FNR Promoter 

    This part we used is a standard FNR promoter. The promoter is used in _E. coli_ strains to induce protein expression in anaerobic environments. It is natively used to induce metabolic processes when 
    the _E. coli_ enter anaerobic environments. The part is often used to express any protein sequence placed behind it in such environmental conditions. On entering a hypoxic environment, the formation of 
    \\( [ 4Fe-4S]^{2+} \\) dimers is stimulated within the FNR-producing bacteria. These dimers are the transcription activators of the FNR promoter. They are able to bind to the promoter, thus allowing 
    it to become active.

    As the environment inside sugarcane is hypoxic compared to the external atmosphere, we chose to place the ccdA antitoxin under the FNR promoter. 
    The mechanism of the kill switch has been explained in the next section.

    ## Mechanism

    The kill switch function is best explained with the help of two different cases: the first where the bacteria is present in a sufficiently oxygenated environment, and the second where it is present in a hypoxic one.

    ### Hypoxic Environment

    The ccdB toxin is under a constitutive promoter which constantly expresses the toxin inside the cell. Due to prevalant hypoxic conditions inside the sugarcane [Bieleski, R. L., 1960](#citation10) conditions, the FNR promoter will be active and hence the ccdA antitoxin will also be produced 
    in the cell. Since both ccdA and ccdB are present in the cell, they form a highly stable toxin-antitoxin complex. This way the bacteria is able to survive inside the sugarcane stem.

    $$ $$


  - var imgpath = "" + require("../assets/img/Design--KS_NoOxy.png")["default"]
  +image(3, imgpath, "Kill switch construct in a hypoxic environment")

  :markdown-it(html)

    ### Aerobic Environment

    In this case, too, ccdB is expressed constitutively with the help of the T7 promoter; however, due to the presence of oxygen, the FNR promoter is switched off. This leads to an increase in the levels of ccdB in the cell which in 
    turn leads to a complete halt in cell division and subsequently its death. This ensures that the bacteria will not be able to survive outside the sugarcane environment.

  - var imgpath = "" + require("../assets/img/Design--KS_Oxy.png")["default"]
  +image(4, imgpath, "Kill switch construct in an aerobic environment")

  :markdown-it(html)

    # Plasmid Design

    We plan to use the pET28a(+) plasmid for our application. 

  .row
    .col-md-6
      - var imgpath = "" + require("../assets/img/Design--BiosensorPlasmid.png")["default"]
      +image(5, imgpath, "Plasmid for the pFruB-Cra Module")

    .col-md-6
      - var imgpath = "" + require("../assets/img/Design--KSPlasmid.png")["default"]
      +image(6, imgpath, "Plasmid for the Atomsphere-regulated Kill Switch", 90)

  :markdown-it(html)

    # Polymer Inoculant

    We have devised a novel polymer inoculant to create an easy-to-use, robust and organic delivery mechanism of our bacteria. The inoculant consists of a Carboxymethylcellulose based polymer, bentonite suspending agent and sorbic acid preservative. We have also optimized the viscosity to minimize 
    the innoculant’s toxicity, and ensured that it is close to that of water for efficient transport. This inoculant would be supplied to the farmer and can be used through an injector mechanism. In this manner the sugarcane’s inherent transport mechanism due to transpirational pull is leveraged 
    for the uniform distribution of the bacteria through the plant. 

    For the large scale manufacturing of this inoculant we have constructed a process flow diagram to emulate an industrial setting. The assembly consists of an anaerobic countinuous stirred tank bioreactor, a mixing tank, a cross-flow filter unit and a sterilization unit. Through diffusivity and 
    mass-flux calculations we hope to able to compute the concentration of bacterial cells needed in the inoculant to ensure effective inactivity of invertase as a part of phase 2.



append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Description")
  +buttonRight("Model")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"authors": "Park, M., Tsai, S.-L., & Chen, W. (2013). ", "doi": "https://doi.org/10.3390/s130505777", "journal": "Sensors", "numbers": "13(5), 5777-5795. ", "title": "Microbial Biosensors: Engineered Microorganisms as the Sensing Machinery.", "type": "article"}, {"authors": "Pereira, L. F. M., Ferreira, V. M., Oliveira, N. G., Sarmento, P. L. V. S., Endres, L. & Teodoro, I. (2017).", "journal": "Annals of the Brazilian Academy of Sciences.", "numbers": "89(2), 1231-1242.", "title": "Sugars levels of four sugarcane genotypes in different stem portions during the maturation phase.", "type": "article", "year_published": 2017}, {"authors": "Chavarr\u00eda, M., Durante-Rodr\u00edguez, G., Krell, T., Santiago, C., Brezovsky, J., Damborsky, J., & de Lorenzo, V. (2014). ", "doi": "https://doi.org/10.1016/j.fob.2014.03.013", "journal": "FEBS Open Bio", "numbers": "4(1), 377-386. ", "title": "Fructose 1-phosphate is the one and only physiological effector of the Cra (FruR) regulator ofPseudomonas putida.", "type": "article"}, {"authors": "Syed, M. A., & L\u00e9vesque, C. M. (2012). ", "doi": "https://doi.org/10.1139/w2012-025", "journal": "Canadian Journal of Microbiology", "numbers": "58(5), 553-562. ", "title": "Chromosomal bacterial type II toxin-antitoxin systems.", "type": "article"}, {"authors": "Makarova, K. S., Wolf, Y. I., & Koonin, E. V. (2009). ", "doi": "https://doi.org/10.1186/1745-6150-4-19", "journal": "Biology Direct", "numbers": "4(1), 19. ", "title": "Comprehensive comparative-genomic analysis of Type 2 toxin-antitoxin systems and related mobile stress response systems in prokaryotes.", "type": "article"}, {"authors": "Tam, J. E., & Kline, B. C. (1989). ", "doi": "https://doi.org/10.1007/BF00261153", "journal": "Molecular and General Genetics MGG", "numbers": "219(1-2), 26-32. ", "title": "The F plasmid ccd autorepressor is a complex of CcdA and CcdB proteins.", "type": "article"}, {"authors": "Reschner, A., Scohy, S., Vandermeulen, G., Daukandt, M., Jacques, C., Michel, B., Nauwynck, H., Xhonneux, F., Pr\u00e9at, V., Vanderplasschen, A. & Szpirer, C. (2013).", "doi": "https://doi.org/10.4161/hv.25086", "journal": "Human Vaccines & Immunotherapeutics", "numbers": "9(10), 2203-2210. ", "title": "Use of Staby\u00ae technology for development and production of DNA vaccines free of antibiotic resistance gene.", "type": "article"}, {"authors": "Afif, H., Allali, N., Couturier, M., & Van Melderen, L. (2001). ", "doi": "https://doi.org/10.1046/j.1365-2958.2001.02492.x", "journal": "Molecular Microbiology", "numbers": "41(1), 73-82. ", "title": "The ratio between CcdA and CcdB modulates the transcriptional repression of the ccd poison-antidote system.", "type": "article"}, {"authors": "Dao-Thi, M.-H., Van Melderen, L., De Genst, E., Afif, H., Buts, L., Wyns, L., & Loris, R. (2005). ", "doi": "https://doi.org/10.1016/j.jmb.2005.03.049", "journal": "Journal of Molecular Biology", "numbers": "348(5), 1091-1102. ", "title": "Molecular Basis of Gyrase Poisoning by the Addiction Toxin CcdB.", "type": "article"}, {"authors": "Bieleski R. L. (1960).", "journal": "Australian Journal of Biological Science.", "numbers": "13, 203-220.", "title": "The physiology of sugar-cane. II.", "type": "article", "year_published": 1960}, {"Google_Books_URL": "https://books.google.co.in/books?id=f6Lp4yna4hoC", "authors": "Burgess, R. R. & Deutscher, M. P.", "publisher": "Elsevier.", "title": "Guide to Protein Purification.", "type": "book", "year_published": "(2009)."}]