extends ../templates/contents.pug

block headVars
    - var title = "Design"
    - var requireMathJax = false

block article
    :markdown-it(html)
        # Fructose Regulated Anti-Invertase Construct 

        The biosensor is the crux of our genetic circuit and is composed of Frur, pFrub and the Anti-invertase gene. 
        Frur is a transcription factor with an affinity for D-fructose. The Frur gene coding for the FruR protein prevents 
        transcription of the regulated promoters. pFruB is the promoter region following FruR and is repressed by the FruR 
        transcription factor,  in the absence of D-Fructose. 

    +image(1, "Design--AIwoFruc.png", "Fructose regulated Anti-Invertase Construct in the absence of Fructose-1-phosphate")

    :markdown-it(html)
        This prevents any further transcription, and no Anti-invertase protein is released. If D-Fructose is present 
        in the cell, the FruR transcription factor will bind preferentially to it and thus be inactivated. This means 
        that the repression of the related promoter pFruB will be released, enabling the transcription of the anti-invertase 
        protein. Which can then act on invertase and stop sucrose loss. 
    +image(2, "Description--calgary.jpg", "hello")

    :markdown-it(html)
        # Killswitch

        It is very important for us to have a robust biosafety model for our project because it is associated with a widely 
        consumed edible product, sugar. The most important parts of the killswitch construct are the FNR promoter, the toxin 
        ccdB responsible for binding and impairing the functioning of bacterial Gyrase and it’s antitoxin ccda. The ccda is under 
        the FNR promoter whereas the ccdb is under a commonly used T7 constitutive promoter. Both promoters are supplemented by 
        conserved and strong Ribosomal Binding Sites (RBS). The FNR promoter is only active in an anaerobic environment and inactivates 
        in an aerobic environment. It forms the crux of the construct because it controls the antitoxin expression. 

        The killswitch function can also be best explained with the help of two different cases. One where the bacterial cell 
        is in an aerobic environment and one in an anaerobic environment.

        ## Anaerobic 

        This Diagram portrays the behaviour of the killswitch genetic circuit inside the sugarcane stem which is an anaerobic environment.
    +image(3, "Description--calgary.jpg", "hello")

    :markdown-it(html)
        The ccdb toxin is under a constitutive promoter which constantly expresses the toxin inside the cell. Due to the nature of 
        the surrounding, the FNR promoter will be active and hence ccda antitoxin will also be produced in the cell. Since both ccda 
        and ccdb is present in the cell, they will make a toxin-antitoxin complex and be degraded. This way the bacteria is able to 
        survive inside the sugarcane stem. 

        ## Aerobic

        This diagram portrays the behaviour of the killswitch genetic circuit outside the sugarcane stem which is an aerobic environment.
    +image(4, "Design--KSAero.png", "Killswitch Genetic Circut outside sugarcane stem")

    :markdown-it(html)
        In this case, too, ccdb is expressed constitutively with the help of the T7 promoter. But due to the presence of oxygen, the FNR 
        promoter is switched off. This leads to an increase in the levels of ccdb in the cell. Which in turn leads to a complete halt in 
        cell division and death. This ensures that the bacteria will not be able to survive outside the sugarcane environment.

    +image(5, "Design--AI.gif", "Anti-Invertase Modelled Protein Structure")




append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Previous")
    +buttonRight("Sample")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
