extends ../templates/contents.pug

block headVars
  - var title = "Education"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "" + require("../assets/img/Education--header.svg")["default"]
  - var backgroundType = "vector"
  - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
  - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
  - var theme = "contribution"
  - var headerBackgroundColor = "#92e7e8"


  style.
    header #heading h1 {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:hover, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:visited {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::before, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::after {
      background-color: #187a7a !important;
    }

    @media only screen and (max-width: 900px) {
      .inner-wheel img {
        max-width: 40% !important;
      }
    }
    .col-md-8, .col-md-4 {
      padding: 0 !important;
    }


block article
  :markdown-it(html)
    Science communication and education both go hand-in-hand. Our team took a multifaceted approach towards scientific communication. We tried our 
    best to reach out to as wide a demographic as possible and address pertinent questions in synthetic biology. Our goal being to make science accessible 
    to everyone while still maintaining the highest integrity of research. Our various initiatives on science communication are listed below.

    # Webinars

    Due the COVID, we unfortunately could not directly interact with our audiences, therefore, chose the medium of a web-based seminar, or a "webinar" to 
    communicate and teach science to a larger audience. We had the opportunity to conduct three webinars for over 600 high school students in the 11th and 
    12th grades belonging to STEM backgrounds of Deeksha Center for Learning, Bangalore. The webinar's objective was to introduce students to the basic concepts 
    of synthetic biology while also showcasing applications of synthetic biology in the backdrop of the ongoing COVID-19 pandemic. We were able to have an open 
    dialogue with these students about Genetically Modified Organisms. This also gave us a platform to discuss our project with these students, who gave us 
    invaluable insights and feedback, which we have implemented in our human-centric design.

    We also circulated a survey among these students to gauge their opinions about synthtic biology and science as a whole. The student demographic consisted of 35% (217) 
    females and 65% (403) males. All students had a background in Physics, Chemistry, Biology, and Mathematics and were preparing for entrance exams to universities.
    From the survey we conducted, there were a few key insights that we gained. Our primary objective was to expose students to research methodology and application-oriented research practices. 
    Initially, 52.8% of the students mentioned that they were interested in a career in research. Following our webinar, when asked the same question, 74% of the students were open to the idea 
    of a career in research, with 77.4% expressing interest in having synthetic biology as part of their curriculum.

    The second half of our webinar focused exclusively on GMOs and students' perception of GMOs. 74.3% of the participants believed that Genetically Modified Organisms (GMO) are a boon to curb the hunger 
    epidemic worldwide. When the remaining 25.7% were asked if knowing that 115 Nobel Laureates worldwide support GMOs would change their perception of GMOs,  74.3% reported feeling more secure about GMOs 
    and their applications. 

    You can find a recording of our webinar [here](https://www.youtube.com/watch?v=dMEfaVo8NGs).

    After knowing the student community's perspective on GMOs, we wanted to focus on the general population and their attitudes towards the same. We circulated a survey to gauge public opinion 
    and the results of the survey have been compiled below.

  .row
    each counter in [11, 10, 9, 8, 7, 6, 5, 4, 3, 2]
      .col-md-6
        - var imgpath = "" + require("../assets/img/Education--survey" + counter + ".png")["default"]
        +ximage(imgpath, "", 100)
    .col
      - var imgpath = "" + require("../assets/img/Education--survey1.png")["default"]
      +ximage(imgpath, "",  50)



  :markdown-it(html)

    André Hermann, a member of the iGEM policy committee, told us that a way to facilitate change is to begin by understanding the policies and regulations that surround GMOs. 
    In this effect, together with iGEM OhioState, iGEM Waterloo, iGEM UANL and iGEM DTU Denmark we gathered and compared our respective country’s regulations on GMOs and biotechnology products 
    in general. We focused on differences in GMO regulations and loopholes in the current regulations for different countries.
    The document we compiled compares the regulations of USA and India and can be found below:

  #collapsibleSections.accordion
    .card
      #headingOne.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            span GMO Policy Collaboration Notes
            i.icon-dropdown
      #collapseOne.collapse(aria-labelledby='headingOne')
        .card-body

          +pdf(require("../assets/docs/Education--Country Policy Collaboration.pdf")['default'], "iGEM BITS Brochure")

  :markdown-it(html)

    # Collaboration with Abhigyaan

    Misinformation and myths have become prevalent in our society since the beginning of the pandemic.
    We collaborated with Abhigyaan — a student-run organization at BITS Goa which aims at providing quality education to the underprivileged and work towards their social upliftment.
    We, along with Abhigyaan, debunked some myths about COVID-19 and promoted safer and smarter ways to deal with the pandemic through posters and infographics. All of our posts can be found on our instagram page. A few of them have 
    been shown below.

  .row
    .col-md-6
      - var imgpath = "" + require("../assets/img/Education--Abhigyaan-1.png")["default"]
      +image(1, imgpath, "An infographic from our collboration with Abhigyaan")
    .col-md-6
      - var imgpath = "" + require("../assets/img/Education--Abhigyaan-2.png")["default"]
      +image(2, imgpath, "An infographic from our collboration with Abhigyaan")

  :markdown-it(html)


    # BioSummit

    In collaboration with The Dais India, EMERGE, BITSMUN Goa, and iGEM Manipal Biomachines, we organized the first-ever national-level iGEM India BioSummit 2020 on 25th July 2020. The BioSummit focused on an interdisciplinary 
    interaction for synthetic biology along with its relevance and impact value in the achievement of the Sustainable Development Goals of the United Nations. Our keynote speakers were Georgios Kostakos, _Executive Director_, FOGGS;
    Sudha Reddy, _Founder_, Eco Foundation for Sustainable Alternatives; and Varsha Jaisimha, _iGEM Asia Ambassador 2020_. More information can be found on our collaborations page [here](/Collaborations#TheAllIndiaiGEMMeet2020).

    # Podcasts and Interviews

    We collaborated with the iGEM Pittsburg team on their podcast to talk about iGEM and synthetic biology. The 'Bluetooth Bacteria' Podcast presents the Pittsburgh iGEM team as they take on controversial topics in synthetic biology including bioweapons, animal organ donation, 
    and genetic dating through the lens of five students from the University of Pittsburgh. Each podcast episode is conversational and accessible to a general audience. They discuss current advances in bioengineering as well as interview different iGEM teams from around the world to learn about their project, 
    experiences, and challenges as they navigate the world of synthetic biology. You can find all their episodes [here!](https://open.spotify.com/show/43IxYDdVX3byKpsEJuT0qT).

    We also appeared on a live podcast, _‘Charlas In Silico’_,  by the iGEM Barcelona team to talk about our experience as iGEMers. 

  - var imgpath = "" + require("../assets/img/Education--pittsburgh.png")["default"]
  +image(3, imgpath, "iGEM BITS Goa featuring in the Bluetooth Bacteria podcast by iGEM Pittsburgh", 50)

  :markdown-it(html)

    # CTE Synthetic Biology Course

    Along with the Centre for Technical Education of our university, we were able to start a course on synthetic biology for undergraduate students. Our course attempts to provide an introduction to bioengineering and 
    describe the various engineering principles used therein. Rather than approaching the subject from a purely biological perspective, this course introduces a multidisciplinary approach that covers physics, mathematics, computer science 
    and even economics. Most importantly, however, the objective of this course is to show that the domain of engineering is ubiquitous and wide-ranging, and not just limited to conventional areas; besides, it also covers how the sciences 
    have been able to benefit from the applications of engineering in their areas. 

  #collapsibleSections.accordion
    .card
      #headingOneA.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseOneA' aria-expanded='true' aria-controls='collapseOneA')
            span CTE Course Handout
            i.icon-dropdown
      #collapseOneA.collapse(aria-labelledby='headingOneA')
        .card-body

          +pdf(require("../assets/docs/Education--CTEHandout.pdf")['default'], "iGEM BITS Brochure")

  :markdown-it(html)

    # Humans of iGEM

    Humans of New York is a photoblog committed to sharing stories that bring people closer together. Inspired by Humans of New York, we started the Humans of iGEM series.  
    Amidst the disconnect caused by the pandemic, we started Humans of iGEM to help teams connect by hearing each other's stories and sharing their own. It is a 
    series of interviews with participants and after-iGEM ambassadors born out of the idea that everyone in iGEM has a story and it is our job to make sure these stories are 
    told. We've interviewed several teams and after-iGEM ambassadors, and published the articles on a Medium blog which you can read [here](https://medium.com/humans-of-igem).

    During the course of planning for Humans of iGEM, we met up with Yoshi (_iGEM Ambassador for USA - West Coast_). Yoshi currently organines the after iGEM podcast initiative. 
    He was instrumental in helping us streamline our process and questions. He also gave us extremely valuable inputs on how we could expand our efforts to different languages. 
    Following the meeting with Yoshi, we met with the iGEM UANL team. They were incredibly supportive and were excited to continue the Humans of iGEM initiative with the LatAm teams.

  - var imgpath = "" + require("../assets/img/Education--HumansOfiGEM.png")["default"]
  +image(4, imgpath, "The Humans of iGEM initiative", 30)

  .row
    .col-md-6
      - var imgpath = "" + require("../assets/img/Education--HoICalgary.png")["default"]
      +image(5, imgpath, "Humans of iGEM interview with iGEM Calgary")
    .col-md-6
      - var imgpath = "" + require("../assets/img/Education--HoIMSP.jpeg")["default"]
      +image(6, imgpath, "Humans of iGEM interview with iGEM MSP-Maastricht")

  :markdown-it(html)
    # Language Project 

    The Language Project was started by the iGEM team from IIT Madras in 2019 to address the difficulties faced in
    communicating scientific ideas to a vast population as well as to an audience not comfortable in English. The
    Language Project started with 18 languages by collaborating with other iGEM teams.

    This year, we collaborated with IIT Madras and the University of Rochester to expand on the initiative. We released
    a survey to ask iGEM teams what they think about language barriers in iGEM and more generally, in science. Almost
    88% of respondents said that there was a dearth of iGEM resources in their native language, and 70% believed that
    having such resources in a diverse range of languages would increase participation in iGEM.

    We found that it was hard to explain our project to a lot of people who had not had any formal education in English, and 
    it would have been contrary to the principles of scientific education and iGEM itself to leave them out, therefore we started 
    off by translating the problem statement and our solution to the problem into vernacular Indian languages along with French and German. 
    These translations were posted to our Instagram page and have been shown below. 

  
  #collapsibleSections.accordion
    .card
      #headingOneC.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseOneC' aria-expanded='true' aria-controls='collapseOneC')
            span English
            i.icon-dropdown
      #collapseOneC.collapse(aria-labelledby='headingOneC')
        .card-body
          .row
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--English_Prob.png")["default"]
              +ximage(imgpath, "", 80)
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--English_Sol.png")["default"]
              +ximage(imgpath, "", 80)
    
  #collapsibleSections.accordion
    .card
      #headingTwoC.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwoC' aria-expanded='true' aria-controls='collapseTwoC')
            span Hindi (हिंदी)
            i.icon-dropdown
      #collapseTwoC.collapse(aria-labelledby='headingTwoC')
        .card-body
          .row
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Hindi_Prob.png")["default"]
              +ximage(imgpath, "", 80)
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Hindi_Sol.png")["default"]
              +ximage(imgpath, "", 80)

  #collapsibleSections.accordion
    .card
      #headingThreeC.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseThreeC' aria-expanded='true' aria-controls='collapseThreeC')
            span Marathi (मराठी)
            i.icon-dropdown
      #collapseThreeC.collapse(aria-labelledby='headingThreeC')
        .card-body
          .row
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Marathi_Prob.png")["default"]
              +ximage(imgpath, "", 80)
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Marathi_Sol.png")["default"]
              +ximage(imgpath, "", 80)

  #collapsibleSections.accordion
    .card
      #headingFourC.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseFourC' aria-expanded='true' aria-controls='collapseFourC')
            span Tamil (தமிழ்)
            i.icon-dropdown
      #collapseFourC.collapse(aria-labelledby='headingFourC')
        .card-body
          .row
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Tamil_Prob.png")["default"]
              +ximage(imgpath, "", 80)
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Tamil_Sol.png")["default"]
              +ximage(imgpath, "", 80)

  #collapsibleSections.accordion
    .card
      #headingFiveC.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseFiveC' aria-expanded='true' aria-controls='collapseFiveC')
            span Bengali (বাংলা)
            i.icon-dropdown
      #collapseFiveC.collapse(aria-labelledby='headingFiveC')
        .card-body
          .row
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Bengali_Prob.png")["default"]
              +ximage(imgpath, "", 80)
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Bengali_Sol.png")["default"]
              +ximage(imgpath, "", 80)
  
  #collapsibleSections.accordion
    .card
      #headingSixC.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseSixC' aria-expanded='true' aria-controls='collapseSixC')
            span Kannada (ಕನ್ನಡ)
            i.icon-dropdown
      #collapseSixC.collapse(aria-labelledby='headingSixC')
        .card-body
          .row
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Kannada_Prob.png")["default"]
              +ximage(imgpath, "", 80)
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--Kannada_Sol.png")["default"]
              +ximage(imgpath, "", 80)

  #collapsibleSections.accordion
    .card
      #headingSevenC.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseSevenC' aria-expanded='true' aria-controls='collapseSevenC')
            span French (Français)
            i.icon-dropdown
      #collapseSevenC.collapse(aria-labelledby='headingSevenC')
        .card-body
          .row
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--French_Prob.png")["default"]
              +ximage(imgpath, "", 80)
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--French_Sol.png")["default"]
              +ximage(imgpath, "", 80)
  
  #collapsibleSections.accordion
    .card
      #headingEightC.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseEightC' aria-expanded='true' aria-controls='collapseEightC')
            span German (Deutsch)
            i.icon-dropdown
      #collapseEightC.collapse(aria-labelledby='headingEightC')
        .card-body
          .row
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--German_Prob.png")["default"]
              +ximage(imgpath, "", 80)
            .col-md-6
              - var imgpath = "" + require("../assets/img/Education--German_Sol.png")["default"]
              +ximage(imgpath, "", 80)

  :markdown-it(html)
    -------
    The results from our preliminary survey led us to the idea of translating the resources available about iGEM to
    foster greater participation in future years. We began by translating some iGEM resources for teams which we thought were important into Indian languages — 
    not only to increase participation in iGEM but also make this material accessible to a broader, multicultural audience.
    To date, we have translated a few resources into multiple Indian languages, and we hope to expand this even further.
    This content can be found below.

  #collapsibleSections.accordion
    .card
      #headingOneB.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseOneB' aria-expanded='true' aria-controls='collapseOneB')
            span Starting your Team!
            i.icon-dropdown
      #collapseOneB.collapse(aria-labelledby='headingOneB')
        .card-body

          +pdf(require("../assets/docs/Accessibility--Start A Team.pdf")['default'], "iGEM BITS Brochure")

    .card
      #headingTwoB.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwoB' aria-expanded='true' aria-controls='collapseTwoB')
            span Navigating iGEM
            i.icon-dropdown
      #collapseTwoB.collapse(aria-labelledby='headingTwoB')
        .card-body

          +pdf(require("../assets/docs/Accessibility--Navigating iGEM.pdf")['default'], "iGEM BITS Brochure")

    .card
      #headingThreeB.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseThreeB' aria-expanded='true' aria-controls='collapseThreeB')
            span Funding
            i.icon-dropdown
      #collapseThreeB.collapse(aria-labelledby='headingThreeB')
        .card-body

          +pdf(require("../assets/docs/Accessibility--Funding.pdf")['default'], "iGEM BITS Brochure")

  :markdown-it(html)
    ----------

    # Inner Wheel Foundation

  .row
    .col-md-8
      p  
        | The International Inner Wheel organization was started around 50 years ago by Margeret Golding. It is one of the largest women's service voluntary organisations in the world and is active in more than 104 countries. 
      p
        | We had the opportunity to meet with the President of the Lucknow chapter of the Inner Wheel Victory Club. They have several charitable projects such as food distribution and clothes drive for nursing homes and hospitals during the pandemic. One of their major undertakings is educational aid. 
        | The Rochester iGEM team is currently working on a cheaper diagnostic method for endometriosis on which they wanted to publicise educational material regarding endometriosis on various platforms. As part of their education initiative, Inner Wheel Victory Club Lucknow circulated posters and infographics.
    .col-md-4.mt-5.inner-wheel
      - var imgpath = "" + require("../assets/img/Education--InnerWheel.png")["default"]
      +ximage(imgpath, "Inner Wheel Foundation", 70)

  :markdown-it(html)

    # Sparsha Foundation

    The Sparsha Foundation has 3000 children to whom they are providing primary education. There is a need for quality STEM content that can be given to these children. We had the opportunity to help with generation of the content that can be disseminated ranging from a variety of topics in STEM. Although we 
    designed and curated content, the collaboration could not completed due to unforseen circumstances arising due to the pandemic. We intend to carry this collaboration forward post the Giant Jamboree. 

    # ASL Initiative

    After contributing to the Language project, we decided to focus on non-verbal languages next with an emphasis on American Sign Language. There is an urgent need in the deaf community for access 
    to the right scientific terms. Fingerspelling is often too tedious for scientific terminology. With the right words, 
    we have the potential to make science come alive for deaf students. Unlike ASL, Indian Sign Language is yet to be 
    standardized across the country. However, with the recently announced National Education Policy in India, ISL will be 
    standardized across the nation, and National and State curriculum materials would be developed for students with hearing 
    impairment. We hope to continue our efforts, post the Jamboree, in breaking barriers with ongoing initiatives that 
    future teams can take forward.

    We wanted to begin educating people about ASL closer to home. In collaboration with the iGEM team from the University
    of Rochester, we created a short video consisting of ten common ASL phrases used during the Jamboree.

  .d-flex.justify-content-center.align-items-center
    video(controls width=720)
      source(src= urlPrefix + require("../assets/video/Accessibility--ASL.mp4")['default'].substr(2), type='video/mp4')

  :markdown-it(html)
    <br>

    Our motivation behind this concept was to aim for a more inclusive Jamboree. Apart from just translators for various
    languages, we also wanted to include ASL to make the whole Jamboree experience more accessible.

    # Dance 

    In the words of an eminent Hindustani classical vocalist Ashwini Bhide-Deshpande, “The scientific must not be kept separate from the aesthetic.” As a team we are heavily involved in the cultural 
    activities of the campus which is why, while brainstorming with iGEM Rochester and IIT Madras, we noticed that they had the same love for art as we do and hence we came up with this unique movement collaboration. 

    Dance as a form of expression transcends boundaries. Now more than ever, it is imperative that we unite and nothing brings people together like dance. We thought that a dance collaboration would be a great way 
    to promote diversity and unity in times of the pandemic. We collaborated with the University of Rochester and IITM for a science through dance initiative. The collaboration was through two different parts.
    Each team choreographed a sequence in different styles ranging from Indian classical to ballet that when stitched together reveals a story. We tried 
    expressing the current pandemic through different dance styles. The overarching message being a story of courage, tenacity and resilience. A story that 
    captures the pathos of the collective experience of humanity in these extraordinary times.

    ## Pass the Mask

    We also organised an activity during the iGEM Global Meetup as a movement collaboration. The activity had participants pass a mask while introducing themselves 
    in their native language. This activity was meant to demonstrate that although the pandemic has affected us all we still persevere and it is meant to create a dance 
    that shows the possibility of overcoming the boundaries and challenges using science during difficult times through collaboration and embracing diversity.

  - var imgpath = "" + require("../assets/img/Dance--PassTheMask.png")["default"]
  +image(7, imgpath, "Our Pass the Mask activity held during the Global Meetup")





append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Human Practices")
  +buttonRight("Home")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
