extends ../templates/contents.pug

block headVars
    - var title = "Education"
    - var requireMathJax = false
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
    - var theme = "yellow"

block article
    :markdown-it(html)
        Science communication and education both go hand-in-hand. Our team took a multifaceted approach towards scientific communication. We tried our 
        best to reach out as wide a demographic as possible and address pertinent questions in synthetic biology. Our goal being to make science accessible 
        to everyone while still maintaining the highest integrity of research. Our various initiatives on science communication are listed below.

        # Webinars

        Due the COVID, we unfortunately could not directly interact with our audiences, therefore, chose the medium of a web-based seminar, or a "webinar" to 
        communicate and teach science to a larger audience. We had the opportunity to conduct three webinars for over 600 high school students in the 11th and 
        12th grades belonging to STEM backgrounds of Deeksha Center for Learning, Bangalore. The webinar's objective was to introduce students to the basic concepts 
        of synthetic biology while also showcasing applications of synthetic biology in the backdrop of the ongoing COVID-19 pandemic. We were able to have an open 
        dialogue with these students about Genetically Modified Organisms. This also gave us a platform to discuss our project with these students, who gave us 
        invaluable insights and feedback, which we have implemented in our human-centric design.

        We also circulated a survey among these students to gauge their opinions about synthtic biology and science as a whole. The student demographic consisted of 35% (217) 
        females and 56% (403) males. All students had a background in Physics, Chemistry, Biology, and Mathematics and were preparing for preparatory exams to undergraduate universities.
        From the survey, we conducted there were a few key insights that we gained. Our primary objective was to expose students to research methodology and application-oriented research practices. 
        Initially, 52.8% of the students mentioned that they were interested in a career in research. Following our webinar, when asked the same question, 74% of the students were open to the idea 
        of a career in research, with 77.4% expressing interest in having synthetic biology as part of their curriculum.

        The second half of our webinar focused exclusively on GMOs and students' perception of GMOs. 74.3% of the participants believed that Genetically Modified Organisms (GMO) are a boon to curb the hunger 
        epidemic worldwide. When the remaining 25.7% were asked if knowing that 115 Nobel Laureates worldwide support GMOs would change their perception of GMOs,  74.3% reported feeling more secure about GMOs 
        and their applications.

        You can find a recording of our webinar [here](https://www.youtube.com/watch?v=dMEfaVo8NGs)

        # Abhigyaan Collaboration

        Misinformation and myths have become highly prevelant in our society, especially so since the beginning of the pandemic carried by the panic associated with it.
        We collaborated with Abhigyaan — a student-run organization at BITS Pilani K.K Birla Goa campus which aims at providing quality education to the underprivileged and work towards their social upliftment.
        We, along with Abhigyaan, debunked some myths about COVID and promoted safer and smarter ways to deal with the pandemic through posters and infographics. All of our posts can be found on our instagram page. A few of them have 
        been shown below!

    - var imgpath = "" + require("../assets/img/Education--Abhigyaan.png")["default"]
    +image(1, imgpath, "Unmasking the Coronavirus — A collaboration with Abhigyaan")

    :markdown-it(html)


        # BioSummit

        In collaboration with The Dais India, EMERGE, BITSMUN Goa, and iGEM Manipal Biomachines, we organized the first-ever national-level iGEM India BioSummit 2020 on 25th July 2020. The BioSummit focused on an interdisciplinary 
        interaction for synthetic biology along with its relevance and impact value in the achievement of the Sustainable Development Goals of the United Nations. Our keynote speakers were Georgios Kostakos, Executive Director, FOGGS;
        Sudha Reddy, Founder, Eco Foundation for Sustainable Alternatives; and Varsha Jaisimha iGEM Asia Ambassador 2020, India. More information can be found on our AIIM page [here](/All_India_iGEM_Meet).

        # Podcasts and Interviews

        We collaborated with the iGEM Pittsburg team for their podcast to talk about iGEM and synthetic biology. The goal of their podcast is to shine the light on current iGEM teams and their progress so far. Each podcast episode is 
        conversational and accessible to a general audience. We also appeared on a live podcast, _‘Charlas In Silico’_,  by the iGEM Barcelona team and to talk about our experience as iGEMers. 

    - var imgpath = "" + require("../assets/img/Education--barcelona.png")["default"]
    +image(1, imgpath, "iGEM BITS Goa featuring in the Charlas In Silico podcast by iGEM Barcelona")

    :markdown-it(html)
        
        # CTE Synthetic Biology Course

        Along with the Centre for Technical Education of our university, we were able to start an exclusive course on synthetic biology for the undergraduate students. Our course attempts to provide an introduction to bioengineering and 
        describe the various engineering principles used therein. Rather than approaching the subject from a purely biological perspective, this course introduces a multidisciplinary approach that covers physics, mathematics, computer science 
        and even economics. Most importantly, however, the objective of this course is to show that the domain of engineering is ubiquitous and wide-ranging, and not just limited to conventional areas; besides, it also covers how the sciences 
        have been able to benefit from the applications of engineering in their areas.

        # Accessibility Initiative

        The Language Project was created by IIT Madras, to address the difficulties in science communication and to make science more accessible. This year BITS Goa and the University of Rochester collaborated with IIT Madras to expand the number of 
        initiatives under this umbrella. It is a multifaceted approach that includes art, dance and music to foster science communication. Further, we seek to increase accessibility of resources through our ASL initiatives and by making iGEM wikis 
        more accessible. More information can be found on our [Accessibility](/Accessibility) page 









append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Human Practices")
    +buttonRight("Humans of iGEM")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
