extends ../templates/contents.pug

block headVars
  - var title = "Engineering"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "" + require("../assets/img/Engineering--sveta.jpg")["default"]
  - var backgroundAttribution = "Photo by Sveta Fedarava on Unsplash"
  - var backgroundAttributionLink = "https://unsplash.com/photos/tI_Odb7ZU6M"
  - var theme = "project"

block article

  h1 Atmosphere Regulated Killswitch

  style.
    svg {
      width: 100%;
      height: auto;
      -webkit-transform: translate3d(0,0,0)
    }

  include ../assets/img/Engineering--Killswitch.svg

append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Model")
  +buttonRight("Safety")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
