extends ../templates/engineering.pug

block headVars
  - var title = "Engineering"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "" + require("../assets/img/Engineering--header.svg")["default"]
  - var headerBackgroundColor = "#c5fffd"
  - var backgroundAttribution = "Photo from Freepik"
  - var backgroundAttributionLink = "https://freepik.com"
  - var theme = "journal"

  style.
    header #heading h1 {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:hover, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:visited {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::before, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::after {
      background-color: #187a7a !important;
    }

block article

  h1 Atmosphere Regulated Killswitch

  section#killswitch

    .row.justify-content-center
      .col-6
        h2 Problem Statement
        .rounded-rectangle
          p.
            Given the consumable nature of our product, we had to come up with a robust killswitch that was capable of 
            effectively terminating the bacteria taking into account the toxicity of killswitch with respect to the humans.
    .row.justify-content-between
      .col-6
        .rounded-rectangle#killswitch-mod1
          p.
            Given the consumable nature of our product, we had to come up with a robust killswitch that was capable of 
            effectively terminating the bacteria taking into account the toxicity of killswitch with respect to the humans.
      .col-6
        .oval#killswitch-exp1
          p.
            Given the consumable nature of our product, we had to come up with a robust killswitch that was capable of 
            effectively terminating the bacteria taking into account the toxicity of killswitch with respect to the humans.

    .arrows
      .arrow-container(data-from="#killswitch-mod1" data-to="#killswitch-exp1")
        +arrow(100, 100, 0, 0, 87, 87, '#000000')




append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Model")
  +buttonRight("Safety")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
