extends ../templates/contents.pug

block headVars
    - var title = "Entrepreneurship"
    - var requireMathJax = true
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "" + require("../assets/img/Entrepreneurship--header.svg")["default"]
    - var headerBackgroundColor = "#2b8789"
    - var backgroundAttribution = "Photo by Sveta Fedarava on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/tI_Odb7ZU6M"
    - var theme = "other-areas"

block article
    :markdown-it(html)
        For a product to be commercialised we need an economic model which demonstrates its viability. First, we conducted a detailed survey on how sugarcane is 
        grown in a variety of countries; how pressing the issue of post-harvest loss is; and finally, what variations in our delivery mechanism were necessary to 
        make sure they are applicable in all places, followed by an economic viability model of our product which includes some necessary assumptions given the 
        restrictive circumstances we are facing in the pandemic. We have explained wherever we have taken them and made our model accordingly.

        # Project Scope - Worldwide

        To assess the scope of our solution across the world, we carried out some research into various aspects of the sugar industry in several countries around the world. 
        We found that almost every major producer of sugarcane suffers from the problem of post-harvest losses, and there are a host of problems that our solution addresses, 
        all which are all described below.

        There is minimal similarity across countries because of differences in industry structure and operation. The harvesting practices and consequently the transportation of 
        the cane from the field is influenced by the terrain, the relative cost of labour and capital, the state of road and rail networks as well as other infrastructure, and the 
        distribution of sugarcane fields around a sugar mill.

        Due to these differences in industries, post-harvest losses affect some countries more than others. We have summarised the salient points for a few countries below. 

        ## Australia

        In Australia, where all the cane is machine harvested, the permitted cut-to-crush delay is generally not more than 12 hours to avoid penalities to the grower. However, 
        storage of cut cane is a significant problem. 

        ## India

        Most sugarcane farmers in this region are small farmers operating with their own families. Since most of them do not possess a truck, they have to pay the cost of transportation 
        of the cane from their farm to the mills. However, both small and large farmers face a common problem of transport as the delivery of sugarcane per transaction requires a bulk carrier. 
        They are required to rent a truck and pay hired labourers for cutting sugarcane and loading the truck.

        At the beginning and end of the growing season, the mills face an inadequate supply of raw materials for crushing, whereas, during the peak season, supply is higher than 
        what the mills can process. At that time, hundreds of trucks can be seen queuing in front of the mills, waiting to unload sugarcane. Truck owners typically operate their 
        businesses as middlemen by charging for transport services per tonne. They also face problems of delays during transportation and excessive time spent at the mills waiting 
        to unload the raw sugarcane. Truck drivers might spend up to 24 hours just for one transaction. This, of course, has an impact on the costs of the transaction. If the mills 
        could manage the flow of trucks and unloading operations more efficiently, the price of raw sugarcane would be lower.

        ## South Africa
        
        The South African Sugar Association (SASA) states that the South African sugar industry, is worth over R14 billion and provides more than 85,000 direct and 350,000 indirect jobs. 
        [SouthAfrica.co.sa, n.d.](#citation1).

        The sugar industry in South Africa suffers from harvesting delays and cane deterioration due to weather conditions, among several other causes. Delays of three to four days, and sometimes 
        much longer between harvesting and crushing the cane are common. The rate of cane deterioration varies considerably with the weather conditions, being most rapid in the hot, humid summer months. 
        It is characterised by a decline in both purity and sucrose percentage in the cane. Evening burns increase the delay in crushing by 10 to 11 hours. Where enough cane is burnt for two days' allocation, 
        the delay is increased by a further 24 hours, and if burning is only done once a week, the delay is increased by at least 60 hours. Currently, in South Africa the average burn-to-crush delay is over 
        72 hours, so the industry is losing much potential revenue. It should be noted that over and above the losses of sucrose and the accompanying reduction in purity mentioned above, there are also losses 
        in the factory caused by degradation products (for example dextrans and oligosaccharides). These secondary losses in the factory could increase the loss of sugar by at least a further 20% over 96 hours, 
        and by even more for longer delays. 

        ## Thailand

        Sugarcane is one of Thailand’s most important crops and is critical to its economy. In Thailand, the sugar industry has a large number of small-sized, independent farms. This industry configuration 
        causes uneven supplies throughout the harvesting season. The high transportation cost is due to inefficient cane delivery truck utilisation and 
        extensive truck waiting time at the mill. Most of the cane was burnt before harvesting due to a shortage of workforce. The cut-to-crush time lasted more than 48 hours. 

        ## United States

        Salassi and Barker [2008](#citation2) estimate that the total harvest cost per acre is $241.32 per acre (variable cost is $144.54 per acre), and for every additional minute harvesting resources are 
        forced to wait for the truck returning from the mill, the variable cost increases by approximately $1.30 using 2007 harvest fuel and labour prices. Because mills pay for the cost of 
        hauling the cane from the farms, growers thus have an incentive to use enough trucks to pick up all the loads as soon as they become ready. The situation is further complicated by the fact that harvest 
        operations among farms are often uncoordinated. The result is congestion at the mill and a vicious cycle that leads growers to use even more trucks.


        <br>
        <br>

        In summary,  it is sufficient to conclude that a combination of factors unique to each country contribute to post-harvest losses. Most sugar industries in the world are impacted severely by the 
        problem of post-harvest losses. In South Africa in 2009, 70.0% of the cane supply was harvested from mill controlled fields, with 55.5% being mill owned, giving mill operators significant control over the supply process for the mill. In this situation, the mill does not face the problem of being oversupplied during the peak season as in Thailand nor is the issue of integrating 
        the decision-making process between growers and harvesters of importance as seen in South Africa. Furthermore, harvesting in Brazil is done 24 hours a day, and as a result, storage is not an issue as it is 
        Australia, Cuba, and the United States.

        Hence, while better logistics and improvements in policies can be implemented to reduce the impact of this issue, our solution aims to address the problem at its core and combat post-harvest losses directly. 
        It would be much easier to manage transport if the cane had a longer shelf life, as that would provide a buffer period during which the cane could just be stored at the farm or the mill, to reduce unnecessarily long waiting times for unloading.


        # Economic Viability

        Presently India has a lower recovery rate of sugar from sugarcane as compared to other top producers of sugarcane globally. The Government of India has formulated a policy that declares that farmers should be 
        paid an FRP (Fair and Remunerative Price) "[...] to ensure that higher sugar recoveries are adequately rewarded and considering variations amongst sugar mills, the FRP is linked to a basic recovery rate of sugar, 
        with a premium payable to farmers for higher recoveries of sugar from sugarcane [Sugarcane Pricing Policy, 2018](#citation3)."

        Accordingly, the FRP for 2019-20 sugar season was fixed at ₹285 per quintal linked to a primary recovery of 10%, subject to a premium of ₹2.85 per quintal for each 0.1% increase of recovery over and above 10%; and a 
        reduction in FRP at the same rate for each 0.1% decrease in the recovery rate till a maximum of 9.5%. To protect the interests of farmers, the Government has decided that there would not be any 
        deduction in prices in the case where the recovery rate is below 9.5%; such farmers will get ₹270.75 per quintal for sugarcane in the current season.

        Thus, farmers receive a higher price for sugarcane for higher sugar recoveries, and our product aims to help the farmer achieve the same.

        **Note:** Owing to a lack of lab access due to the COVID-19 pandemic and the resulting lockdowns, we have been unable to determine the increase in recovery rate of sugar or the concentration of our product 
        that must be applied to sugarcane farms in exact quantities. Our team is working on approximating the same. For now, we have made some assumptions which would be explicitly stated wherever they are made.

        The costs for each component involved in manufacturing our product are:

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Ingredient | Price of one industrial lot (INR) | Mass needed for 75,000 kg of Inoculant | Mass of one lot (kg) | Lots required | Total Material Cost (INR) |
        | ------  | --------- | ---------- | ---------- | ---------- |---------- |---------- |
        | Luria Bertrani      | ₹10,000     | 1800       | 2         | 900       | ₹9,000,000          |      
        | Water               | ₹120        | 70,000     | 1,000     | 70        | ₹8,400          |
        | Triton X 100        | ₹2,000      | 2250       | 0.5       | 4500      | ₹9,000,000          |
        | CMC                 | ₹5,000      | 150        | 25        | 6         | ₹30,000          |
        | Bentonite powder    | ₹4,000      | 1050       | 1000      | 1         | ₹4,000          |
        | Sorbic Acid         | ₹10,000     | 150        | 25        | 6         | ₹60,000          |          
        | Potassium Sorbate   | ₹8,000      | 150        | 25        | 6         | ₹48,000          |
        |                     |             |            |           | **Total cost** | **₹18,150,400**   |
        |                     |             |            |           | **Costs per kilogram** | **₹242**   |
        [Table 1: Manufacturing costs associated with our product]

    :markdown-it(html)
        These are the components that go into our polymer inoculant. We found their composition through an optimisation process. More information about the optimisation model can be found [here](/Model/Inoculant). 
        The costs of each component were sourced from manufacturers’ websites.

        **Assumption:** We have assumed that despite bulk ordering, the raw materials would be sold to us at the retail price with no discounts. This was intentional so that the extra costs would 
        offset the delivery and handling charges which could be set to zero.

        The following cost analysis has been made with respect to the state of Maharashtra which is the second-largest producer of cane in India.
    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Description    |   Costs/Quantity   |
        | --------  | --------- |
        | Area of sugarcane plantations in Maharashtra in hectares | 10,000 |
        | Hectares covered by 1 kilogram of inoculant \\(^\dagger\\) | 0.00357 |
        | Quantity of inoculant needed (kg) | 2,800,000 |
        | Size of one lot of inoculant (kg) | 75,000 | 
        | Number of lots to be produced | 37.33 | 
        | Input costs per lot | ₹18,150,400 |
        | Total input costs | ₹677,614,933 |
        | Other Costs \\(^\dagger\\)| ₹25,000,000|
        | Total Costs | ₹702,614,933 | 
        | Cost of inoculant per hectare | ₹70,261.49 |
        | Sugarcane yield (quintal/hectare) | 800 |
        | Additional price for 0.1% increase in recovery rate | ₹2.85 |
        | Recovery rate increase in units of 0.1% \\(^\dagger\\)| 40.00 |
        | Revenue increase/quintal | ₹114 |
        | Revenue increase per hectare | ₹91,200 |
        | **Room for profit margin per kg of inoculant** | **₹20,939** |
        | **Room for profit margin (in percent)** | **29.80%** |
        [Table 1: Cost benefit analysis of our product. \\(^\dagger\\) indicates an assumption that we have made]

        'Room for profit margin' indicates the margin for farmers to benefit from using our product and for us to sell the product at a markup over the cost of making it.

    :markdown-it(html)

       ## Method

       We aim to test our enzyme on a small scale of 10,000 hectares as a pilot study. We will show below how economics of scale (reduction in costs as the scale of 
       production increases) help increase profitability as we use the enzyme on a larger area of sugarcane plantations.

        We made a preliminary calculation for how much area of planted sugarcane will one kilogram of our solution be able to cover. For this, we enquired from our farmers 
       the average number of canes per hectare in a field. We then assumed that we would be injecting each cane with 15 mL of the solution, and we will be considering 1 mL 
       for losses during injection. This gives us 16 mL of solution per cane. Therefore, total solution required for 1 hectare of sugarcane farm would be around 280 kilograms. 
       
       With further calculations, we get total input costs as shown.

       For other costs, the following factors were considered:
        - Land, construction and building
        - Processing Equipment
        - Services
        - Engineering
        - Construction
        - Contingency
        - Startup
        - Working Capital
        
        We found land costs to be ₹2,500,000 via interactions with multiple stakeholders and then scaled up the rest of the costs like processing 
        equipment, services, etc using the following pie chart. The proportions of costs to the total costs were calculated using Shuler, M. L., & Kargi, F. 
        [2002](#citation4). Using this, we calculate the total ‘other costs’ to be ₹25,000,000.

    - var imgpath = "" + require("../assets/img/Entrepreneurship--PieChart.png")["default"]
    +image(1, imgpath, "Breakdown of other costs", 60)

    :markdown-it(html)
        Going to the benefits part, on using our enzyme, farmers will observe a higher recovery rate of sugar from his sugarcane plantations and this will 
        help them greater revenues while selling them because of the FRP policy explained above. Hence, the additional revenue to be earned is directly 
        proportional to the recovery rate increase in units of 0.1%.

        We also made a rudimentary calculation for the estimated increase in the sugar recovery rate due to use of our product. This was because we did not get 
        lab access to accurately estimate the working of our biosensor. We assume that in the ideal case, if our calculated amount of bacterial solution is added 
        to the sugarcane plant, all present invertase should be inhibited. Since there will be some unavoidable losses in the transport of the inhibitor and the 
        bacteria (mainly due to non uniform diffusion of bacteria from point of injection or inhibitor not reaching the invertase in some places), we assume as 
        a conservative estimate that we will be able to increase the recovery rate by just 4-10 % over the current rate of 12 % average across various belts. 

        Subtracting the costs of producing our enzyme from the additional revenue gained from using them, we find the ‘room for profit margins’. This 
        indicates the total space for farmers to benefit from using our product and for us to sell the product at a markup over the cost of making it.

        -------

        We are yet to decide on the exact division of this room for profit margins between the farmer and the markup we take above the cost of production 
        for our own incentives. But the success of this enzyme both commercially and ethically will heavily depend on a large chunk of this ‘room’ being 
        passed on to farmers, as only then would they have an incentive to buy our product.

        ------

        Finally, the last analyses we perform as a part of our economic model are:

        ## Effect of increase in recovery rate on room for profit margin 
        For a fixed area of application of our product (10000 hectares).
    
    - var imgpath = "" + require("../assets/img/Entrepreneurship--ProfitvsRecovery.png")["default"]
    +image(2, imgpath, "Variation of profits with increase in recovery rate", 60)

    :markdown-it(html)
        As evident, we can market our product in two ways. In applications where it is found to increase the recovery rate by anywhere from 0 to 3.1%, 
        it can be distributed as a government handout to promote more efficient production of sugar from sugarcane.
        
        On the other hand, wherever the increase in recovery rate is above 3.1% - as it should be according to the preliminary calculation done above - 
        it is a ‘profitable’ venture and will provide an incentive for farmers to buy it themselves. To emphasize, the higher the increase in recovery 
        rate achieved, the higher the room for profit margin and more the incentive for farmers to buy our product.

        ## Effect of area of application of our product on the room for profit margin

        Here, we assume the increase in recovery rate to be constant at 4% units (for example, from 10% to 14%). Other costs are assumed to be constant 
        as they usually are the highest at the start and do not increase significantly with a larger scale of production.


    - var imgpath = "" + require("../assets/img/Entrepreneurship--ProfitvsArea.png")["default"]
    +image(3, imgpath, "Variation of profits with area of application", 60)

    :markdown-it(html)

        This is a phenomenon called economies of scale, where costs reduce as production increases because fixed costs don’t change as fast as revenues do even 
        after scaling up. This leads to growing room for profit margin as the area of application increases _even for the same increase in recovery rate (40%)!_

        $$ $$

        # Conclusion

        We always believed that for any project design it is crucial to also examine how viable it would be in the market. We conducted a detailed global survey on 
        how sugarcane is grown in a variety of countries; how pressing the issue of post-harvest loss is; and finally, what variations in our delivery mechanism were 
        necessary to make sure they are applicable in all places, followed by an economic viability model of our product. We have also consulted with industry professionals 
        in helping us design our proposed plant design that would help in the commercialization of our product. All along the project, we had the opportunity to pitch our 
        idea to several distinguished alumni of our institute and have implemented their feedback in the design of our complete implementation strategy.













append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Home")
    +buttonRight("Home")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"details": "(n.d.). Retrieved on September 30, 2020. from ", "title": "Sugar Production. SouthAfrica.co.za.", "type": "webpage", "url": "http://southafrica.co.za/sugar-production.html"}, {"authors": "Salassi, Michael E., & Barker, F. Gil. (2008).", "journal": "Journal of the American Society of Sugar Cane Technologists.", "numbers": "-.", "title": "Reducing harvest costs through coordinated sugarcane harvest and transport operations in Louisiana.", "type": "article", "year_published": 2008}, {"details": "(n.d.). Retrieved on September 30, 2020. from ", "title": "Sugarcane Pricing Policy. Department of Food and Public Distribution, Government of India.", "type": "webpage", "url": "https://dfpd.gov.in/sugar.htm"}, {"Google_Books_URL": "https://books.google.co.in/books?id=0VHtngEACAAJ", "authors": "Shuler, M. L., & Kargi, F.", "publisher": "Prentice Hall Inc.", "title": "Bioprocess Engineering: Basic Concepts.", "type": "book", "year_published": "(2002)."}]