extends ../templates/landing.pug

block headVars
  - var title = "Experiments"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "" + require("../assets/img/Experiments--header.svg")["default"]
  - var headerBackgroundColor = "#c5fffd"
  - var backgroundAttribution = "Photo from Freepik"
  - var backgroundAttributionLink = "https://freepik.com"
  - var theme = "journal"

  style.
    header #heading h1 {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:hover, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:visited {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::before, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::after {
      background-color: #187a7a !important;
    }

prepend article

  :markdown-it(html)

append cards
  +landing_card("Experiments", "pFruB-Cra System", "Design--AI.gif")
  +landing_card("Experiments", "Kill Switch", "Landing--Kill_Switch.gif")
  +landing_card("Experiments", "Inoculant", "Landing--Inoculant.jpg")
  +landing_card("Experiments", "Other", "Landing--Auxotroph.png")
  +landing_card("Experiments", "Protocols", "Landing--Kill_Switch.jpeg")

append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Notebook")
  +buttonRight("Appendix")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
