extends ../templates/landing.pug

block headVars
    - var title = "Experiments"
    - var requireMathJax = false
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "" + require("../assets/img/Model--jean-wimmerlin1.jpg")["default"]
    - var backgroundAttribution = "Photo by Jean Wimmerlin on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/RUj5b4YXaHE"
    - var theme = "yellow"

prepend article

    :markdown-it(html)

        Experiments!

append cards
    +landing_card("Experiments", "Biosensor", "Design--AI.gif")
    +landing_card("Experiments", "Kill Switch", "Design--AI.gif")
    +landing_card("Experiments", "Inoculant", "Design--AI.gif")
    +landing_card("Experiments", "Others", "Design--AI.gif")
    +landing_card("Experiments", "Protocols", "Design--AI.gif")

append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Journal")
    +buttonRight("Appendix")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
