extends ../templates/contents.pug

block headVars
    - var title = "Humans of iGEM"
    - var requireMathJax = false
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
    - var theme = "blue"

block article
    :markdown-it(html)
        Humans of New York is a photoblog committed to sharing stories that bring people closer together. Inspired by Humans of New York, we started the Humans of iGEM series.  
        Amidst the disconnect caused by the pandemic, we started Humans of iGEM to help teams connect by hearing each other's stories and sharing their own. Humans of iGEM is a 
        series of interviews with participants and after-iGEM ambassadors born out of the idea that everyone in iGEM has a story and it is our job to make sure these stories are 
        told. We've interviewed several teams and after-iGEM ambassadors, and published the articles on a Medium blog which you can read [here](https://medium.com/humans-of-igem).

        We also met with iGEM ambassadors Varsha Jaisimha and Kaavya Ashok.

        During the course of planning for Humans of iGEM, we met up with Yoshi (iGEM Ambassador for USA - West Coast). Yoshi currently organines the after iGEM podcast initiative. 
        He was instrumental in helping us streamline our process and questions. He also gave us extremely valuable inputs on how we could expand our efforts to different languages. 
        Following the meeting with Yoshi, we met with the iGEM UANL team. They were incredibly supportive and were excited to continue the HUmans of iGEM initiative with the LatAm teams.

  

append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Engineering")
    +buttonRight("Implementation")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
