extends ../templates/landing.pug

block headVars
    - var title = "Model"
    - var requireMathJax = false
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "" + require("../assets/img/Model--header.svg")["default"]
    - var headerBackgroundColor = "#6ad8d5"
    - var backgroundAttribution = "Photo from Freepik"
    - var backgroundAttributionLink = "https://freepik.com"
    - var theme = "project"

prepend article

    :markdown-it(html)

        # Overview

        Mathematical models are an integral part of our project. They allow us to gain an insight into the functioning of the
        constructs we designed as well as enable us to predict and verify its behaviour. As we couldn't experimentally verify 
        our claims due the COVID-19 imposed lockdown, these models form the cornerstone of our project.  

        We have formed a total of six models that cover various aspects of SugarGain. To provide a brief overview, they are:
         
        1. A model to describe our pFruB-Cra anti-invertase construct. 
        2. An _in silico_ simulation of the kill switch.
        3. An _in silico_ model to study the interactions between invertase and anti-invertase.
        4. A model to predict the growth of bacteria in the sugarcane matrix.
        3. A model to determine the composition and optimum viscosity of our novel polymer inoculant.
        6. A model to explain the relevance of auxotrophy in our chassis. 

        Click on a card to be redirected to the page for the respective model. 

append cards
    +landing_card("Model", "pFruB-Cra System", "Design--AI.gif")
    +landing_card("Model", "Kill Switch", "Design--AI.gif")
    +landing_card("Model", "Virtual Screening", "Design--AI.gif")
    +landing_card("Model", "Growth Model", "Design--AI.gif")
    +landing_card("Model", "Inoculant", "Design--AI.gif")
    +landing_card("Model", "Auxotroph", "Design--AI.gif")

append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Design")
    +buttonRight("Engineering")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
