extends ../templates/contents.pug

block headVars
    - var title = "Model"
    - var requireMathJax = true

block article
    
    :markdown-it(html)
       
        We need a good landing page (with fancy science GIFs and all).

        [Growth Model](Growth_Model)

        [Kill Switch](Kill_Switch)

        [Viscosity Model](Viscosity_Model)
        
append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Design")
    +buttonRight("Engineering")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.