extends ../templates/landing.pug

block headVars
    - var title = "Model"
    - var requireMathJax = false
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"

block article
    
    :markdown-it(html)

       Mathematical models are an integral part of our project. They allow us to gain an insight into the functioning of the constructs we designed 
       as well as enable us to predict and verify its behaviour. Formulating a model, therefore, attempts to provide a mathematical validation of 
       the system created. Considering our non-existent access to a laboratory environment due to COVID-19, these models are the cornerstone of 
       our project — they lend it legitimacy and validity in the absence of experimental proofs. 

        To ensure that the models we generate are robust and not quixotic, we have tried to integrate them during each step of the modelling process 
        with the experiments we have designed. The benefits that this approach has are two-fold — one, it allowed for the experimental and theoretical 
        portions of the project to complement each other, and two, it also allows us to leverage the insights provided by the wetlab aspects. 

        Each model was designed to integrate and influence the final project. By maintaining this synergised approach, we also allowed the modelling 
        as well as the experiments team to build confidence in their ideas.   

        > We need a good landing page (with fancy science GIFs and all).

        [Growth Model](Growth_Model)

        [Kill Switch](Kill_Switch)

        [Viscosity Model](Viscosity_Model)
        
append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Design")
    +buttonRight("Engineering")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
