extends ../templates/contents.pug

block headVars
    - var title = "Model"
    - var requireMathJax = false
    - var backgroundImage = "Description--josh-withers.jpg"
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"

block article
    
    :markdown-it(html)
       
        Mathematical models allow us to gain an insight into the functioning of a system and also allow us to hypothesise, predict and verify 
        its behaviour. Formulating a model therefore, provides a mathematical validation of the system created. Considering our restricted and 
        later on non-existent access to a laboratory environment due to COVID-19, these models are the cornerstone of our project — they lend it 
        legitimacy and validity in the absence of experimental proofs. Our project consists of four individual models which collectively complete 
        our project. These would be discussed in the following sections.

        (We also enlisted the help of the majestic Deep Thought to formulate our models, but forty-two was a rather difficult model to realise without 
        any help from pan-dimensional, hyper-intelligent beings.)

        We need a good landing page (with fancy science GIFs and all).

        [Growth Model](Growth_Model)

        [Kill Switch](Kill_Switch)

        [Viscosity Model](Viscosity_Model)
        
append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Design")
    +buttonRight("Engineering")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.