extends ../templates/notebook.pug

block headVars
  - var title = "Notebook"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
  - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
  - var theme = "journal"

block article

  .month#Jan20
    article
      h2 January 2020
      .week.week1
        :markdown-it(html)
          # Week 1 
          - 4th: We had our first full team meeting!

      .week.week2
        :markdown-it(html)
          # Week 2
          - 6th - 15th: Brainstormed about various project ideas with our PI and decided to work on post-harvest losses in sugarcane.
          - 15th: We attended the BITSAA Global Meet that provided us with the opportunity to interact with alumni from our university, 
          pitch our project idea and gain valuable feedback.
          - 18th:  We met with Mr Sunil Kuman Ohri from the Sugar Federation in UP.

      .week.week3
        :markdown-it(html)
          # Week 3
          - 21st: We conducted our initial growth curve experiments in sugarcane media. We looked at multiple dilutions and clarification methods.  

  .month#Feb20
    article
      h2 February 2020
      .week.week1
        :markdown-it(html)
          # Week 1
          - 2nd: We had our first meeting with Varsha Jaisimha (iGEM Ambassador to Asia Pacific). Since we are a first time team, she was instrumental 
          in guiding us on how to get started. 

          Our team conducted extensive research and literature review. We also began our sponsorship drives and began our crowd funding initiatives. 
      .week.week3
        :markdown-it(html)
          # Week 3
          
          - 21st: We began our initial PCR of invertase of _Arabidopsis thalliana_.

      .week.week4
        :markdown-it(html)
          # Week 4
          
          We were on a break this week due to our midterms.
  
  .month#Mar20
    article
      h2 March 2020
      .week.week1
        :markdown-it(html)
          # Week 1
          
          MIDTERM WEEK!

      .week.week2
        :markdown-it(html)
          # Week 2
          
          - 13th: We began our experiments for capillary action in sugarcane.
          - 14th: Instruction at university was suspended in lieu of the COVID pandemic.

      .week.week4
        :markdown-it(html)
          # Week 4
          
          - 25th:  We had our first virtual team meeting! This meeting was crucial for us to 
          redefine our approach. We formulated a weekly schedule for our team meetings. 

  .month#Apr20
    article
      h2 April 2020
      .week.week1
        :markdown-it(html)
          # Week 1
          
          - 1st - 7th: We had the meetings for the sequences and modelling teams.

      .week.week2
        :markdown-it(html)
          # Week 2
          
          - 10th: We began formulating the design for the toxin - antitoxin killswitch

          We also began our Wiki and Media design by Deciding a template for the wiki and the main sections.

  .month#May20
    article
      h2 May 2020
      .week.week1
        :markdown-it(html)
          # Week 1
          
          - We conducted docking studies of anti-invertase and intertase. 
          - We also modified our approach in the _in silico_ modelling of our biosensor and kill switch.
          - Our wet lab team began the construction of the sequences.

      .week.week3
        :markdown-it(html)
          # Week 3
          
          - 22nd: We met the farmers from Gulbarga and Mandya.

  .month#Jun20
    article
      h2 June 2020
      .week.week1
        :markdown-it(html)
          # Week 1
          
          - We created the initial model of our kill switch and growth curve. We also sent our biobrick sequences to our PI for verification. 
          - 8th: We met the chief chemist from the Kachhi Sugar Company.

      .week.week2
        :markdown-it(html)
          # Week 2

          - 13th: We began our collaboration with Abhigyaan — a student run organization at BITS Goa.
          - 19th: We met the iGEM OSU team regarding biocontainment and kill switch modelling.
      
      .week.week3
        :markdown-it(html)
          # Week 3

          - 23rd: We had our first meeting with the University of Rochester and IITM and the Accessibility Initiative was started!

      .week.week4
        :markdown-it(html)
          # Week 4
          
          - 30th: We met a farmer from the Tamil Nadu belt.
    
  .month#Jul20
    article
      h2 July 2020
      .week.week1
        :markdown-it(html)
          # Week 1
          
          - We started formulating a plan for the modelling of the biosensor. 
          - We also had a meeting with our secondary PI to discuss various experimental designs that can be implemented. 
          
          - 4th: We met with the iGEM Groningen Team and learnt more about their project

      .week.week2
        :markdown-it(html)
          # Week 3

          - 14th: We met with Andre Hermann regarding the sugar industry in Brazil and guidance on policy making.
          We also released our project logo!

          - 15th: We started our Humans of iGEM initiative.
      
      .week.week3
        :markdown-it(html)
          # Week 3

          - 22nd: We met with Dr Bejoy Thomas about our economic modelling.
          - 25th: We hosted the first ever BioSummit!

      .week.week4
        :markdown-it(html)
          # Week 4
          
          - 31st: The Indian teams got together for the first All India iGEM Meet!
  
  .month#Aug20
    article
      h2 August 2020
      .week.week1
        :markdown-it(html)
          # Week 1
          
          - We received feedback from the Groningen team about our kill switch model and began rethinking a different approach. We also completed our biosensor model. 

          - The required experimental protocols were finalised. 
      
      .week.week3
        :markdown-it(html)
          # Week 3

          - 19th - 22nd: Our team hosted sessions during the Global Meetup. 

      .week.week4
        :markdown-it(html)
          # Week 4
          
          - 30th: We had our first meeting with Synbio for Everyone where we discussed about our Accessibility initiative.
  
  .month#Sep20
    article
      h2 September 2020
      .week.week1
        :markdown-it(html)
          # Week 1
          
          - We completed our model for the inoculant as well as auxotroph design. 
          - We began designing the process flow diagram and industrial application of our product. 
          
          - 9th: We finalised our wiki illustrations and design! 

append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Home")
    +buttonRight("Experiments")

