extends ../templates/contents.pug

block headVars
  - var title = "Parts"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "" + require("../assets/img/Contribution--header.png")["default"]
  - var backgroundAttribution = "Photo from Freepik"
  - var backgroundAttributionLink = "https://www.freepik.com/free-vector/public-contribution-concept_2448540.htm"
  - var theme = "parts"
  - var backgroundType = "image"
  - var fullWidth = true

block article

  :markdown-it
  
    We have contributed 5 new parts to the registry. They include three basic parts and 2 composite parts. These parts have
    been designed and optimised for production and secretion of our gene if interest. We have added literature and constants
    (wherever applicable) for each of these parts along with the relevant mathematical models that describe their working to the Registry. 
    
  :markdown-it(html plugins=['markdown-it-multimd-table'])
    | Name | Type | Description | Designer | Length |
    | :--: | :--: | :---------: | :------: | :----: |
    | [BBa_K3512000](http://parts.igem.org/wiki/index.php?title=Part:BBa_K3512000) | Coding | Sugarcane Invertase Inhibitor | Gourav Saha, Naman Chaudhary, Suhas Badadal	 | 576 |
    | [BBa_K3512001](http://parts.igem.org/wiki/index.php?title=Part:BBa_K3512001) | Coding | ccdB Toxin | Gourav Saha, Naman Chaudhary, Suhas Badadal	 | 306 |
    | [BBa_K3512002](http://parts.igem.org/wiki/index.php?title=Part:BBa_K3512002) | Coding | ccdA Toxin | Gourav Saha, Naman Chaudhary, Suhas Badadal	 | 221 |
    | [BBa_K3512012](http://parts.igem.org/wiki/index.php?title=Part:BBa_K3512012) | Device | pFruB-Cra System | Gourav Saha	 | 3104 |
    | [BBa_K3512042](http://parts.igem.org/wiki/index.php?title=Part:BBa_K3512042) | Device | Atmosphere Regulated Killswitch	 | Gourav Saha | 958 |

  :markdown-it(html)

    <br>
    <br>

    # Plasmid Design

  .row
      .col.md-6
          - var imgpath = "" + require("../assets/img/Design--BiosensorPlasmid.png")["default"]
          +image(1, imgpath, "Plasmid for the pFruB-Cra Module")

      .col.md-6
          - var imgpath = "" + require("../assets/img/Design--KSPlasmid.png")["default"]
          +image(2, imgpath, "Plasmid for the Atomsphere-regulated Kill Switch", 90)



append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Attributions")
  +buttonRight("Home")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
