extends ../templates/contents.pug

block headVars
    - var title = "Safety"
    - var requireMathJax = false
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
    - var theme = "project"

block article
    :markdown-it(html)

        The construction of a new biological system always poses the risk of working differently than expected. These risks are 
        addressed under biosafety, which describes the containment, technologies, principles, and practices that are implemented to prevent unintentional exposure to pathogens and toxins or 
        their accidental release. For our project, biosafety was an iterative process at each stage. We consulted with our faculty members and industrial experts in order to conform to biosafety 
        regulations.

        # General Lab Safety

        The lab that hosted us was the Vista lab of the Department of Biological Sciences of BITS, Pilani K. K. Birla Goa Campus. Our institute has an Institutional Biosafety Committee (IBSC), which is formed 
        and governed by the rules and regulations of Review Committee on Genetic Manipulation (RCGM) serviced by the Department of Biotechnology, Ministry of Science and Technology, Government of India. 
        Our PI is a part of the IBSC, and has gone over the proposal and run it by other IBSC members, all of whom have found the proposal to be within the rules. These experts are all trained in 
        molecular biology and genetic engineering techniques, and have experience of more than a decade on biosafety procedures. They have overseen the procedures and methodology of the project 
        and have expressed no reservations. Moreover, there have been training sessions for our team to make us well-versed in biosafety measures and precautions.

        # Project Safety

       In our safety assessment session with our ambassador Varsha Jaisimha, no specific safety hazard was pinpointed in our project. During our initial meetings, we were extremely careful not to 
       involve organisms and metabolites that would either be harmful for the environment or to humans. We are using _E. coli_ DH5α  as our chassis which is both safe and easy to handle.

        To ensure a maximum level of safety, we have designed a three-tier failsafe mechanism for our project.

        ## Level 1: Atmosphere-Regulated Kill Switch

        Given the close proximity of the system with both agricultural environments and human consumables, 
        it is indispensable that our bacteria include a lethality mechanism. We propose to use a modified type II ccdA-ccdB toxin-antitoxin module. ccdB poisons DNA gyrase to inhibit replication, while ccdA acts as the 
        labile antitoxin. An exposure of the bacteria to atmospheric levels of oxygen results in a sharp increase in the amount of the toxin protein being synthesised which disturbs the already established equilibrium 
        between the toxin and antitoxin, effectively killing the cell, and thus preventing any contamination by stray microbes. You can find more about our kill switch [here](/Design#KillSwitch).
        
        This mechanism works exceptionally well in Enterobacteriaceae and does not affect mammalian cells making it a good choice for our application. 


        ## Level 2: Auxotrophic Regulation

        Pioneering biocontainment systems used metabolic auxotrophy in which target cells could only grow in the presence of an exogenously supplied metabolite. We intend to leverage this mechanism for biocontainment of 
        our chassis inside the sugarcane system. There are several amino acids that have been detected in sugarcane including, pipecolic acid and hydroxypipecolic acid. Increasing the supply of nitrogen increases markedly 
        the amides asparagine and glutamine and less markedly the basic amino‐acids lysine, histidine, arginine and tryptophan. The neutral and acidic amino‐acids tend to increase and then decrease in level with increasing 
        nitrogen supply. We have chosen to use a lysine auxotroph for our second tier of biosafety. You can find more about our auxotroph model [here](/Model/Auxotroph).

        ## Level 3: Sugar Manufacturing Process

        During the sugar manufacturing process the cane juice is heated at the evaporation station to temperatures greater than 100°C for upto eight hours. Furthermore, sulphur dioxide 
        is passed through the solution at the clarifying stage along with a change in pH. We have designed experiments to mimic these industrial conditions on a lab scale. More details about 
        these experiments can be found [here](/Experiments). It is highly improbable for the bacteria to tolerate such harsh conditions and hence the manufacturing process itself would act as a third fail-safe.

        ## Dual Use Concern

        We have analysed the dual use potential of our chassis. Since we have used a model organism as our chassis there is diminished risk associated with use of our product other than that it is intended for. Our product is 
        completely safe and does not pose any quantifiable threat to the environment, making it a better alternative than current solutions  present in the market. Moreover, we would also like to explicitly state that our project 
        does not confer antimicrobial resistance to any microorganism nor does it involve the use of any animals. 


        # Safety Policies

        ## Human Subjects Research

        Engagement with the community is an essential aspect of any iGEM project which involves talking to people, collecting 
        their opinions, compiling them, and using them to structure our project. Although our project does **not** involve any 
        collection or experimentation with any human biological samples, it does however have a strong involvement of social 
        science research using surveys and interviews.

        In accordance with iGEM policy concerning human subjects research, we have ensured that we have followed all national 
        rules and regulations with regard to data collection. Our data collection procedure is compliant with the Indian 
        Council of Medical Research's National Ethical Gudelines For Biomedical and Health Research Involving Human Participants 
        (2017), with a strong focus on §2.1 Principal of voluntariness and § 2.3 Principal of ensuring privacy and confidentiality.

        All responses for our surveys were obtained by seeking written consent from the participant. All our surveys were purely 
        anonymous and all data collected was used for research and educational purposes only. We have also ensured that 
        interviews were conducted with the verbal consent of the participant and participants had the option to remain anonymous if 
        they chose to do so.

        ## Do Not Release Policy

        We have strictly followed iGEM's Do Not Release safety policy. Our project is still at an experimental stage and no organism (genetically modified or otherwise) has been released or deployed outside a laboratory environment.
  

append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Engineering")
    +buttonRight("Implementation")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
