include ../templates/mixins

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Team | SugarGain | iGEM BITS Goa
    body
        include ../templates/nav.pug
        header
            h1 Meet the Team
            .row
                each counter in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                    .col-6.col-md-4.col-lg-3.col-xl-2.p-0.m-0
                        a.card(href="#card" + counter)
                            .card-img
                                img(src=require("../assets/img/Team--sample.png")['default'])
                            .card-label
                                h2 Pranav Ballaney
        main
            each counter in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                .row.d-flex.justify-content-center
                    .col-11.col-lg-9.col-xl-7
                        .card
                            .row(id="card"+counter)
                                .col-12.col-md-4.card-left
                                    img(src=require('../assets/img/Team--sample.png')['default'])
                                    h2 Pranav Ballaney
                                    h3 Code Person
                                    p Biology & Computer Science
                                .col-12.col-md-8.card-right.d-flex.justify-content-between.flex-column
                                    .row.card-text
                                        p Abhisek brings 12+ years of experience in design and managing entrepreneurial ventures. Over this period, he has led branding and web design projects, launched and grown a niche brand of handmade soaps, designed low-cost furniture, shot portraits for a football team, advised founders and CEOs and built a presentation design studio that counts Facebook, Coca-Cola, Pepsi, Unilever, L'oreal and Cisco as clients.
                                        p He spends 80% of his time answering emails (if you don't hear back from us, you know who to blame!). In the other 20% he looks after Villa P (our studio), directs branding and web projects and meddles in everyone's work. He compulsively draws out ideas to make a point, not sparing any scrap of paper lying around, even cheque books!
                                    .social-block
                                        .social-icon-row
                                            a(href="https://www.facebook.com/ballaneypranav" target="_blank")
                                                i.icon-facebook
                                            a(href="https://www.facebook.com/ballaneypranav" target="_blank")
                                                i.icon-facebook
                                            a(href="https://www.facebook.com/ballaneypranav" target="_blank")
                                                i.icon-facebook
                                    .row.card-icons
                                        each counter2 in [1, 2, 3, 4, 5, 6]
                                            .col
                                                img(src=require('../assets/img/Team--sample-icon.png')['default'])
                                                p Icon


        footer 
            include ../templates/footer_nav.pug
            include ../templates/footer_brand.pug
