extends ../../templates/contents.pug

block headVars
  - var title = "Atmosphere Regulated Kill Switch"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "../" + require("../../assets/img/Experiments--header.svg")["default"]
  - var headerBackgroundColor = "#c5fffd"
  - var backgroundAttribution = "Photo from Freepik"
  - var backgroundAttributionLink = "https://freepik.com"
  - var theme = "journal"
  - var fullWidth = true

  style.
    header #heading h1 {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:hover, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:visited {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::before, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::after {
      background-color: #187a7a !important;
    }

prepend article

  #collapsibleSections.accordion
    .card
      #headingOne.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            span FNR Characterisation
            i.icon-dropdown
      #collapseOne.collapse(aria-labelledby='headingOne')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Killswitch--FNR_Characterisation.pdf")['default'], "FNR Characterisation")
    .card
      #headingTwo.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
            span pH Dependency of FNR Promoter
            i.icon-dropdown
      #collapseTwo.collapse(aria-labelledby='headingTwo')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Killswitch--pH_Dependency.pdf")['default'], "pH Dependency of FNR Promoter")
    .card
      #headingThree.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree')
            span Kill switch Response Time Determination
            i.icon-dropdown
      #collapseThree.collapse(aria-labelledby='headingThree')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Killswitch--Response_Time.pdf")['default'], "Killswitch Response Time Determination")
    
    .card
      #headingFive.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseFour' aria-expanded='true' aria-controls='collapseFour')
            span Electrophoretic Mobility Shift Assay
            i.icon-dropdown
      #collapseFour.collapse(aria-labelledby='headingFour')
        .card-body
          p To find the K<sub>d</sub> value of the FNR promoter, we propose to use the following protocol. 

          +pdf("../" + require("../../assets/docs/Experiments--Protocols--EMSA.pdf")['default'], "Electrophoretic Mobility Shift Assay")

    .card
      #headingFive.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='true' aria-controls='collapseFive')
            span Site Directed Mutagenesis
            i.icon-dropdown
      #collapseFive.collapse(aria-labelledby='headingFive')
        .card-body
          p To tune the K<sub>d</sub> value of the FNR promoter, we propose to use the following protocol. 

          +pdf("../" + require("../../assets/docs/Experiments--Protocols--Site_Directed_Mutagenesis.pdf")['default'], "Site Directed Mutagenesis")

append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Experiments/pFruB-Cra System")
  +buttonRight("Experiments/Inoculant")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
