extends ../../templates/contents.pug

block headVars
    - var title = "Kill Switch"
    - var requireMathJax = false
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "../" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
    - var fullWidth = true

prepend article
    
    #collapsibleSections.accordion
        .card
            #headingOne.card-header
                h2.mb-0
                    button.btn.btn-link.btn-block.text-left(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        | Collapsible Group Item #1
            #collapseOne.collapse.show(aria-labelledby='headingOne')
                .card-body
                    | Anim pariatur cliche reprehenderit
        .card
            #headingTwo.card-header
                h2.mb-0
                    button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                        | Collapsible Group Item #3
            #collapseTwo.collapse(aria-labelledby='headingTwo')
                .card-body
                    | Anim pariatur cliche reprehenderit
        .card
            #headingThree.card-header
                h2.mb-0
                    button.btn.btn-link.btn-block.text-left.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        | Collapsible Group Item #3
            #collapseThree.collapse(aria-labelledby='headingThree')
                .card-body
                    | Anim pariatur cliche reprehenderit
        
append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Design")
    +buttonRight("Engineering")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
