extends ../../templates/contents.pug

block headVars
  - var title = "Other"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "../" + require("../../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
  - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
  - var fullWidth = true
  - var theme = "journal"

prepend article

  #collapsibleSections.accordion
    .card
      #headingOne.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            span Growth Rate
            i.icon-dropdown
      #collapseOne.collapse(aria-labelledby='headingOne')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Others--Growth_Rate.pdf")['default'], "Growth Rate")
    .card
      #headingTwo.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
            span High Performance Liquid Chromatography (HPLC) of Sugarcane juice
            i.icon-dropdown
      #collapseTwo.collapse(aria-labelledby='headingTwo')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Others--Sugarcane_Juice_HPLC.pdf")['default'], "Sugarcane Juice HPLC")

          

append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Experiments/Protocols")
  +buttonRight("Home")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
