extends ../../templates/contents.pug

block headVars
  - var title = "Protocols"
  - var requireMathJax = false
  //- You can just write the filename here and it will be resolved to 'require'.
  //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
  - var backgroundImage = "../" + require("../../assets/img/Experiments--header.svg")["default"]
  - var headerBackgroundColor = "#c5fffd"
  - var backgroundAttribution = "Photo from Freepik"
  - var backgroundAttributionLink = "https://freepik.com"
  - var theme = "journal"
  - var fullWidth = true

  style.
    header #heading h1 {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:hover, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .navbar-brand:visited {
      color: #187a7a !important;
    }
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::before, 
    nav:not(.menu-open) .nav-transparent:not(.nav-colored) .menu-icon::after {
      background-color: #187a7a !important;
    }

prepend article

  #collapsibleSections.accordion
    .card
      #headingOne.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            span Competent Cell Preparation
            i.icon-dropdown
      #collapseOne.collapse(aria-labelledby='headingOne')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Protocols--Competent_Cell_Prep.pdf")['default'], "Competent Cell Preparation")
    .card
      #headingTwo.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
            span Invertase Assay Kit
            i.icon-dropdown
      #collapseTwo.collapse(aria-labelledby='headingTwo')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Protocols--Invertase_Assay_Kit.pdf")['default'], "Invertase Assay Kit")
    .card
      #headingThree.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree')
            span Qualitative Analysis of Isolated Plasmid by Gel Electrophoresis
            i.icon-dropdown
      #collapseThree.collapse(aria-labelledby='headingThree')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Protocols--Isolated_Plasmid_Analysis.pdf")['default'], "Isolated Plasmid Analysis")
    .card
      #headingFour.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseFour' aria-expanded='true' aria-controls='collapseFour')
            span Plasmid Purification
            i.icon-dropdown
      #collapseFour.collapse(aria-labelledby='headingFour')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Protocols--Plasmid_Purification.pdf")['default'], "Sorbic Acid and Potassium Sorbate Characterization")
    .card
      #headingFive.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseFive' aria-expanded='true' aria-controls='collapseFive')
            span LB Medium Preparation
            i.icon-dropdown
      #collapseFive.collapse(aria-labelledby='headingFive')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Protocols--LB_Medium_Preparation.pdf")['default'], "LB Medium Preparation")
    .card
      #headingSix.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseSix' aria-expanded='true' aria-controls='collapseSix')
            span Polymerase Chain Reaction
            i.icon-dropdown
      #collapseSix.collapse(aria-labelledby='headingSix')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Protocols--PCR.pdf")['default'], "Polymerase Chain Reaction")
    .card
      #headingSeven.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseSeven' aria-expanded='true' aria-controls='collapseSeven')
            span Site Directed Mutagenesis
            i.icon-dropdown
      #collapseSeven.collapse(aria-labelledby='headingSeven')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Protocols--Site_Directed_Mutagenesis.pdf")['default'], "Site Directed Mutagenesis")
    .card
      #headingTransformation.card-header
        h2.mb-0
          button.btn.collapsed(type='button' data-toggle='collapse' data-target='#collapseTransformation' aria-expanded='true' aria-controls='collapseTransformation')
            span Transformation
            i.icon-dropdown
      #collapseTransformation.collapse(aria-labelledby='headingTransformation')
        .card-body
          +pdf("../" + require("../../assets/docs/Experiments--Protocols--Transformation.pdf")['default'], "Transformation")

          

append buttons
  //- mind the quotes and the plus sign
  +buttonLeft("Experiments/Other")
  +buttonRight("Home")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
