extends ../../templates/contents.pug

block headVars
    - var title = "Biosensor"
    - var requireMathJax = true
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "../" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
    - var theme = "blue"

block article
    :markdown-it(html)

        # Motivation

        A biosensor system is often used in biological systems to detect an analyte of interest. Our intention behind utilising a biosensor system in our project was to have a controlled release of the protein of interest, that is the invertase inhibitor. 
        Since fructose is a product of hydrolysis of sucrose, its concentration directly proportional to the activity of invertase. Our construct therefore produces an anti-invertase enzyme whose quantity is regulated by the concentration of fructose in the 
        cellular environment.

        We used the FruR-Cra system to modulate the output protein. The expression of the FruR gene is regulated by an IPTG-induced pTac promoter, which is induced before packaging the bacteria in our polymer inoculant. FruR is a transcription factor with an 
        affinity for fructose-1-phosphate (F1P) — an important component of most metabolic pathways. It is formed from D-fructose, which itself is produced by the hydrolysis of sucrose. The FruR protein prevents transcription of the regulated promoters. pFruB 
        is the promoter region following FruR and is repressed by the FruR transcription factor. In the absence of D-Fructose, the FruR gene transcribes a protein that represses the activity of pfruB, hence controlling the output of the invertase inhibitor.  
        You can find more about our construct on the [design](/Design#Fructose-regulatedConstruct) page.

        We planned on simiulating the dynamics of the pFruB-Cra system _in silico_ but the lack of lab access due to COVID lockdowns coupled with an unavailability of any literature on the kinetic studies of the FruR system limited us to a theoretical model. We have however 
        planned a few experiments that we would have conducted to determine the kinetics of the model. You can find them on our experiments page [here](/Experiments).

        The assumptions we have made for the model are listed below:

        1. As cells would be IPTG-induced before being added to the inoculant, we have assumed that the total number of FruR molecules remains constant during the course of the action of the cells.

        2. Phosphorylation and dephosphorylation of fructose is not considered to simplify the model. We assume that all the fructose that is taken up by the cell is immediately phosphorylated. Hence, 
        the amount of fructose is roughly equal to the amount of fructose-1-phosphate. Subsequently, the metabolic pathway from F1P leading to FBP, F6P, G6P is also ignored.

        3. The FruR-F1P complex is higly stable and the degradation rate is almost zero. This ensures that the FruR in the complex is not recycled back such that it can preferentially bind to pFruB. 
        
        4. The binding rate for F1P and FruR is unaffected by pfruB.

        5. FruR only binds to pfruB when it is bound to the DNA sequence.

        6. F1P binds to FruR and helps it unbind from pFruB. 

        7. There is a constant external source of FruR and pFruB which maintains their concentrations at a steady, constant level throughout the timescale of the model.

    - var imgpath = "../" + require("../../assets/img/Biosensor--GlucoseFlowchart.png")["default"]
    +image(1, imgpath, "The metabolic pathway of glucose and fructose", 50)

    :markdown-it(html)

        # Differential Equations

        The set of <dfn> ODEs ~ Ordinary Differential Equations </dfn> that model the FruR-Cra kinetics are illustrated below:

        $$
        \begin{aligned}
            \frac{d[A]}{dt} &= \frac{e_A [P_b]}{\left( 1 + \frac{[R_b]}{k_f} \right)} - \beta_A[A]\\\\
            \frac{d[M]}{dt} &= \frac{e_M [P]}{\left( 1 + \frac{[R]}{k_R} \right) \left( 1 + \frac{[F]}{k_F} \right)} - \beta_M[M]\\\\
            \frac{d[F]}{dt} &= k_2 [C_1] - k_1[F][C_2]\\\\
            \frac{d[R]}{dt} &= k_2 [C_1] - k_3[R][P]\\\\
            \frac{d[C_1]}{dt} &= -k_1[F][C_2] + k_3[R][P]\\\\
            \frac{d[C_2]}{dt} &= k_1[C_2]F - k_2[C_1]\\\\
        \end{aligned}
        $$

        # Molecular Modelling

        Since FruR and its interactions are not extensively characterised, we had to conduct molecular docking studies in order to elucidate 
        the interactions between FruR, pFruB and fructose. We followed the steps below to conduct this study

        1. We first conducted homology modelling of FruR and pfruB using SWISS-MODEL in order to obtain their predicted 3D structures. (We understand that a more accurate model 
        could have been generated by using Modeller and a suite of other softwares but we unfortunately did not have access to the computational facilities required to conduct an 
        extensive analysis) 

        2. Once we obtained the three-dimensional structures, we used AutoDock to dock fructose-1-phosphate to FruR and obtained the interaction data.

        3. We then conducted protein-protein docking using ClusPro to dock FruR with pFruB. Following this we compared the structure of FruR and the FruR-pfruB complex to look 
        for conformational changes in the structure of FruR.

        4. Finally, we docked fructose-1-phosphate with the FruR-pFruB complex in order to see differences in interactions at the binding pockets. 

        ## Results

        ### 1. Homology Modelling

        SWISS-MODEL is a web-based integrated service dedicated to protein structure homology modelling. Homology modelling comprises of (i) identification of structural template(s); (ii) alignment 
        of target sequence and template structure(s); (iii) model-building; and (iv) model quality evaluation.

        We used GMQE and QMEAN as parameters to gauge the reliability of our models. 

        GMQE (Global Model Quality Estimation) is a quality estimation procedure which combines properties from the target template alignment and the template structure. They are combined using a multilayer 
        perceptron. The resulting GMQE score is expressed as a number between 0 and 1, reflecting the expected accuracy of a model built with that alignment and template, normalized by the coverage of the 
        target sequence. Higher numbers indicate higher reliability.

        QMEAN (Studer et al.) is a composite estimator based on different geometrical properties and provides both global (i.e. for the entire structure) and local (i.e. per residue) absolute quality estimates 
        on the basis of one single model. The QMEAN Z-score provides an estimate of the "degree of nativeness" of the structural features observed in the model on a global scale [Benkert et al., ](#citation). 
        It indicates whether the QMEAN score of the model is comparable to what one would expect from experimental structures of similar size. QMEAN Z-scores around zero indicate good agreement between the model 
        structure and experimental structures of similar size. Scores of -4.0 or below are an indication of models with low quality.

        #### FruR

        As illustrated in the [Virtual Screening Model](/Model/Virtual_Screening), the Ramachandran Plot provids us an initial estimate on the structural assessment of the protein. We constructed a Ramachnadran plot of the 
        homology-modelled FruR, which is shown below. 

    - var imgpath = "../" + require("../../assets/img/Biosensor--RamachandranFruR.png")["default"]
    +image(1, imgpath, "The Ramachandran Plot for FruR", 50)

    :markdown-it(html)
        We found that 97.07% of the protein is Ramachandran favoured, however 1.88% are rotamer outliers and 31 out of the 6175 amino acids contain bad angles. 

        We then assessed the quality of our protein by plotting its predicted similarity to the target protein versus the corresponding residue number. 

    - var imgpath = "../" + require("../../assets/img/Biosensor--FruRQuality.png")["default"]
    +image(2, imgpath, "Local quality estimate for FruR", 50)

    :markdown-it(html)

        Our FruR model had a GMQE score of 0.76 and a QMean of 1.2. There is significant similarity between our target and template models which provides a high degree of confidence to the FruR model. 

        #### pFruB

        A similar study on the pFruB yielded the following plots.

    - var imgpath = "../" + require("../../assets/img/Biosensor--RamachandranpFruB.png")["default"]
    +image(3, imgpath, "The Ramachandran Plot for pFruB", 50)

    - var imgpath = "../" + require("../../assets/img/Biosensor--pFruBQuality.png")["default"]
    +image(4, imgpath, "Local quality estimate for pFruB", 50)

    :markdown-it(html)

        Our pFruB model proved to be a little tricky. The closest template available was Kumopsin1. However, the unavailability of a suitable template is one of the drawbacks 
        of homology modelling that is hard to circumvent. Understanding this limitation, we moved forward to conduct our docking studies.

        ### 2. AutoDock Models

        #### FruR - F1P

        We docked FruR and Fructose-1-Phosphate using AutoDock. AutoDock offers a variety of search algorithms to explore a given docking problem. These include Monte Carlo Simulated Annealing (SA); 
        a Genetic Algorithm (GA); and a hybrid local search GA, also known as the Lamarckian Genetic Algorithm (LGA). In general, the LGA performs the best out of SA, GA, and LGA, in finding the lowest energy of the system.

        We decided to use the Lamarckian GA and we conducted 100 GA runs to obtain the statistically significant docked conformations. The results of the docking are illustrated in the image below along with the interactions.
    
    - var imgpath = "../" + require("../../assets/img/Biosensor--FruR-F1P-pymol.png")["default"]
    +image(5, imgpath, "Visualisation of interactions between FruR and F1P on PyMol", 60)

    :markdown-it(html)

        From the results we derive that the binding of F1P happens to an active binding pocket of FruR surrounded by Gly, Gln and Arg residues.

        ### 3. ClusPro Models

        #### FruR-pFruB

        FruR-pfruB was docked using ClusPro. The [ClusPro](https://cluspro.org) server is a widely used tool for protein–protein docking. Docking with each energy parameter set results 
        in ten models defined by centers of highly populated clusters of low-energy docked structures. 

    - var imgpath = "../" + require("../../assets/img/Biosensor--ClusProAlg.png")["default"]
    +image(6, imgpath, "The ClusPro algorithm", 50)

    :markdown-it(html)

        The docking performed on the ClusPro server yielded a docked structure with binding energy -959.3 J. This energy would have been higher with a more accurate homology modelling of pFruB. 
        
        The detailed interactions between FruR and pFruB are provided in the [appendix](/Appendix#FruR-pFruBInteractions) for reference. An animation of the docked structure of FruR and pFruB is shown below. 
    
        Legend for the animation above: 
         - Green: pFruB
         - Blue: Chain A FruR
         - Peach: Chain B FruR


    - var imgpath = "../" + require("../../assets/img/Biosensor--FruR-pFruB.gif")["default"]
    +image(7, imgpath, "FruR-pFruB docking.", 70)

    :markdown-it(html)

        #### FruR-pFruB-F1P

        Next, we docked the modelled FruR-pFruB complex with Fructose-1 phosphate using AutoDock. We observed that there were no significant interactions taking place which meant that there is a 
        conformational change induced by pFruB on FruR. The following clustering histogram was obtained for 100 GA runs when FruR-pFruB complex was docked with F1P.

    - var imgpath = "../" + require("../../assets/img/Biosensor--FruR-F1P-pfruB-Cluster.png")["default"]
    +image(8, imgpath, "FruR-pFruB-F1P clustering histogram", 60)

    :markdown-it(html)

        We can see that the energy of interaction is almost 0 and statistically insignificant, indicating that binding is highly improbable. We then conducted an alignment study to 
        see the ligand binding pocket that was changed. The changed ligand pockets due to pFruB binding are indicated below. We can see that the major fructose binding pocket 
        undergoes a conformational change (shown by the dis-alignment of the initial blue beta sheet and the new red beta sheet) leading to a changed beta sheet structure.  

    .row
        .col-md-6
            - var imgpath = "../" + require("../../assets/img/Biosensor--Alignment1.png")["default"]
            +image(9, imgpath, "FruR-pFruB docking with F1P (View 1)")
        .col-md-6
                - var imgpath = "../" + require("../../assets/img/Biosensor--Alignment3.png")["default"]
                +image(9, imgpath, "FruR-pFruB docking with F1P (View 2)", 68)

    - var imgpath = "../" + require("../../assets/img/Biosensor--Alignment3.png")["default"]
    +image(10, imgpath, "FruR-pFruB docking with F1P (View 3)", 50)


append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Model")
    

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
