extends ../../templates/contents.pug

block headVars
    - var title = "Inoculant"
    - var requireMathJax = true
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "../" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundAttribution = "Photo by Josh Withers on Unsplash"
    - var backgroundAttributionLink = "https://unsplash.com/photos/lZ4xZZuk8iA"
    - var theme = "yellow"

block article
    :markdown-it(html)

        # Motivation

        In this model, we aim to determine the optimum kinematic viscosity (also known as "momentum diffusivity", is equal to the 
        ratio of the viscosity to the density of the fluid) of the polymer-based liquid inoculant suspension of the bacteria that 
        is introduced into the plant system (This is a part of our proposed implementation). Furthermore, we would also like to 
        prove that this inoculant is capable of being transported throughout the plant system by the vascular tissue.

        # Mathematical Model

        (**Note:** Henceforth, we shall be using the term ‘viscosity’ to refer to the kinematic viscosity of the liquid, unless stated otherwise.)

        To allow for the inoculant to be viscous enough for viable vascular transport, we make the assumption that its viscosity 
        lies between certain permissible values. The viscosity is assumed to lie within a certain interval centered around the 
        kinematic viscosity of water. Let \\( \sigma \\) represent this range and \\( \nu_w \\) represent the viscosity of water, 
        then the viscosity of the inoculant, \\( \nu \\), lies within the range

        $$
            \nu_w - \sigma \leq \nu \leq \nu_w + \sigma
        $$

        Suppose our polymer-based inoculant consists of \\( N \\) components, we can determine the Viscosity Blending Number 
        of each component [Refutas, 2000](#citation1). The <dfn> VBN ~ Viscosity Blending Number </dfn> of a particular solvent 
        with viscosity \\( \nu_i \\) is

        $$
            \text{VBN}_i = 14.534\cdot\ln(\ln(\nu_i + 0.8)) + 10.975
        $$

        The VBN of the N-component solvent is then calculated as

        $$
            \text{VBN} = \sum_{i=1}^{N} \chi_i \cdot \text{VBN}_i
        $$

        Where \\( \chi_i \\) is the mass fraction of each component. Given the VBN of the mixture, the viscosity can be calculated as:
        $$
            \nu = \exp\left(\exp\left(\frac{\text{VBN} - 10.975}{14.534}\right)\right) - 0.8
        $$

        Imposing the assumption we made about the viscosity of the inoculant, we obtain the following constraint on the viscosity:

        $$
            14.534\ln(\ln(\nu_w + 0.8 -\sigma)) + 10.975 \leq \sum_{i = 1}^{N} \chi_i \cdot \text{VBN}_i \leq 14.534\ln(\ln(\nu_w + 0.8 +\sigma)) \\
            + 10.975
        $$
        
        If we use the total toxicity of the inoculant as a cost function (a reasonable choice as the inoculant is going to be introduced into a food product), 
        we can then set up a linear optimisation problem to determine the viscosity of the inoculant. Using the <dfn> LD50 ~ Median Lethal Dose </dfn> (Rat, oral) 
        values for each component (represented by \\(T_i\\)), we can set up the cost function 
        $$
            C =  \sum_{i=1}^{N} \chi_i \cdot T_i
        $$

        The term \\( \sigma \\) is set to 15% of the viscosity of water. This means that we have allowed the numerical value of the viscosity of the inocluant 
        to lie within 15% of that of water. 

        We now state the components of the inoculant: Luria-Bertani Broth, Carboxymethyl cellulose (CMC), Bentonite, Triton X 100, Sorbic Acid, and Potassium Sorbate. 
        These components were selected for their low toxicity and relative ease of availability (cite). Another reason for choosing these set of components was that 
        they can easily be removed from the juice during its processing by methods that are already used in the sugar manufacturing process. For a detailed 
        description of the removal process and the sugar manufactuing process, look at our [Experiments](/Experiments) page. 
        
        We formulated a linear optimisation problem using the cost function and the constraints derived above. Using SciPy's `minimize` method
        we solved the problem to find the optimal composition of the inoculant. The resultling optimal concentrations of each component, along with their LD50 values 
        are tabulated below. 

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Component               | LD50 (Rats, oral) (g/kg) | Optimised Concentration (w/w)|
        | :---------:             | :----------------------: | :--------------------------: |
        | Culture Broth (LB)      | —                        | 95                           |
        | Triton X 100            | 4.19                     | 3.1                          |
        | Carboxymethyl cellulose | 27                       | 0.1                          |
        | Bentonite               | —                        | 1.4                          |
        | Sorbic Acid             | 7.36                     | 0.2                          |
        | Potassium Sorbate       | 4.34                     | 0.2                          |
        [Table 2: Optimal concentration of each component in the inoculant]

    :markdown-it(html)

        Using the VBN approach stated above, we obtain that the viscosity of the inoculant is \\(1.266 \text{ cSt }\\) (= \\( 1.266 \times 10^{-6} m^2s^{-1}\\)).
        This viscosity now serves as an ansatz and can be plugged into the equation for water transport in xylem tissues and a velocity of transport 
        for the solvent can be obtained.

        The Reynolds number for transport in xylem tissue is 0.05 [Rand, 1983](#citation2) and the xylem diameter is 50 μm [Evans & Morris, 2017](#citation3). 
        The expression for the Reynolds number for a xylem of diameter \\( D \\) and a fluid with flow rate \\( V \\) and viscosity \\( \nu \\) is
        $$ 
            R = \frac{VD}{\nu}
        $$
        
        Plugging in the values, we obtain that the velocity of flow of the inoculant through the vascular tissue is \\(1.2 \times 10^{-3} m s^{-1} \\). This value is consistent with values 
        found in literature [Evans & Morris, 2017](#citation3). This proves that our ansatz was correct.  

        Therefore, in this model, we have found the optimal viscosity and composition of our inoculant, and using that as an ansatz, we have proven that the inoculant 
        is capable of being transported through the vascular tissue in the plant.  

append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Model")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"Google_Books_URL": "https://books.google.co.in/books?id=Gsate978w5MC", "authors": "Maples, R. E.", "publisher": "PennWell Books.", "title": "Petroleum Refinery Process Economics.", "type": "book", "year_published": "(2000)."}, {"authors": "Rand, R. H. (1983). ", "doi": "https://doi.org/10.1146/annurev.fl.15.010183.000333", "journal": "Annual Review of Fluid Mechanics", "numbers": "15(1), 29-45. ", "title": "Fluid Mechanics of Green Plants.", "type": "article"}, {"authors": "Evans, M. J., & Morris, R. J. (2017). ", "doi": "https://doi.org/10.1111/tpj.13624", "journal": "The Plant Journal", "numbers": "91(6), 1029-1037. ", "title": "Chemical agents transported by xylem mass flow propagate variation potentials.", "type": "article"}]