extends ../../templates/contents.pug

block headVars
    - var title = "Kill Switch"
    - var requireMathJax = false

block article
    :markdown-it(html)

        Advances in synthetic biology raise increasingly important questions about biocontamination and biological containment. 
        It becomes absolutely essential that genetically-engineered organisms are not deleterious to the ecosystem and that scientists 
        have adequate control over their production and multiplication. To ensure all possible safety, certain safeguards are developed — 
        which are then introduced into the genetically modified organism — that compel the organism, in our case the bacteria, to rely on a 
        “survival” factor to maintain viability in the population. This can be done by the means of introducing an auxotrophy for a particular 
        compound (this is another safety aspect which we have included in our project. Please visit the section on Auxotroph model for a detailed 
        discussion about the same) or by introducing artificial systems, called Kill Switches, into the genetic material that result in cellular 
        death under certain conditions, such as the activation of a “trigger” caused by environmental changes [Stirling et al., 2017](#citation1).

        We intend to introduce our strain of bacteria into the sugarcane matrix to synthesise anti-invertase. Considering the close proximity of the
        system with both agricultural environments and human consumables, it is indispensable that our bacteria include a lethality mechanism. We propose 
        to use a modified type II ccdA-ccdB toxin-antitoxin system as our kill switch that is activated upon exposure to atmospheric concentrations of oxygen. 
        This results in a sharp increase in the amount of the toxin protein being synthesised which disturbs the already established equilibrium between 
        the toxin and antitoxin, effectively killing the cell, and thus preventing any contamination by stray microbes. In the following sections, 
        we explore the functioning of type II toxin-antitoxin systems, with an emphasis on the ccdA-ccdB mechanism, our rationale behind selecting this 
        particular system, and a mathematical description of the processes involved. 

        # Type II Toxin-Antitoxin Systems

        Bacterial toxin-antitoxin systems were characterised in the 1980s as molecular systems encoded in plasmids that ensured the persistence of a plasmid 
        in the host lineage during replication by making the cells “addicted” to the plasmid so that the only daughter cells that survived were the ones that 
        contained the plasmid. This is also known as postsegragational killing. Most prokaryotic chromosomes contain a number of toxin-antitoxin modules that 
        consist of a pair of genes that encode for two components: a stable toxin protein and its unstable, labile cognate antitoxin. Toxins are always proteins, 
        but the antitoxins can either be RNAs (in type I and III systems) or proteins (in type II systems).

        Type II toxin-antitoxin systems use a protein antitoxin to deactivate the toxin protein via a protein-protein interaction. All type II antitoxins are dual-function, 
        two-domain proteins that consist of a protein-protein interaction domain and a DNA-binding domain. The antitoxin binds to the toxin and inhibits its activity, and 
        the stable TA complex binds to the operator of the corresponding <dfn>TAS ~ Toxin-Antitoxin System</dfn> operon via the DNA-binding domain of the antitoxin and represses 
        its transcription [Makarova et al., 2009; Tam & Kline, 1989](#citation2, #citation3).
    
    - var imgpath = "../" + require("../../assets/img/Kill_Switch--type2ks.jpg")["default"]
    +image(1, imgpath, "Transcriptional regulation of type II toxin-antitoxin systems")
    
    +imgCitation("Fraikin et al., 2020", "4")

    :markdown-it(html)

        The working mechanism of toxin-antitoxin systems is shown in the above figure. The whole operon (antitoxin-toxin) is transcribed by a single autoregulated promoter. A lower 
        translational efficiency of toxins ensures a molar excess of antitoxin. The whole operon is generally transcribed by a single autoregulated promoter (black arrow). A molar 
        excess of antitoxin is ensured through its exclusive transcription by other promoters (blue arrow). Excess antitoxin binds operators (white boxes) to repress transcription 
        of the whole operon while the antitoxin gene is still transcribed. A molar excess of toxin displaces the antitoxin from its operators, leading to derepression of the autoregulated 
        promoter (black arrow) and transcription of the whole operon [Fraikin et al., 2020](#citation4).

        # ccdA-ccdB Toxin-Antitoxin System

        In the ccdA-ccdB system, the two genes are organised in an operon in which the antitoxin ccdA gene is upstream of the toxin ccdB gene. ccdA prevents ccdB toxicity by forming a 
        tight ccdA-ccdB complex [Afif et al., 2001](#citation5). cdB inhibits DNA replication by poisoning DNA gyrase; more specifically, ccdB prevents DNA gyrase from disentangling DNA 
        from replication resulting in double stranded breaks in the DNA [Dao-Thi et al., 2005](#citation6). ccdA and ccdB are able to form complexes of various stoichiometries depending 
        on their molar ratios, however maximal repression occurs at equimolar ratios of ccdA and ccdB [Syed et al., 2012](#citation7).

        As our product would be introduced into a plant which is later converted into a consumable item, we decided to use the ccdA-ccdB toxin-antitoxin system as the kill switch for its 
        relative non-toxicity towards humans and more generally, mammalian cells [Reschner et al., 2013](#citation8).

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.
prepend citations
    - var citations = [{"authors": "Stirling, F., Bitzan, L., O-Keefe, S., Redfield, E., Oliver, J. W. K., Way, J., & Silver, P. A. (2017). ", "doi": "https://doi.org/10.1016/j.molcel.2017.10.033", "journal": "Molecular Cell", "numbers": "68(4), 686-697.e3. ", "title": "Rational Design of Evolutionarily Stable Microbial Kill Switches.", "type": "article"}, {"authors": "Makarova, K. S., Wolf, Y. I., & Koonin, E. V. (2009). ", "doi": "https://doi.org/10.1186/1745-6150-4-19", "journal": "Biology Direct", "numbers": "4(1), 19. ", "title": "Comprehensive comparative-genomic analysis of Type 2 toxin-antitoxin systems and related mobile stress response systems in prokaryotes.", "type": "article"}, {"authors": "Tam, J. E., & Kline, B. C. (1989). ", "doi": "https://doi.org/10.1007/BF00261153", "journal": "Molecular and General Genetics MGG", "numbers": "219(1-2), 26-32. ", "title": "The F plasmid ccd autorepressor is a complex of CcdA and CcdB proteins.", "type": "article"}, {"authors": "Fraikin, N., Goormaghtigh, F., & Van Melderen, L. (2020). ", "doi": "https://doi.org/10.1128/JB.00763-19", "journal": "Journal of Bacteriology", "numbers": "202(7). ", "title": "Type II Toxin-Antitoxin Systems: Evolution and Revolutions.", "type": "article"}, {"authors": "Afif, H., Allali, N., Couturier, M., & Van Melderen, L. (2001). ", "doi": "https://doi.org/10.1046/j.1365-2958.2001.02492.x", "journal": "Molecular Microbiology", "numbers": "41(1), 73-82. ", "title": "The ratio between CcdA and CcdB modulates the transcriptional repression of the ccd poison-antidote system.", "type": "article"}, {"authors": "Dao-Thi, M.-H., Van Melderen, L., De Genst, E., Afif, H., Buts, L., Wyns, L., & Loris, R. (2005). ", "doi": "https://doi.org/10.1016/j.jmb.2005.03.049", "journal": "Journal of Molecular Biology", "numbers": "348(5), 1091-1102. ", "title": "Molecular Basis of Gyrase Poisoning by the Addiction Toxin CcdB.", "type": "article"}, {"authors": "Syed, M. A., & L  vesque, C. M. (2012). ", "doi": "https://doi.org/10.1139/w2012-025", "journal": "Canadian Journal of Microbiology", "numbers": "58(5), 553-562. ", "title": "Chromosomal bacterial type II toxin-antitoxin systems.", "type": "article"}, {"authors": "Reschner, A., Scohy, S., Vandermeulen, G., Daukandt, M., Jacques, C., Michel, B., ... & Szpirer, C. (2013). Use of Staby  technology for development and production of DNA vaccines free of antibiotic resistance gene. Human Vaccines & Immunotherapeutics, 9(10), 2203-2210. ", "doi": "https://doi.org/10.4161/hv.25086", "journal": "Human Vaccines & Immunotherapeutics", "numbers": "9(10), 2203-2210. ", "title": "Use of Staby technology for development and production of DNA vaccines free of antibiotic resistance gene.", "type": "article"}]