extends ../../templates/contents.pug

block headVars
    - var title = "Atmosphere Regulated Kill Switch"
    - var requireMathJax = true
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "../" + require("../../assets/img/Model--header.svg")["default"]
    - var headerBackgroundColor = "#6ad8d5"
    - var backgroundAttribution = "Photo from Freepik"
    - var backgroundAttributionLink = "https://freepik.com"
    - var theme = "project"

block article
    :markdown-it(html)

        # Introduction

        The first step involved in modelling the kill switch was to carry out a literature survey to understand the functioning of the module at a molecular level and understand the various mechanisms 
        and reactions involved.

        The kill switch has been designed to be activated by exposure to atmospheric concentrations of oxygen. Oxygen represses the transcription of the antitoxin 
        and the absence of which leads to an accumulation of toxin in the cell, leading to cell death. Our model was based on the mechanism proposed by Gelens et al. [2013](#citation1) with certain modifications
        that are specific to our construct. Our model involves an **inducible transcription** of the toxin, and whose kinetics are governed by appropriate Hill equations. 
        The diagram below provides a detailed account of the processes and the reaction pathways involved. 

    - var imgpath = "../" + require("../../assets/img/Kill_Switch--KillSwitchDynamics.png")["default"]
    +image(1, imgpath, "The dynamics of the kill switch construct", 60)
        
    :markdown-it(html)

        Six different chemical species have to be accounted for: the toxin mRNA (\\( M_T \\)), the antitoxin mRNA (\\( M_A \\)), the toxin (\\( T \\)), the antitoxin (\\( A \\)), a complex of the form \\( TA \\) (\\( C_1 \\)), 
        and another complex of the form \\( TAT \\) (\\( C_2 \\)); the concentrations of these species are determined by forming ordinary differential equations. 

        We make the following assumptions in our model:

        1. Our inducible mechanisms follow Hill characteristics.

        2. (**Quasi-steady state approximation**) Due to a difference in the time scales involved between binding/unbinding of FNR and oxygen (happening in the order of milliseconds) and transcription/translation (happening in the order of minutes), we assume that the 
        concentration of the oxidised FNR promoter, \\( [FNR-O_2] \\) remains time-invariant, that is, \\( \frac{d[FNR-O_2]}{dt} = 0 \\).

        3. The transcription rates for both the toxin and antitoxin mRNAs were assumed to be approximately similar.

        4. The initial concentrations of all chemical species was assumed to be zero.

        # Differential Equations

        We write the coupled <dfn> ODEs ~ Ordinary Differential Equations </dfn> that describe the reactions illustrated above as follows.

        $$
        \begin{aligned}
            \frac{d[M_A]}{dt} &= \rho_A\frac{C_N}{1 + k_D[O_2]}  - \delta_A[M_A] \\\\
            \frac{d[M_T]}{dt} &= \rho_TC_N - \delta_T[M_T] \\\\
            \frac{d[A]}{dt} &= \beta_A[M_A] + \theta_c[C_1] - d_A[A] - \alpha_c[T][A] \\\\
            \frac{d[T]}{dt} &= \beta_T[M_T] + \theta_c[C_1] + Fd_A[C_1] + 2Fd_A[C_2] - d_T[T] - \alpha_c[T][A] - \alpha_c[C_1][A] \\\\
            \frac{d[C_1]}{dt} &= \alpha_c[A][T] + \theta_c[C_2] - \theta_c[C_1] - d_T[C_1] - Fd_A[C_1] - \alpha_c[C_1][T] \\\\
            \frac{d[C_2]}{dt} &= \alpha_c[C_1][T]  - \theta_c[C_2] - d_T[C_2] - Fd_A[C_2]\\\\
        \end{aligned}
        $$

        The parameters used in the above set of equations along with their description and numerical values are tabulated below. In the absence of literature on the \\( FNR/O_2 \\) interactions, we have 
        made educated guessed about some parameter values.  
    
    .table-wrapper
        :markdown-it(html plugins=['markdown-it-multimd-table'])

            | Parameter      | Description                                      | Value     | Units                 | Reference                          | 
            | :-------------:| :-----------------------------------------------:| :--------:| :-------------------: | :---------------------------------:|
            | \\( \rho_A \\) | Transcription rate of the Antitoxin              | \\(0.1333\\)    | \\(\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\( \rho_T \\) | Transcription rate of the Toxin                  | \\(0.1333\\)    | \\(\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\( \beta_A \\)| Translation rate of the Antitoxin                | \\(0.139\\)     | \\(\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\( \beta_T \\) | Translation rate of the Toxin                   | \\(0.033\\)     | \\(\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\( \delta_A \\) | Decay rate of the Antitoxin mRNA               | \\(0.00203\\)   | \\(\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\( \delta_T \\) | Decay rate of the Toxin mRNA                   | \\(0.00203\\)   | \\(\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\( d_A \\) | Decay rate of the Antitoxin                         | \\(2.8881\times 10^{-4}\\) | \\(\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\( d_T \\) | Decay rate of the Toxin                             | \\(0.00115524\\)| \\(\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\( F \\) | Decay rate of the Antitoxin in the \\( AT \\) complex | \\(0.2\\)       |         -            | [Gelens et. al., 2013](#citation1)|
            | \\( \alpha_c \\) | Rate of complex formation                      | \\(2\times 10^6\\)      | \\(\text{M}^{-1}\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\( \theta_c \\) | Rate of complex decay                          | \\(7.14972\times 10^{-6}\\)| \\(\text{M}^{-1}\text{s}^{-1}\\) | [Gelens et. al., 2013](#citation1)|
            | \\(  C_N \\)     | Plasmid copy number                            | 16                                    | -| |
            | \\( k_D \\)     | Dissociation constant for FNR and \\( O_2 \\)   | \\(800\times10^{-6}\\)         | \\(\text{s}^{-1}\\) | [Sutton, V. R., et al., 2012](#citation2) |
            [Table 1: Model paramters and their numerical values]

    :markdown-it(html)

        # Simulations of the model

        As we had no lab access, we could not verify the values of parameters through experimental analysis; however, we have designed experiments that we would have conducted to verify the parameter values through curve fitting. 
        These experiments can be found on our [experiments](/Experiments) page. The next step would be to solve the above ODEs numerically to obtain the concentrations of free toxin and antitoxin. 
        
        To activate the kill switch, we require a "trigger", or a change in the surrounding oxygen concentration. This trigger was achieved by modelling the oxygen concentration as a step function, \\( O(t) \\), that represents 
        the concentration of oxygen in the environment of the cell. This function can be expressed as

        $$
            O(t) = O_1H(300 - t) + O_2H(t - 300)
        $$

        where \\( O_1 \text{ and } O_2\\) are the oxygen concentrations inside and outside the sugarcane matrix, respectively and \\( H(x) \\) is the Heaviside step function.

        This function was constructed such that the kill switch would be activated at the \\(t = 300 \text{ min}\\) mark. This time instance was selected to allow us to observe the steady state concentrations of both, the toxin and antitoxin. The jump 
        in the concentration, given by the point of discontinuity in the step function, corresponds to the exposure of the cell to an aerobic environment, with atmospheric levels of oxygen.

        The ODEs were solved numerically using SciPy's `solve_ivp` method using the [Radau](/Appendix) algorithm and the concentrations of major chemical species were plotted against time.

    - var imgpath = "../" + require("../../assets/img/Kill_Switch--KillSwitchGraph.png")["default"]
    +image(2, imgpath, "Simulation of the kill switch construct")

    :markdown-it(html)

        From the graph, it is seen that around the \\(t = 300 \text{ min}\\) mark (when the kill switch is activated), the concentration of free ccdA begins to drop, reaches a minimum and that of free ccdB beings to rise. 
        After a while (around 55-60 minutes or so), the only major chemical species in the cellular system are the toxin (ccdB) and a highly stable TAT complexes. Therefore, the toxin accumulates in the cell and reaches a high enough concentration to kill it.

        # Sensitivity Analysis 

        After establishing the models for the system, we wanted to carry out a sensitivity analysis to identify parameters which could be used to fine-tune our kill switch. As a part of the sensitivity analysis, we selected a few 
        model parameters and varied them by multiplying them with a term proportional to a given factor. The change in the output as a result of this perturbation was measured and studied.

    - var imgpath = "../" + require("../../assets/img/Kill_Switch--Sensitivity.png")["default"]
    +image(3, imgpath, "Sensitivity analysis of the model")

    :markdown-it(html)
        The results of our sensitivity analysis showed that manipulating parameters associated with the FNR promoter would result in a more significant diference in the model output. Therefore, the amount of toxin produced, and consequently the 
        growth rate of the bacteria can be controlled more easily by varying the \\(k_D\\) associated with the FNR promoter. Based on these results, we concluded that altering \\(k_D\\) by means such as mutagenesis would lead to a more fine-tuned kill switch.

        Next we wanted to exclusively study the the variation of toxin concentration as a function of the \\( k_D \\) values. To do this, we used the same approach as mentioned above, where multiplied a term proportional to a factor with \\( k_D \\) value 
        and studied how the concentration of ccdB would change. The plot we obtained is illustrated below.

    - var imgpath = "../" + require("../../assets/img/Kill_Switch--ccdBvsKd.png")["default"]
    +image(4, imgpath, "The variation of ccdB toxin concentration with varying k_D values")

    :markdown-it(html)

        This analysis showed us that altering \\(k_D\\) is an effective tool to increase the sensitivity of the kill switch as the graph indicates shorter response times for a perturbed \\(k_D\\). The next question was how could this alteration be acheived? 
        Since we did not have access to a lab, we have hypothesised below a few ways that this could be performed.

        The fine-tuning of the kill switch could be achieived by altering the expression rates for the ccdB gene. There are two possible ways to accomplish this:
        - Inducing mutations in the promoter region of the gene to alter its affinity towards RNA Polymerase — which would affect the transcription and translation rates; or 
        - Using the promoter regions of genes with rates in the desired range.

        We can also control the binding of FNR/O2 to its binding site by either:
        - Inducing mutations in the operator region to alter the affinities of FNR to the binding site; or
        - Inducing mutation in the repressor proteings by altering region that encodes for FNR thereby changing its affinity to the operator site.


        # Conclusions

        From the model we created, we have derived the following conclusions:
        1. The arrest of growth can be observed around 50-70 minutes after the kill switch has been activated.
        2. This time can be brought down further by tuning the model to change the \\( k_D \\) value for FNR/O2.
        
 
append buttons 
    +buttonLeft("Model/pFruB-Cra System")
    +buttonRight("Model/Virtual Screening")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"authors": "Gelens, L., Hill, L., Vandervelde, A., Danckaert, J., & Loris, R. (2013). ", "doi": "https://doi.org/10.1371/journal.pcbi.1003190", "journal": "PLoS Computational Biology", "numbers": "9(8), e1003190. ", "title": "A General Model for Toxin-Antitoxin Module Dynamics Can Explain Persister Cell Formation in E. coli.", "type": "article"}, {"authors": "Sutton, V. R., Mettert, E. L., Beinert, H., & Kiley, P. J. (2004). ", "doi": "https://doi.org/10.1128/jb.186.23.8018-8025.2004", "journal": "Journal of Bacteriology", "numbers": "186(23), 8018-8025. ", "title": "Kinetic Analysis of the Oxidative Conversion of the [4Fe-4S]2+ Cluster of FNR to a [2Fe-2S]2+ Cluster.", "type": "article"}]