extends ../../templates/contents.pug

block headVars
    - var title = "pFruB-Cra System"
    - var requireMathJax = true
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "../" + require("../../assets/img/Model--header.svg")["default"]
    - var headerBackgroundColor = "#6ad8d5"
    - var backgroundAttribution = "Photo from Freepik"
    - var backgroundAttributionLink = "https://freepik.com"
    - var theme = "project"

block article
    :markdown-it(html)

        # Motivation

        A biosensor system is often used in biological systems to detect an analyte of interest. Our intention behind utilising a biosensor system in our project was to have a controlled release of the protein of interest, that is the invertase inhibitor. 
        Since fructose is a product of hydrolysis of sucrose, its concentration directly proportional to the activity of invertase. Our construct therefore produces an anti-invertase enzyme whose quantity is regulated by the concentration of fructose in the 
        cellular environment.

        We used the pFruB-Cra system to modulate the output protein. The expression of the FruR gene is regulated by an IPTG-induced pTac promoter, which is induced before packaging the bacteria in our polymer inoculant. FruR is a transcription factor with an 
        affinity for fructose-1-phosphate (F1P) — an important component of most metabolic pathways. It is formed from D-fructose, which itself is produced by the hydrolysis of sucrose. The FruR protein prevents transcription of the regulated promoters. pFruB 
        is the promoter region following FruR and is repressed by the FruR transcription factor. 

        We planned on simiulating the dynamics of the pFruB-Cra system _in silico_ but the lack of lab access due to COVID lockdowns coupled with an unavailability of any literature on the kinetic studies of the FruR system limited us to a theoretical model. We have however 
        planned a few experiments that we would have conducted to determine the kinetics of the model. You can find them on our experiments page [here](/Experiments).

        Given below is a figure showing the dynamics governing the working of the construct. 

    - var imgpath = "../" + require("../../assets/img/Biosensor--Dynamics.png")["default"]
    +image(1, imgpath, "The dynamics governing the pFruB-Cra construct", 70)

    :markdown-it(html)

        The assumptions we have made for the model are listed below:

        1. As cells would be IPTG-induced before being added to the inoculant, we have assumed that the total number of FruR molecules remains constant during the course of the action of the cells.

        2. Phosphorylation and dephosphorylation of fructose is not considered to simplify the model. We assume that all the fructose that is taken up by the cell is immediately phosphorylated. Hence, 
        the amount of fructose is roughly equal to the amount of fructose-1-phosphate. Subsequently, the metabolic pathway from F1P leading to FBP, F6P, G6P is also ignored [Chavarría et al., 2014](#citation1).

        3. The FruR-F1P complex degrades slowly enough such that the FruR in the complex is not recycled back to bind to pFruB again.
        
        4. The binding rate for F1P and FruR is unaffected by pFruB.

        5. F1P binds to FruR and helps it unbind from pFruB as a concerted non-reversible displacement reaction.

        6. There is a constant external source of FruR which maintains its concentration at a steady, constant level throughout the timescale of the model.

    - var imgpath = "../" + require("../../assets/img/Biosensor--GlucoseFlowchart.png")["default"]
    +image(2, imgpath, "The metabolic pathway of glucose and fructose", 50)

    :markdown-it(html)

        # Mathematical Model

        ## Reactions Involved

        The reactions involved in the working of the biosensor constructs are

        $$
            \text{Fructose} \xrightarrow{\text{Fructokinase}} \text{Fructose-1-phosphate}\\\\
            \text{FruR} + \text{pFruB} \xrightarrow{} \text{[pFruB-FruR]}\\\\
            \text{F1P} + \text{[pFruB-FruR]} \xrightarrow{} \text{[F1P-FruR]} + \text{pFruB}\\\\
            \text{[F1P-FruR]} \xrightarrow{} \text{FruR} + \text{F1P}\\\\
            \\\\
            \text{Plasmid} \xrightarrow{} \text{Invertase Inhibitor} \xrightarrow{} \emptyset\\\\
            \text{Plasmid} \xrightarrow{} \text{mCherry} \xrightarrow{} \emptyset\\\\
        $$

        ## Differential Equations

        The set of <dfn> ODEs ~ Ordinary Differential Equations </dfn> that model the FruR-Cra kinetics are illustrated below:

        $$
        \begin{aligned}
            \frac{d[A]}{dt} &= \frac{e_A C_N}{\left( 1 + \frac{[R_b]}{k_f} \right)} - \beta_A[A]\\\\
            \frac{d[M]}{dt} &= \frac{e_M C_N}{\left( 1 + \frac{[R_b]}{k_f} \right)} - \beta_M[M]\\\\
            \frac{d[F]}{dt} &= - k_1[F][C_2] + k_2[C_1]\\\\
            \frac{d[R]}{dt} &= - k_3[R]C_B + k_2[C_1]\\\\
            \frac{d[C_1]}{dt} &= k_1[F][C_2] - k_2[C_1]\\\\
            \frac{d[C_2]}{dt} &= k_3[R]C_B - k_1[F][C_2]\\\\
            [R_b] &= \frac{C_B \times [R]}{[k_R]}
        \end{aligned}
        $$

        Here, 
        - \\( [P] \\) is the pFruB concentration;
        - \\( [R] \\) is the FruR concentration;
        - \\( [M] \\) is the mCherry concentration;
        - \\( [A] \\) is the anti-invertase concentration;
        - \\( [C_1] \\) is the concentration of the [F1P-FruR] complex;
        - \\( [C_2] \\) is the concentration of the [pFruB-FruR] complex (in the binding domain);
        -  \\( [R_b] \\) is the concentration of the domain-bound pFruB and FruR complex [Bisswanger, H., 2008](#citation4); and
        - \\([C_B] = \frac{C_N}{V}\\) is the approximate concentration of binding domains per cell where \\(C_N\\) is the plasmid copy number and \\(V \\) is the cell volume.

        The parameters used in the above set of equations along with their descriptions are tabulated below. 

    :markdown-it(html plugins=['markdown-it-multimd-table'])

        | Parameter      | Description                                      | 
        | :-------------:| :-----------------------------------------------:| 
        | \\( e_A  \\) | Expression rate for anti-invertase\\(^\dagger\\)               | 
        | \\( e_M\\) | Expression rate for mCherry\\(^\dagger\\)                  |
        | \\( \beta_A \\)| Degradtion rate of anti-invertase                | 
        | \\( \beta_M \\) | Degradtion rate of mCherry                  | 
        | \\( k_1 \\) | Binding rate of F1P to FruR              | 
        | \\( k_2 \\) | Unbinding rate of F1P from FruR                    | 
        | \\( k_f (=\frac{k_2}{k_1}) \\) | Dissociation constant for F1P and FruR                         | 
        | \\( k_3 \\) | Binding rate of FruR to pFruB                             | 
        | \\( k_4 \\) | Unbinding rate of FruR from pFruB | 
        | \\( k_R (=\frac{k_4}{k_3}) \\) | Dissociation constant for FruR and pFruB                      | 
         [Table 1: Model paramters and their description]

         \\(^\dagger\\) - Expression rate is a modification made to decrease the number of parameters in the model. Since the degradation and translation 
         rates of mRNA are in the order of seconds while those for proteins are of the order of minutes, we combine the two equations for expression of protein into one compact equation. 
         The expression rate for a protein \\(B\\) is given by \\( e_B = \frac{\alpha_B \alpha_{mB}}{\beta_{mB}} \\) where \\( \alpha_B \\) is the translation rate of the protein;
          \\( \alpha_{mB} \\) is the trancription rate of the protein mRNA; and \\( \beta_{mB} \\) is the degradation rate of the protein mRNA.

        
        The experimental output (concentration of mCherry) can be corroborated to the model (pFruB activity) using the following equation [Leveau, J.H.J. & Lindow, S.E.,  2001](#citation3).
        $$
            L = \frac{\partial F}{\partial OD}\mu\left( 1 + \frac{\mu}{m}\right)
        $$

        where 
        - \\(L\\) is the promoter activity;
        - \\(F\\) is the fluoroscence of mCherry;
        - \\(\mu\\) is the growth rate;
        - \\(m\\) is a maturation constant of the fluoroscent protein (mCherry) (This is obtained from literature); and
        - \\( \frac{\partial F}{\partial OD} \\) is the slope of the plot of the fluoroscence output versus the optical density of the culture. 

    :markdown-it(html)


        # Molecular Model

        Since FruR and its interactions are not extensively characterised, we had to conduct molecular docking studies in order to elucidate 
        the interactions between FruR, pFruB and fructose. We followed the steps below to conduct this study

        1. We first conducted homology modelling of FruR using SWISS-MODEL in order to obtain its predicted 3D structure (We understand that a more accurate model 
        could have been generated by using Modeller and a suite of other softwares but we unfortunately did not have access to the computational facilities required to conduct an 
        extensive analysis).

        2. Once we obtained the three-dimensional structures, we used AutoDock to dock fructose-1-phosphate to FruR and obtained the interaction data.

        3. We then tried predicting the region/electrostatic patch that FruR uses to bind to the DNA-binding region (pFruB). 

        # Results

        ## 1. Homology Modelling

        SWISS-MODEL [9](#citation9)[10](#citation10)[11](#citation11)[12](#citation12)[13](#citation13)[14](#citation14). is a web-based integrated service dedicated to protein structure homology modelling. Homology modelling comprises of (i) identification of structural template(s); (ii) alignment 
        of target sequence and template structure(s); (iii) model-building; and (iv) model quality evaluation.

        We have used GMQE and QMEAN as parameters to gauge the reliability of our models. 

        GMQE (Global Model Quality Estimation) is a quality estimation procedure which combines properties from the target template alignment and the template structure. They are combined using a multilayer 
        perceptron. The resulting GMQE score is expressed as a number between 0 and 1, reflecting the expected accuracy of a model built with that alignment and template, normalized by the coverage of the 
        target sequence. Higher numbers indicate higher reliability.

        QMEAN is a composite estimator based on different geometrical properties and provides both global (i.e. for the entire structure) and local (i.e. per residue) absolute quality estimates 
        on the basis of one single model. The QMEAN Z-score provides an estimate of the "degree of nativeness" of the structural features observed in the model on a global scale [Benkert et al., 2009](#citation5). 
        It indicates whether the QMEAN score of the model is comparable to what one would expect from experimental structures of similar size. QMEAN Z-scores around zero indicate good agreement between the model 
        structure and experimental structures of similar size. Scores of -4.0 or below are an indication of models with low quality.

        ### FruR

        As illustrated in the [Virtual Screening Model](/Model/Virtual_Screening), the Ramachandran Plot provids us an initial estimate on the structural assessment of the protein. We constructed a Ramachnadran plot of the 
        homology-modelled FruR, which is shown below. 

    - var imgpath = "../" + require("../../assets/img/Biosensor--RamachandranFruR.png")["default"]
    +image(3, imgpath, "The Ramachandran Plot for FruR", 50)

    :markdown-it(html)
        We found that 97.07% of the protein is Ramachandran favoured, however 1.88% are rotamer outliers and 31 out of the 6175 amino acids contain bad angles. 

        We then assessed the quality of our protein by plotting its predicted similarity to the target protein versus the corresponding residue number. 

    - var imgpath = "../" + require("../../assets/img/Biosensor--FruRQuality.png")["default"]
    +image(4, imgpath, "Local quality estimate for FruR", 50)

    :markdown-it(html)

        ## 2. AutoDock Models

        ### FruR - F1P

        We docked FruR and Fructose-1-Phosphate using AutoDock. AutoDock offers a variety of search algorithms to explore a given docking problem. These include Monte Carlo Simulated Annealing (SA); 
        a Genetic Algorithm (GA); and a hybrid local search GA, also known as the Lamarckian Genetic Algorithm (LGA). In general, the LGA performs the best out of SA, GA, and LGA, in finding the lowest energy of the system.

        We decided to use the Lamarckian GA and we conducted 100 GA runs to obtain the statistically significant docked conformations. The results of the docking are illustrated in the image below along with the interactions.
    
    - var imgpath = "../" + require("../../assets/img/Biosensor--FruR-F1P-pymol.png")["default"]
    +image(5, imgpath, "Visualisation of interactions between FruR and F1P on PyMol", 60)

    :markdown-it(html)

        From the results we derive that the binding of F1P happens to an active binding pocket of FruR surrounded by Gly, Gln and Arg residues.

        ## 3. BindUP Prediction

    :markdown-it(html)

        BindUP [Paz et al., 2016](#citation16) is an automatic server to predict DNA and RNA binding proteins given the three dimensional structure of the protein (or a structural model). 
        The DNA and RNA binding prediction is based on the electrostatic patches on the protein surface and does not rely on either sequence or structural homology. 
        In addition to providing functional prediction (i.e. whether the protein binds nucleic acids or not), the server displays the largest positive and/or negative 
        electrostatic patches on the protein.

        The largest positive patch we found on FruR was ARG60 THR61 ARG62 GLN86 GLN89 ARG90 GLY91 ARG294 LEU301 GLU302 LEU305 LEU308, which is highlighted in the animation below. 
    
        Legend for the animation below: 
         - Red: Electrostatic patch
         - Blue: Chain A FruR
         - Peach: Chain B FruR


    - var imgpath = "../" + require("../../assets/img/Biosensor--FruR-pFruB.gif")["default"]
    +image(6, imgpath, "FruR-pFruB docking.", 70)

    :markdown-it(html)

        It is observed that the DNA-binding region of FruR is very close to the F1P ligand-binding pocket. This confirms our hypothesis that F1P binding to FruR precludes FruR binding to pFruB. 
        This observation, therefore, serves as a validation of our assumption that F1P binds to FruR and helps it unbind from pFruB as a concerted non-reversible displacement reaction. 


append buttons
    //- mind the quotes and the plus sign
    +buttonLeft("Model")
    +buttonRight("Model/Kill Switch")
    

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"authors": "Chavarr\u00eda, M., Durante-Rodr\u00edguez, G., Krell, T., Santiago, C., Brezovsky, J., Damborsky, J., & de Lorenzo, V. (2014). ", "doi": "https://doi.org/10.1016/j.fob.2014.03.013", "journal": "FEBS Open Bio", "numbers": "4(1), 377-386. ", "title": "Fructose 1-phosphate is the one and only physiological effector of the Cra (FruR) regulator ofPseudomonas putida.", "type": "article"}, {"authors": "Schilstra, M. J., & Nehaniv, C. L. (2008). ", "doi": "https://doi.org/10.1162/artl.2008.14.1.121", "journal": "Artificial Life", "numbers": "14(1), 121-133. ", "title": "Bio-Logic: Gene Expression and the Laws of Combinatorial Logic.", "type": "article"}, {"authors": "Leveau, J. H. J., & Lindow, S. E. (2001). ", "doi": "https://doi.org/10.1128/JB.183.23.6752-6762.2001", "journal": "Journal of Bacteriology", "numbers": "183(23), 6752-6762. ", "title": "Predictive and Interpretive Simulation of Green Fluorescent Protein Expression in Reporter Bacteria.", "type": "article"}, {"Google_Books_URL": "https://books.google.co.in/books?id=6DiEL3mGIzgC", "authors": "Bisswanger, H.", "publisher": "John Wiley & Sons.", "title": "Enzyme Kinetics: Principles and Methods.", "type": "book", "year_published": "(2008)."}, {"authors": "Benkert, P., K\u00fcnzli, M., & Schwede, T. (2009). ", "doi": "https://doi.org/10.1093/nar/gkp322", "journal": "Nucleic Acids Research", "numbers": "37(suppl_2), W510-W514. ", "title": "QMEAN server for protein model quality estimation.", "type": "article"}, {"authors": "Vajda, S., Yueh, C., Beglov, D., Bohnuud, T., Mottarella, S. E., Xia, B., ... & Kozakov, D. (2017). ", "doi": "https://doi.org/10.1002/prot.25219", "journal": "Proteins: Structure, Function, and Bioinformatics", "numbers": "85(3), 435-444. ", "title": "New additions to the ClusPro server motivated by CAPRI.", "type": "article"}, {"authors": "Kozakov, D., Hall, D. R., Xia, B., Porter, K. A., Padhorny, D., Yueh, C., ... & Vajda, S. (2017). ", "doi": "https://doi.org/10.1038/nprot.2016.169", "journal": "Nature Protocols", "numbers": "12(2), 255-278. ", "title": "The ClusPro web server for protein-protein docking.", "type": "article"}, {"authors": "Kozakov, D., Beglov, D., Bohnuud, T., Mottarella, S. E., Xia, B., Hall, D. R., & Vajda, S. (2013). ", "doi": "https://doi.org/10.1002/prot.24403", "journal": "Proteins: Structure, Function, and Bioinformatics", "numbers": "81(12), 2159-2166. ", "title": "How good is automated protein docking?.", "type": "article"}, {"authors": "Waterhouse, A., Bertoni, M., Bienert, S., Studer, G., Tauriello, G., Gumienny, R., ... & Schwede, T. (2018). ", "doi": "https://doi.org/10.1093/nar/gky427", "journal": "Nucleic Acids Research", "numbers": "46(W1), W296-W303. ", "title": "SWISS-MODEL: homology modelling of protein structures and complexes.", "type": "article"}, {"authors": "Bienert, S., Waterhouse, A., de Beer, T. A. P., Tauriello, G., Studer, G., Bordoli, L., & Schwede, T. (2016). The SWISS-MODEL Repository-new features and functionality. Nucleic Acids Research, 45(D1), D313-D319. ", "doi": "https://dx.doi.org/10.1093/nar/gkw1132", "journal": "Nucleic Acids Research", "numbers": "45(D1), D313-D319. ", "title": "The SWISS-MODEL Repository new features and functionality.", "type": "article"}, {"authors": "Guex, N., Peitsch, M. C., & Schwede, T. (2009). ", "doi": "https://dx.doi.org/10.1002/elps.200900140", "journal": "ELECTROPHORESIS", "numbers": "30(S1), S162-S173. ", "title": "Automated comparative protein structure modeling with SWISS-MODEL and Swiss-PdbViewer: A historical perspective.", "type": "article"}, {"authors": "Studer, G., Rempfer, C., Waterhouse, A. M., Gumienny, R., Haas, J., & Schwede, T. (2019). QMEANDisCo-distance constraints applied on model quality estimation. Bioinformatics, 36(6), 1765-1771. ", "doi": "https://dx.doi.org/10.1093/bioinformatics/btz828", "journal": "Bioinformatics", "numbers": "36(6), 1765-1771. ", "title": "QMEANDisCo distance constraints applied on model quality estimation.", "type": "article"}, {"authors": "Benkert, P., Biasini, M., & Schwede, T. (2010). ", "doi": "https://dx.doi.org/10.1093/bioinformatics/btq662", "journal": "Bioinformatics", "numbers": "27(3), 343-350. ", "title": "Toward the estimation of the absolute quality of individual protein structure models.", "type": "article"}, {"authors": "Bertoni, M., Kiefer, F., Biasini, M., Bordoli, L., & Schwede, T. (2017). ", "doi": "https://dx.doi.org/10.1038/s41598-017-09654-8", "journal": "Scientific Reports", "numbers": "7(1). ", "title": "Modeling protein quaternary structure of homo-and hetero-oligomers beyond binary interactions by homology.", "type": "article"}, {"authors": "Schr\u00f6dinger, LLC. (2010).", "journal": "PyMOL.", "numbers": "Version 2.4.", "title": "The PyMOL Molecular Graphics System.", "type": "article", "year_published": 2010}, {"authors": "Paz, I., Kligun, E., Bengad, B., & Mandel-Gutfreund, Y. (2016). ", "doi": "https://dx.doi.org/10.1093/nar/gkw454", "journal": "Nucleic Acids Research", "numbers": "44(W1), W568-W574. ", "title": "BindUP: a web server for non-homology-based prediction of DNA and RNA binding proteins.", "type": "article"}]