extends ../../templates/contents.pug

block headVars
    - var title = "Virtual Screening"
    - var requireMathJax = true
    //- You can just write the filename here and it will be resolved to 'require'.
    //- var backgroundImage = "" + require("../../assets/img/Description--josh-withers.jpg")["default"]
    - var backgroundImage = "../" + require("../../assets/img/Model--header.svg")["default"]
    - var headerBackgroundColor = "#6ad8d5"
    - var backgroundAttribution = "Photo from Freepik"
    - var backgroundAttributionLink = "https://freepik.com"
    - var theme = "project"

block article
    :markdown-it(html)

        # Motivation

        The crux of our biosensor is the invertase inhibitor enzyme. The experiments that we have designed help us characterise this inhibitor but it was crucial that before we design our experiments, we have a sense 
        of the different invertase inhibitors that exist and how they interact with sugarcane invertase. Although a sugarcane inhibitor would have been the first choice, while conducting a literature survey, it was found 
        that the inhibitor from sugarcane was not extensively characterised which would prove to be a difficulty while cloning in a prokaryotic vector. Furthermore, many plant genomes harbor large, expanded gene families. 
        These families probably originated from gene duplication events and often have evolved to fulfill diverse functions [Hothorn et al., 2010](#citation1). Hence, we screened potential inhibitors which have previously and extensively been cloned in 
        _E. coli_. Prokaryotic inhibitors were not suitable as the folding and the three-dimensional structure was found to have very little homology with sugarcane invertase inhibitors.

        # Procedure

        In order to perform protein-protein docking, we used the ClusPro docking server. We performed docking studies of the following plant inhibitors with invertase:

        1. Sugarcane inhibitor
        2. _Arabidopsis_ inhibitor
        3. Tobacco inhibitor
        4. Potato inhibitor

        ClusPro performs three computational steps: first it performs a rigid body docking; next it performs a RMSD based clustering of the 1000 lowest energy structures; and lastly it performs a removal of steric clashes 
        by energy minimization. The [ClusPro server](https://cluspro.org) [2](#citation2) [3](#citation3) [4](#citation4) is a widely used tool for protein–protein docking. Docking with each energy parameter set results 
        in ten models defined by centers of highly populated clusters of low-energy docked structures. 

    - var imgpath = "../" + require("../../assets/img/Biosensor--ClusProAlg.png")["default"]
    +image(1, imgpath, "The ClusPro algorithm", 50)

    :markdown-it(html)
        
        Docking methods can be classified as direct or template-based. Based on thermodynamics, direct methods attempt to find the structure of the target complex located at the minimum of Gibbs free 
        energy in the conformational space. Template-based docking, on the other hand, is based on the observation that interacting pairs sharing above 30% sequence identity often interact in the same way, 
        and hence the structure of the target complex can be obtained by homology modeling tools if an appropriate template complex of a known structure is available. 

        Although the applicability of template-based docking has been extended based on the observation that partial structures representing the interface region are capable of providing templates, the coverage of the template 
        space at present is still limited and hence direct methods are generally more useful in many applications.

        The interaction energy between the two proteins is given by the expression of the form
        $$
            E = w_1E_{rep} + w_2E_{attr} + w_3E_{elec} + w_4E_{DARS}
        $$

        where \\( E_{rep} \\) and \\( E_{attr} \\) denote the repulsive and attractive contributions to the van der Waals interaction energy, and \\( E_{elec} \\) is an electrostatic energy term. \\( E_{DARS} \\) 
        is the DARS potential that primarily represents desolvation contributions (it is a pairwise structure-based potential constructed by the decoys as the reference state), and the coefficients \\( w_1\\) through \\(w_4\\) denote 
        the weights of the corresponding terms. 

        Initially, homology modelling was used to create the structure of sugarcane invertase and sugarcane invertase inhibitor.

        # Structure of Sugarcane Invertase

    - var imgpath = "../" + require("../../assets/img/VS--SugarcaneInvertase.png")["default"]
    +image(2, imgpath, "Structure of Sugarcane invertase using homology modelling", 30)

    :markdown-it(html)
        A Ramachandran plot is a way to visualize energetically favoured regions for backbone dihedral angles against amino acid residues in protein structures. Histograms with a binning of 4 degrees are used to count Φ (Phi; C-N-CA-C) / Ψ (Psi; N-CA-C-N) 
        occurrences for all displayed categories. The number of observed Φ / Ψ pairs determines the contour lines (SWISS-MODEL) [5](#citation5) [6](#citation6) [7](#citation7) [8](#citation8) [9](#citation9) [10](#citation10).
    
    - var imgpath = "../" + require("../../assets/img/VS--Ramachandran Plot.png")["default"]
    +image(3, imgpath, "Ramachandran Plot for the modelled sugarcane invertase", 50)

    :markdown-it(html)
        From the above Ramachandran plot, it was observed that the Ramachandran outliers include SER169, PRO166, ASP239, SER459 and ARG387.

        Next, we performed a comparision of the structure with a non-redundant set of PDB structures.  This comparison helps us derive a quality estimate for our model via QMEAN4.

    - var imgpath = "../" + require("../../assets/img/VS--QualityComparison.png")["default"]
    +image(4, imgpath, "Quality comparision of the modelled sugarcane invertase", 50)

    :markdown-it(html)
        GMQE (Global Model Quality Estimation) is a quality estimation procedure which combines properties from the target template alignment and the template structure. They are combined using a multilayer perceptron. The resulting GMQE score is expressed as a number between 0 and 1, reflecting the expected accuracy of a model built with that alignment and template, normalized by the coverage of the target sequence. Higher numbers indicate higher reliability (SWISS-MODEL) [5](#citation5) [6](#citation6) [7](#citation7) [8](#citation8) [9](#citation9) [10](#citation10).

        Our model obtained a GMQE of 0.83. 

        # Protein - Protein Docking

        Finally we performed a docking of the anti-invertase with various plant invertases. 

        The following images illustrate the results we obtained. The final energy of binding is also expressed.

    - var imgpath = "../" + require("../../assets/img/VS--Sugarcane inhibitor.png")["default"]
    +image(5, imgpath, "Sugarcane invertase and sugarcane inhibitor. E = -677.5 J", 40)

    - var imgpath = "../" + require("../../assets/img/VS--Arabidopsis inhibitor.png")["default"]
    +image(6, imgpath, "Sugarcane invertase and Arabidopsis inhibitor. E = -1058.1 J", 50)

    - var imgpath = "../" + require("../../assets/img/VS--Tobacco inhibitor.png")["default"]
    +image(7, imgpath, "Sugarcane invertase and Tobacco inhibitor. E = -1058 J", 50)

    - var imgpath = "../" + require("../../assets/img/VS--Potato inhibitor.png")["default"]
    +image(8, imgpath, "Sugarcane invertase and Potato inhibitor E = -767.9 J", 50)

    :markdown-it(html)
        # Interpretation of the results

        The catalytic site of invertases is a conserved RDP domain which gets disrupted by the inhibitor. The RDP domain lies near the Asp-309 residue and contains heavy Asp and Glu residues [Hothorn et al., 2010](#citation1). 
        All the inhibitors above bind to the same region. Apart from the sugarcane inhibitor itself, the Arabidopsis inhibitor shows the most disruption of the protein structure. The energy of interaction is also the most negative of all the 
        inhibitors screened. Hence, it would be feasible for us to use the inhibitor from _Arabidopsis thaliana_ to complex with the sugarcane inhibitor for our downstream experiments as an alternative to sugarcane inhibitor. 

append buttons
    +buttonLeft("Model/Kill Switch")
    +buttonRight("Model/Growth Model")

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"authors": "Hothorn, M., Van den Ende, W., Lammens, W., Rybin, V., & Scheffzek, K. (2010). ", "doi": "https://doi.org/10.1073/pnas.1004481107", "journal": "Proceedings of the National Academy of Sciences", "numbers": "107(40), 17427-17432. ", "title": "Structural insights into the pH-controlled targeting of plant cell-wall invertase by a specific inhibitor protein.", "type": "article"}, {"authors": "Vajda, S., Yueh, C., Beglov, D., Bohnuud, T., Mottarella, S. E., Xia, B., ... & Kozakov, D. (2017). ", "doi": "https://doi.org/10.1002/prot.25219", "journal": "Proteins: Structure, Function, and Bioinformatics", "numbers": "85(3), 435-444. ", "title": "New additions to the ClusPro server motivated by CAPRI.", "type": "article"}, {"authors": "Kozakov, D., Hall, D. R., Xia, B., Porter, K. A., Padhorny, D., Yueh, C., ... & Vajda, S. (2017). ", "doi": "https://doi.org/10.1038/nprot.2016.169", "journal": "Nature Protocols", "numbers": "12(2), 255-278. ", "title": "The ClusPro web server for protein-protein docking.", "type": "article"}, {"authors": "Kozakov, D., Beglov, D., Bohnuud, T., Mottarella, S. E., Xia, B., Hall, D. R., & Vajda, S. (2013). ", "doi": "https://doi.org/10.1002/prot.24403", "journal": "Proteins: Structure, Function, and Bioinformatics", "numbers": "81(12), 2159-2166. ", "title": "How good is automated protein docking?.", "type": "article"}, {"authors": "Waterhouse, A., Bertoni, M., Bienert, S., Studer, G., Tauriello, G., Gumienny, R., ... & Schwede, T. (2018). ", "doi": "https://doi.org/10.1093/nar/gky427", "journal": "Nucleic Acids Research", "numbers": "46(W1), W296-W303. ", "title": "SWISS-MODEL: homology modelling of protein structures and complexes.", "type": "article"}, {"authors": "Bienert, S., Waterhouse, A., de Beer, T. A. P., Tauriello, G., Studer, G., Bordoli, L., & Schwede, T. (2016). The SWISS-MODEL Repository-new features and functionality. Nucleic Acids Research, 45(D1), D313-D319. ", "doi": "https://dx.doi.org/10.1093/nar/gkw1132", "journal": "Nucleic Acids Research", "numbers": "45(D1), D313-D319. ", "title": "The SWISS-MODEL Repository new features and functionality.", "type": "article"}, {"authors": "Guex, N., Peitsch, M. C., & Schwede, T. (2009). ", "doi": "https://dx.doi.org/10.1002/elps.200900140", "journal": "ELECTROPHORESIS", "numbers": "30(S1), S162-S173. ", "title": "Automated comparative protein structure modeling with SWISS-MODEL and Swiss-PdbViewer: A historical perspective.", "type": "article"}, {"authors": "Studer, G., Rempfer, C., Waterhouse, A. M., Gumienny, R., Haas, J., & Schwede, T. (2019). QMEANDisCo-distance constraints applied on model quality estimation. Bioinformatics, 36(6), 1765-1771. ", "doi": "https://dx.doi.org/10.1093/bioinformatics/btz828", "journal": "Bioinformatics", "numbers": "36(6), 1765-1771. ", "title": "QMEANDisCo distance constraints applied on model quality estimation.", "type": "article"}, {"authors": "Benkert, P., Biasini, M., & Schwede, T. (2010). ", "doi": "https://dx.doi.org/10.1093/bioinformatics/btq662", "journal": "Bioinformatics", "numbers": "27(3), 343-350. ", "title": "Toward the estimation of the absolute quality of individual protein structure models.", "type": "article"}, {"authors": "Bertoni, M., Kiefer, F., Biasini, M., Bordoli, L., & Schwede, T. (2017). ", "doi": "https://dx.doi.org/10.1038/s41598-017-09654-8", "journal": "Scientific Reports", "numbers": "7(1). ", "title": "Modeling protein quaternary structure of homo-and hetero-oligomers beyond binary interactions by homology.", "type": "article"}]