$section-backgrounds: #d6feff, #ffffff, #ffe9e0, #ffffff, #ffaaba, #ffffff;
$section-headings: #4b5555, #4b5555, #4b5555, #212121, #212121, #212121;
$section-texts: #707070, #434343, #434343, #191919, #212121, #212121;
$section-accents: #009c9f, #ea526f, #ea526f, #006669, #9e132e, #008487;

$page-accents: #1bbfc1, #ec889b, #007679, #1bbfc1, #ec889b, #007679;
$page-accents-dark: #1bbfc1, #e87289, #007679, #1bbfc1, #e87289, #007679;
$content-accents: #159394, #e55c76, #007679, #159394, #e55c76, #007679;
$content-accents-dark: #1bbfc1, #e87289, #00c1c5, #1bbfc1, #e87289, #00c1c5;
$footer-text: #091010, #1d0106, #ffffff, #091010, #1d0106, #ffffff;

$index-footer-background: #007679;
$index-footer-heading: #98fcff;
$index-footer-links: #ffffff;

// maps sections to IDs from the section arrays
$section-pages-map: (
  project: 1,
  human-practices: 2,
  parts: 3,
  journal: 4,
  team: 5,
  contribution: 6,
  other-areas: 2,
);

$pink: #ea178c;
$green: #0fc488;
$green-background: #11d694;
$white: #ffffff;
$yellow: #ffdb59;
// $orange: #FFBA60;
$orange: #ffb454;
$black: #3d3d3d;

$whitey: #f0f0f0;
$pink: #ea178c;
$green: #0fc488;
$green-background: #11d694;
$dark-green: #12bc84;
$white: #ffffff;
$orange: #ffc5ad;
$yellow: #ffdb59;
$blue: #1faaad;
$black: #3d3d3d;
$grey: #dadada;
$light-grey: #f7f7f7;
$dark-grey: #8e8e8e;
$selection-color: rgba(255, 233, 0, 0.4);
$table-border-light: #dee2e6;

// dark mode
$dark-body: #2a2a2a;
$dark-contents-background: #343434;
$dark-TOC-items: white;
$dark-contents-text: white;
$dark-heading: white;
$table-border-dark: #5e5a5a;
$table-alternate-row-background-dark: #3f3f3f;
$dfn-dark: #dddcdc;

// navbar
$nav-dark-background: #262626;
$nav-theme-slider-light: #ccc;
$nav-menu-items: #e3e3e3;
$nav-theme-slider-dark: #5d5d5d;

$theme-switcher-green: #0fc488;
$theme-switcher-yellow: #ffdb59;
$theme-switcher-blue: #1faaad;
$blue: #2c2fe8;
$darkblue: darken($blue, 30%);
