$pink: #ea178c;
$green: #0fc488;
$green-background: #11d694;
$white: #ffffff;
$yellow: #ffdb59;
// $orange: #FFBA60;
$orange: #ffb454;
$black: #3d3d3d;

$section-backgrounds: #d6feff, #ffffff, #ffe9e0, #ffffff, #ffaaba, #ffffff;
$section-headings: #4b5555, #4b5555, #4b5555, #212121, #212121, #212121;
$section-texts: #707070, #434343, #434343, #191919, #212121, #212121;
$section-accents: #009c9f, #ea526f, #ea526f, #006669, #9e132e, #008487;

$index-footer-background: #007679;
$index-footer-heading: #abf5f7;
$index-footer-links: #ffffff;