/**
 * Dark Mode for Contents
 **/

 /**
 * Dark mode for green pages
 **/

body.dark.theme-green{
  background-color: $dark-body;

  .sidebar #contents li a {
    color: $dark-TOC-items;
  }

  .content {
    blockquote {
      border-left: 8px solid darken($green, 4%);

      &:before {
        color: darken($green, 4%);
      }
    }

    h1 {
      color: darken($green, 5%);
    }
    a {
      color: darken($green, 5%);
    }
  }

  .content p,
  #references li {
    a:not(.citation) {
      color: $dark-contents-text;
      &:before,
      &:after {
        background-color: $green;
      }
    }
  }

  .content article {
    background: $dark-contents-background;

    img {
      background-color: white;
      border-radius: 7px;
    }

    p,
    li {
      color: $dark-contents-text;
    }

    h2,
    h3,
    h4 {
      color: $dark-heading;
    }

    dfn {
      border-bottom: 1px solid $dfn-dark;
    }

    table {
      border: none;
      color: $dark-contents-text;
      caption {
        color: $dark-contents-text;
      }

      tbody tr {
        &:nth-of-type(odd) {
          background: $table-alternate-row-background-dark;
        }
      }

      th,
      td {
        border: 1px solid $table-border-dark;
      }
      thead,
      tbody {
        border: 1px solid $table-border-dark;
        th,
        td {
          border-bottom: 1px solid $table-border-dark;
        }
      }
    }
  }
  #references {
    li a:not(.citation),
    cite {
      color: $dark-contents-text;
    }
  }

  #collapsibleSections {

    .card-header {
      background-color: rgb(52, 52, 52);
      h2 {
        margin-top: 0;
      }
    }

    .card-body {
      background-color: grey;
    }

    button {
      i {
        filter: invert(1);
      }
    }
  }
  
}


/**
 * Dark mode for yellow pages
 **/

body.dark.theme-yellow{
  background-color: $dark-body;

  .sidebar #contents li a {
    color: $dark-TOC-items;
  }

  .content {
    blockquote {
      border-left: 8px solid darken($yellow, 4%);

      &:before {
        color: darken($yellow, 4%);
      }
    }

    h1 {
      color: darken($yellow, 5%);
    }
    a {
      color: darken($yellow, 5%);
    }
  }

  .content p,
  #references li {
    a:not(.citation) {
      color: $dark-contents-text;
      &:before,
      &:after {
        background-color: $yellow;
      }
    }
  }

  .content article {
    background: $dark-contents-background;

    img {
      background-color: white;
      border-radius: 7px;
    }

    p,
    li {
      color: $dark-contents-text;
    }

    h2,
    h3,
    h4 {
      color: $dark-heading;
    }

    dfn {
      border-bottom: 1px solid $dfn-dark;
    }

    table {
      border: none;
      color: $dark-contents-text;
      caption {
        color: $dark-contents-text;
      }

      tbody tr {
        &:nth-of-type(odd) {
          background: $table-alternate-row-background-dark;
        }
      }

      th,
      td {
        border: 1px solid $table-border-dark;
      }
      thead,
      tbody {
        border: 1px solid $table-border-dark;
        th,
        td {
          border-bottom: 1px solid $table-border-dark;
        }
      }
    }
  }
  #references {
    li a:not(.citation),
    cite {
      color: $dark-contents-text;
    }
  }

  #collapsibleSections {

    .card-header {
      background-color: rgb(52, 52, 52);
      h2 {
        margin-top: 0;
      }
    }

    .card-body {
      background-color: grey;
    }

    button {
      i {
        filter: invert(1);
      }
    }
  }
  
}

/**
 * Dark mode for blue pages
 **/

body.dark.theme-blue{
  background-color: $dark-body;

  .sidebar #contents li a {
    color: $dark-TOC-items;
  }

  .content {
    blockquote {
      border-left: 8px solid darken($blue, 4%);

      &:before {
        color: darken($blue, 4%);
      }
    }

    h1 {
      color: darken($blue, 5%);
    }
  }

  .content p,
  #references li {
    a:not(.citation) {
      color: $dark-contents-text;
      &:before,
      &:after {
        background-color: $blue;
      }
    }
  }

  .content article {
    background: $dark-contents-background;

    img {
      background-color: white;
      border-radius: 7px;
    }

    p,
    li {
      color: $dark-contents-text;
    }

    h2,
    h3,
    h4 {
      color: $dark-heading;
    }

    dfn {
      border-bottom: 1px solid $dfn-dark;
    }

    table {
      border: none;
      color: $dark-contents-text;
      caption {
        color: $dark-contents-text;
      }

      tbody tr {
        &:nth-of-type(odd) {
          background: $table-alternate-row-background-dark;
        }
      }

      th,
      td {
        border: 1px solid $table-border-dark;
      }
      thead,
      tbody {
        border: 1px solid $table-border-dark;
        th,
        td {
          border-bottom: 1px solid $table-border-dark;
        }
      }
    }
  }
  #references {
    li a:not(.citation),
    cite {
      color: $dark-contents-text;
    }
  }

  #collapsibleSections {

    .card-header {
      background-color: rgb(52, 52, 52);
      h2 {
        margin-top: 0;
      }
    }

    .card-body {
      background-color: grey;
    }

    button {
      i {
        filter: invert(1);
      }
    }
  }
  
}