/**
 * Header for Contents Pages
 **/

header {
  // background: 
  //     /* top, transparent black, faked with gradient */ linear-gradient(
  //   rgba(0, 0, 0, 0.4),
  //   rgba(0, 0, 0, 0),
  //   rgba(0, 0, 0, 0.4)
  // );
  // /* bottom, image */ url(../assets/img/Description--josh-withers.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;

  .custom-container {
    padding: 0;
    max-width: 1380px;
    width: 100%;
    position: relative;
  }

  #header-background {
    position: absolute;
    height: 75%;
    width: 40%;  
    right: 10%;
    top: 8%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #heading {
    bottom: calc(2rem + 2vw);
    margin-left: 1rem;
    position: absolute;

    h1 {
      color: $whitey;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: calc(3rem + 4.5vw);
      // font-size: 9rem;
    }
  }

  #bg-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1.25rem;
    width: 1.25rem;
    display: block;
    background-image: url(../assets/icons/link-solid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(225deg)
      brightness(112%) contrast(100%);
    margin: 0 15px 30px 0;
  }
}
