$engg-section-heading: #ea526f;
$engg-problem-card-background: #fde6ea;
$engg-problem-card-text: #9e132e;
$engg-problem-card-border: #ea526f;

$engg-design-card-background: #d6feff;
$engg-design-card-text: #006669;
$engg-design-card-border: #007679;

$engg-design-number-background: #009c9f;
$engg-design-number-text: white;
$engg-design-number-border: #007679;

$engg-graph-card-background: #fde6ea;
$engg-graph-card-text: #9e132e;
$engg-graph-card-border: #ea526f;

.chart-wrapper {
  overflow-x: auto;
}

.intro{
  line-height: 1.75;
}

.content section {
  min-width: 800px;
  position: relative;
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: $engg-section-heading;
    font-family: "Lato", sans-serif;
  }

  p,
  strong {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    line-height: 1.3;

  }

  .row {
    margin: 2rem 0;
  }

  .problem {
    justify-content: center;
    .rounded-rectangle {
      background-color: $engg-problem-card-background;
      color: $engg-problem-card-text;
      border-color: $engg-problem-card-border;
      p {
        color: $engg-problem-card-text;
      }
    }
  }

  .design {
    justify-content: center;

    h2 {
      margin-bottom: 3rem;
    }

    .rounded-rectangle {
      height: 150px;
      background-color: $engg-design-card-background;
      color: $engg-design-card-text;
      border-color: $engg-design-card-border;
      p {
        color: $engg-design-card-text;
      }
    }
  }

  .brief {
    justify-content: center;
    .col-5 {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  .graph {
    justify-content: space-around;
    .rounded-rectangle, .oval {
      background-color: $engg-graph-card-background;
      color: $engg-graph-card-text;
      border-color: $engg-graph-card-border;
      p {
        color: $engg-graph-card-text;
      }
    }

  }

  .rounded-rectangle {
    position: relative;
    border: 2px solid black;
    border-radius: 1.5rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:last-of-type {
      margin-bottom: 0;
    }

    .number {
      height: 50px;
      width: 50px;
      top: -25px;
      left: calc(50% - 25px);
      position: absolute;
      display: flex;
      justify-content: center;
      border-radius: 25px;
      border: 1px solid;
      border-color: $engg-design-number-border;
      background: $engg-design-number-background;
      align-items: center;
      p {
        color: $engg-design-number-text;
        font-size: 1.3rem;
        line-height: 1;
        padding: 0;
        margin: 0;
      }
    }

    strong {
      margin-bottom: 0.5rem;
    }

    p {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .oval {
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    height: 150px;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    p {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .arrows {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    .arrow-container {
      position: absolute;
      overflow: visible;
      svg {
        overflow: visible;
      }
      .arrow {
        overflow: visible;
        stroke-width: 2;
      }
      p.label {
        position: absolute;
        margin: 0;
        padding: 4px;
        font-size: 0.8rem;
        background-color: $engg-design-card-background;
        text-align: center;
        border-radius: 5px;
        border: 1px solid $engg-design-card-border;
        color: black;
      }
    }
  }
}

#biosensor, #inoculant {
  .design {
    .rounded-rectangle {
      height: 200px;
    }
  }
}


// media queries

@include respond-below(md) {
  .rounded-rectangle {
    font-size: 0.5rem;;
  }
}