/**
 * Footer
 **/

$grey: #616161;
$light-grey: #878787;

@include respond-above(xxl) {
  footer {
    .container {
      max-width: 1380px;
    }
  }
}

@include respond-between(xl, xxl) {
  footer {
    .container {
      max-width: 1140px;
    }
  }
}

@include respond-between(lg, xl) {
  footer {
    .container {
      max-width: 1000px;
    }
  }
}

#footerBrand {
  padding: 75px 0;
}

#footerLogo {
  background-image: url("../assets/img/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  background-size: contain;
  margin: 0 0 35px 0;
}

#footerIcons {
  width: 100%;
  height: 25px;
  margin: 0;

  a {
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin: 0 25px;
    transition: all 0.2s;

    filter: brightness(0) saturate(100%) invert(57%) sepia(0%) saturate(2%)
      hue-rotate(36deg) brightness(94%) contrast(88%);

    &:hover {
      filter: brightness(0) saturate(100%) invert(39%) sepia(0%) saturate(0%)
        hue-rotate(208deg) brightness(94%) contrast(87%);
    }
  }

  a.gmail {
    background-image: url(../assets/icons/envelope-open-text-solid.svg);
  }

  a.insta {
    background-image: url(../assets/icons/instagram-brands.svg);
  }

  a.twitter {
    background-image: url(../assets/icons/twitter-brands.svg);
  }
}

#footerNav {
  width: 100%;
  font-family: "Lato";

  .row {
    margin-right: 0;
  }

  .container {
    padding: 75px 0 75px 50px;
  }

  a.footer-heading {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: $grey;
  }

  ul {
    list-style: none;
    padding: 0;
    font-weight: 400;
    a {
      color: $light-grey;
      font-size: 1.1rem;
    }
  }
}

@include respond-below(sm) {
  #footerBrand {
    padding: 40px 0;
  }

  #footerNav {
    .container {
      text-align: center;
      padding: 40px 0;
    }

    .col {
      line-height: 0.75rem 0;
    }

    ul {
      display: none;
    }
  }
}
