/******************************
 * Header
 ******************************/

header {
  background: 
    /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url(../assets/img/photo-1513360371669-4adf3dd7dff8.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  h1 {
    color: $whitey;
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    font-size: 6rem;
    height: 250px;
  }
  .heading {
    // background: url("../assets/ vectors/white-frame-brush-strokes/16-1.1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 160px;
  }
}

/******************************
* Sections
******************************/
$pink: #ea178c;
$green: #0fc488;
$green-background: #11d694;
$white: #ffffff;
$yellow: #ffdb59;
// $orange: #FFBA60;
$orange: #ffb454;
$black: #3d3d3d;

@include respond-above(xl) {
  section {
    .container {
      max-width: 1380px;
    }
  }
}

section {
  padding: 100px 0 50px 0;

  a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 0 1px;
    transition: color ease 0.3s;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $green;
      height: 10%;
    }

    &:before {
      width: 0%;
      left: 0;
      bottom: 0;
      transition: width ease 0.4s;
    }

    &:after {
      width: 100%;
      left: 0;
      bottom: 0;
      transition: all ease 0.6s;
    }

    &:hover {
      text-decoration: none;
      color: $black;
      
      &::before {
        width: 100%;
      }

      &::after {
        left: 100%;
        width: 0%;
        transition: all ease 0.2s;
      }
    }
  }

  h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    border-top: 1px solid;
    padding-top: 10px;
    margin-top: 10px;
    word-spacing: 0.2em;
    line-height: 1.3em;
  }

  .content {
    font-family: "Merriweather", serif;

    h2 {
      font-family: "Merriweather";
      font-weight: 400;
      font-size: 2.65rem;
      padding-bottom: 30px;
      word-spacing: 0.3rem;

      span {
        color: $green;
        font-weight: 400;
      }
    }

    p {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.75;
      word-spacing: 0.1rem;
      color: #3d3d3d;
    }
  }

  &:nth-of-type(odd) {
    .sidebar {
      padding: 0 100px 0 0;
      h3 {
        text-align: left;
      }
    }

    .content {
      padding: 0 0 0 25px;
    }
  }

  &:nth-of-type(even) {
    .sidebar {
      padding: 0 0 0 100px;
      h3 {
        text-align: right;
      }
    }

    .content {
      padding: 0 25px 0 0;
    }
  }

  &.white {
    background-color: white;
    h3 {
      border-color: black;
    }
    h2 {
      color: $black;
      span {
        color: $green;
      }
    }
  }

  &.yellow {
    background-color: $yellow;
    h3 {
      border-color: black;
    }
    h2 {
      color: $black;
      span {
        color: $pink;
      }
    }
  }

  &.green {
    background-color: $green-background;
    h3 {
      border-color: black;
    }
    h2 {
      color: $black;
      span {
        color: $white;
      }
    }
    button.read-more {
      .circle {
        background-color: $white !important;
        .icon {
          &.arrow {
            background-color: none !important;
            &::before {
              border-color: $pink !important;
            }
          }
        }
      }
      .button-text {
        color: white !important;
        font-weight: 900 !important;
      }
      &:hover {
        .circle {
          .icon {
            &.arrow {
              background: $pink !important;
            }
          }
        }
        .button-text {
          color: $pink !important;
        }
      }
    }
  }

  &.orange {
    background-color: $orange;
    h3 {
      border-color: black;
    }
    h2 {
      color: $black;
      span {
        color: $white;
      }
    }
    button.read-more {
      .circle {
        background-color: $white !important;
        .icon {
          &.arrow {
            background-color: none !important;
            &::before {
              border-color: $pink !important;
            }
          }
        }
      }
      .button-text {
        color: $black !important;
        font-weight: 900 !important;
      }
      &:hover {
        .circle {
          .icon {
            &.arrow {
              background: $pink !important;
            }
          }
        }
        .button-text {
          color: $pink !important;
        }
      }
    }
  }
}

// button from
// https://codepen.io/kathykato/pen/rZRaNe

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

button.read-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: "Lato";
  height: auto;

  .circle {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: relative;
    display: block;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: $pink;
    border-radius: 1.354rem;
    .icon {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: $white;
      &.arrow {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        left: 0.521rem;
        width: 0.9375rem;
        height: 0.104rem;
        background: none;
        &::before {
          position: absolute;
          content: "";
          top: -0.21rem;
          right: 0.052rem;
          width: 0.521rem;
          height: 0.521rem;
          border-top: 0.125rem solid #fff;
          border-right: 0.125rem solid #fff;
          transform: rotate(45deg);
        }
      }
    }
  }
  .button-text {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.625rem 0 0.625rem 2.1rem;
    margin: 0 0 0 1.54rem;
    color: $black;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }

  &.super-long {
    width: 14.7rem;
  }

  &.long {
    width: 12rem;
  }

  &.short {
    width: 9rem;
  }
}
