@include respond-below(xxl) {
  section {
    .container {
      max-width: 1240px;
    }
    .sidebar {
      h3 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }
    }
    .content {
      h2 {
        font-size: 2rem;
        margin-bottom: 1.1rem;
      }
    }
  }
}

@include respond-below(xl) {
  section {
    .container {
      max-width: 1150px;
    }
    .content {
      h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }

  .sidebar {
    #contribution {
      img,
      svg {
        width: 100%;
      }
    }
  }
}

@include respond-below(lg) {
  section {
    .container {
      max-width: 950px;
    }

    .content {
      h2 {
        margin-bottom: 0.8rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  #description {
    .sidebar {
      img,
      svg {
        width: 100%;
      }
    }
  }

  #design {
    .sidebar {
      margin-top: 1rem;
      img,
      svg {
        margin: 1rem auto;
        width: 80%;
      }
    }
  }

  #safety {
    .sidebar {
      margin-top: 3rem;
      img,
      svg {
        margin: 1rem auto;
        width: 80%;
      }
    }
  }

  #human-practices {
    .sidebar {
      img,
      svg {
        margin: 3rem auto 1rem auto;
        width: 90%;
      }
    }
  }
}

@include respond-below(md) {
  section {
    padding-top: 2rem;
    .container {
      max-width: 700px;
    }

    .sidebar {
      display: none;
    }

    .content {
      margin-top: 1.5rem;
      padding: 0 10px !important;
      h2 {
        font-size: 1.9rem;
        margin-bottom: 0.6rem;
      }

      img,
      svg {
        display: block;
        width: 80%;
      }

      h3 {
        display: block;
      }
    }
  }

  #design {
    .content {
      img,
      svg {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  #safety {
    .content {
      img,
      svg {
        width: 50%;
        margin: 0 auto 1rem auto;
      }
    }
  }

  #human-practices {
    .content {
      img,
      svg {
        width: 60%;
        margin: 0 auto 1rem auto;
      }
    }
  }

  #collaboration {
    .content {
      img,
      svg {
        width: 50%;
        margin: 0 auto 1rem auto;
      }
    }
  }

  #contribution {
    .content {
      img,
      svg {
        width: 70%;
        margin: 0 auto 1rem auto;
      }
    }
  }
}

@include respond-below(sm) {
  header {
    #tap-icon,
    #scroll-icon {
      height: 30px;
      width: 30px;
    }
  }
  section {
    padding: 1.5rem 1.5rem 0 1.5rem;
    .content {
      h2 {
        font-size: 1.7rem;
        margin-bottom: 0.6rem;
      }

      img,
      svg {
        display: block;
        width: 50%;
        margin: 1rem 2rem 0 auto;
      }
    }
  }

  #description {
    .content {
      img,
      svg {
        width: 70%;
        margin-right: auto;
      }
    }
  }
}

@include respond-below(xs) {
  section {
    padding: 1rem 0.5rem 0 0.5rem;
    .content {
      padding: 0 25px !important;
      h2 {
        font-size: 1.4rem;
        margin-bottom: 0.6rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }

  #description {
    .content {
      img,
      svg {
        width: 50%;
      }
    }
  }

  #design {
    .content {
      img,
      svg {
        width: 40%;
        margin-top: 0;
      }
    }
  }

  #safety,
  #human-practices,
  #collaboration {
    .content {
      img,
      svg {
        width: 40%;
        margin-top: 1rem;
      }
    }
  }
}

@include respond-below(xxs) {
  section {
    .content {
      padding: 0 25px !important;
      h2 {
        font-size: 1.4rem;
        margin-bottom: 0.6rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
