/******************************
 * Header
 ******************************/

header {
  background: #fff;
  background-position: center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;

  video {
    max-height: 100%;
    max-width: 100%;
  }

  #tap-icon {
    height: 45px;
    width: 45px;
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 2rem;
    right: 2rem;

    svg {
      width: 100%;
      height: 100%;
    }

    #layer1 {
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-name: tap-hand;
      animation-duration: 3s;
    }

    #layer2 {
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-name: tap-click;
      animation-duration: 3s;
    }
  }

  #award-icon {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 1rem;
    left: 2rem;
    opacity: 1;
    transition: opacity 0.5s ease;

    svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      opacity: 0;
    }
  }

  #scroll-icon {
    height: 45px;
    width: 45px;
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    svg {
      width: 100%;
      height: 100%;
    }

    #layer1 {
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: scroll-bounce;
      animation-duration: 2s;
    }
  }

  h1 {
    color: $whitey;
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    font-size: 6rem;
    height: 250px;
  }
  .heading {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 160px;
  }
}
