@include respond-above(xxl) {
  // header {
  //   height: 100vh;
  // }
}

@include respond-below(xxl) {
  // header {
  //   height: max-content;
  // }

  section {
    .container {
      max-width: 1240px;
    }
    .sidebar {
      h3 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
      }
    }
    .content {
      h2 {
        font-size: 2rem;
        margin-bottom: 1.1rem;
      }
    }
  }
}

@include respond-below(xl) {
  section {
    .container {
      max-width: 1150px;
    }
    .content {
      h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }
}

@include respond-below(lg) {
  nav {
    .navbar-brand {
      &,
      &:hover,
      &:visited {
        color: black;
      }
    }

    #menuSwitch {
      .menu-icon {
        &,
        &:before,
        &:after {
          background-color: black;
        }
      }
    }
  }

  section {
    .container {
      max-width: 950px;
    }
    .content {
      h2 {
        margin-bottom: 0.8rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@include respond-below(md) {
  section {
    .container {
      max-width: 700px;
    }

    padding-top: 4rem;

    .sidebar {
      display: none;
    }

    .content {
      padding: 0 10px !important;
      h2 {
        font-size: 1.9rem;
        margin-bottom: 0.6rem;
      }

      h3 {
        display: block;
      }
    }
  }
}

@include respond-below(sm) {
  section {
    padding: 3rem 1.5rem 0 1.5rem;
    .content {
      h2 {
        font-size: 1.7rem;
        margin-bottom: 0.6rem;
      }
    }
  }
}

@include respond-below(xs) {
  section {
    padding: 2rem 0.5rem 0 0.5rem;
    .content {
      padding: 0 25px !important;
      h2 {
        font-size: 1.4rem;
        margin-bottom: 0.6rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}

@include respond-below(xxs) {
  section {
    padding: 2rem 0 0 0;
    .content {
      padding: 0 25px !important;
      h2 {
        font-size: 1.4rem;
        margin-bottom: 0.6rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
