@import "~bootstrap-reboot";
@import "_igem-reset.scss";
@import "~bootstrap/scss/bootstrap";
@import "_fix-bootstrap.scss";
@import "_fonts.scss";
@import "_media_queries.scss";
@import "_nav.scss";
@import "_footer.scss";

/*
hex codes 
the teals - 
#1FAAAD
#25CED1
#92E7E8

the red/peach -
#EA526F
#FFC5AD

white - #FFFFFF
*/

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// button from
// https://codepen.io/kathykato/pen/rZRaNe

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

a.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: "Lato";
  height: auto;

  .circle {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: relative;
    display: inline-block;
    right: 0;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: $pink;
    border-radius: 1.354rem;
    .icon {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: $white;
      &.arrow {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        left: 0.521rem;
        width: 0.9375rem;
        height: 0.104rem;
        background: none;
        &::before {
          position: absolute;
          content: "";
          top: -0.21rem;
          right: 0.052rem;
          width: 0.521rem;
          height: 0.521rem;
          border-top: 0.125rem solid #fff;
          border-right: 0.125rem solid #fff;
          transform: rotate(45deg);
        }
      }
    }
  }
  .button-text {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: absolute;

    padding: 0.62rem 0 0.625rem 2.1rem;
    margin: 0 0 0 1.54rem;
    color: $black;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
  }

  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }

  &.super-long {
    width: 14.7rem;
  }

  &.long {
    width: 12rem;
  }

  &.medium {
    width: 10.5rem;
  }

  &.short {
    width: 9rem;
  }
}

a.button.next {
  .button-text {
    top: 0;
    left: 0;
  }
}

a.button.prev {
  transform: rotate(180deg);

  .button-text {
    transform: rotate(180deg);
    margin: 1.54rem 0 0 0;
    right: 0;
    bottom: 0;
  }
}

body.dark {
  .button {
    .button-text {
      color: $white;
    }

    &:hover {
      .button-text {
        color: $white;
      }
    }
  }
}
