@import "~bootstrap-reboot";
@import "_igem-reset.scss";
@import "~bootstrap/scss/bootstrap";
@import "_fix-bootstrap.scss";
@import "_fonts.scss";
@import "_media_queries.scss";
@import "_colors.scss";
@import "_nav.scss";
@import "_footer.scss";

html {
  // overflow-x: hidden;
  scroll-behavior: smooth;
}

// button from
// https://codepen.io/kathykato/pen/rZRaNe

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

a.button {
  text-decoration: none;
  font-family: "Lato";
  display: block;
  position: relative;
  max-width: max-content;

  .button-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      width: 2.5rem;
      height: 2.5rem;
      background: $pink;
      border-radius: 1.354rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          width: 0.9375rem;
          height: 0.104rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            width: 0.521rem;
            height: 0.521rem;
          }
        }
      }
    }
  }

  .button-text {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    background: transparent;
    display: inline-block;
    max-width: max-content;
    position: relative;
    z-index: 2;
    font-weight: 700;
    text-transform: uppercase;
  }

  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}

a.button.next {
  .button-background {
    .circle {
      .icon {
        &.arrow {
          left: 0.521rem;
          &::before {
            top: -0.21rem;
            right: 0.052rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .button-text {
    margin: 0.5rem 1.5rem 0.5rem 3.5rem;
  }
}

a.button.prev {
  .button-background {
    transform: rotate(180deg);
    .circle {
      .icon {
        &.arrow {
          left: 0.521rem;
          &::before {
            top: -0.21rem;
            right: 0.052rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .button-text {
    margin: 0.5rem 3.5rem 0.5rem 1.5rem;
  }
}

body.dark {
  .button {
    .button-text {
      color: $white;
    }

    &:hover {
      .button-text {
        color: $white;
      }
    }
  }
}
