@use "sass:list";

@each $category, $id in $section-pages-map {
  body.theme-#{$category} {
    $theme-ID: map-get(
      $map: $section-pages-map,
      $key: $category,
    );
    $color: list.nth($section-accents, $theme-ID);

    &.dark {
      #themeSwitchWrapper #themeSwitch .slider {
        background-color: list.nth($section-accents, $theme-ID);
      }
    }
  }
}

body.dark {
  .nav-colored {
    background-color: $nav-dark-background;

    .navbar-brand {
      color: white;
    }

    #menuSwitch {
      .menu-icon {
        background-color: white;

        &:before,
        &:after {
          background-color: white;
        }
      }
    }

    .icon-dark,
    .icon-light {
      filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(16deg)
        brightness(106%) contrast(102%);
    }

    #themeSwitch {
      .slider {
        background-color: #5d5d5d;
      }
    }
  }
}
