/** 
* Navbar 
**/

$dark-nav-background: #262626;
$theme-slider-light: #ccc;
$nav-menu-items: #e3e3e3;
$theme-slider-dark: #5d5d5d;
$theme-switcher-green: #0fc488;
$theme-switcher-yellow: #ffdb59;
$theme-switcher-blue: #1faaad;
$whitey: #f0f0f0;

$blue: #2c2fe8;
$darkblue: darken($blue, 30%);

.navbar {
  height: 80px;
  transition: all 0.3s ease, transform 0.5s ease;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1030;
}

.scroll-down .navbar {
  transform: translate3d(0, -100%, 0);
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.scroll-up .navbar {
  transform: none;
}

.navbar-brand {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 200;
  margin-left: 1.5rem;
  transition: transform 0.3s;
  color: white;
  display: flex;
  align-items: center;

  i.navbar-logo {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem; 
    background: url("../assets/img/logo-navbar.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;;
  }

  span {
    display: inline-block;
    strong {
      font-weight: 600;
    }
  }

  &:hover,
  &:visited {
    color: white;
  }
}

.nav-colored {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);

  .navbar-brand {
    color: black;

    &:visited {
      color: black;
    }
  }

  #menuSwitch {
    .menu-icon {
      background-color: black;

      &:before,
      &:after {
        background-color: black;
      }
    }
  }

  #themeSwitchWrapper {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
}

.menu-open {
  .navbar-brand {
    transform: translate(0%, 15%);
  }
}

@import "_nav_fullscreen.scss";
@import "_nav_themeswitch.scss";
@import "_nav_dark.scss";
@import "_nav_mediaqueries.scss";
