/** 
* Navbar 
**/

.navbar {
  // height: 80px;
  transition: all 0.3s ease, transform 0.5s ease;
}

.scroll-down .navbar {
  transform: translate3d(0, -100%, 0);
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.scroll-up .navbar {
  transform: none;
}

.navbar-brand {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 200;
  margin-left: 1.5rem;

  span {
    font-weight: 600;
  }
}
nav.nav-colored {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);

  .navbar-brand {
    color: black;
  }

  #menuSwitch {
    background-color: black;

    &:before,
    &:after {
      background-color: black;
    }
  }
}

nav.nav-transparent {
  background-color: transparent;

  .navbar-brand {
    color: white;
  }
}

/**
 * Fullscreen Nav Styles
**/

#fullscreenMenuWrapper {
  margin: 0 1rem 0.5rem 0;

  input {
    display: none;
  }

  label {
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
  }
}

#menuSwitch {
  background-color: #ffffff;
  width: 24px;
  height: 3px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
  transition: all 0.3s ease;

  &:before {
    content: "";
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    display: block;
    border-radius: 20px;
    position: relative;
    top: -8px;
    left: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  &:after {
    content: "";
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 5px;
    left: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
}

#fullscreenMenu {
  position: fixed;
  width: 100vw;
  height: stretch;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));

  label {
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 32px;
    right: 30px;
  }

  ul {
    list-style: none;
    transform: translateY(0%);
    transition: transform 0.5s;
    transition: opacity 0 !important;

    li a {
      color: white;
    }
  }
}

#menuToggle:checked ~ #fullscreenMenu {
  opacity: 0.95;
  visibility: visible;
  transition: opacity 0.5s;

  ul {
    opacity: 1;
  }
}

#menuToggle:not(:checked) ~ #fullscreenMenu ul {
  transform: translateY(-15%);
}

#menuToggle:checked ~ label {
  #menuSwitch {
    background-color: transparent;

    &:before {
      content: "";
      background-color: white;
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 200;
    }

    &:after {
      content: "";
      background-color: white;
      transform: rotate(-45deg);
      position: relative;
      top: 0px;
      right: 0;
      z-index: 200;
    }
  }
}

/**
 * Fullscreen Menu Items
**/

// $red: #F37272;
$green: #4abf66;
$whitey: #f0f0f0;

#desktop-nav {
  position: relative;
  justify-content: center;
  display: flex;

  #nav-headings {
    .nav-tabs {
      border: none;
    }
  }

  .tab-content {
    color: white;

    .tab-pane {
      visibility: hidden;
    }

    .tab-pane.active {
      visibility: visible;
    }
  }

  .col-12 {
    padding-left: 8%;
  }

  ul {
    padding: 0;
  }

  a.nav-heading {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 5.5vmin;
    color: $green;
    padding: 0 0 1.25rem 0;
    cursor: default;
  }

  li {
    padding: 0.25rem 0;

    a {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      color: white;
      position: relative;
      text-decoration: none;
      padding-bottom: 8px;
      transition: color 0.5s;

      // from https://codepen.io/devilishalchemist/pen/ZYLZay

      $duration: 0.2s;
      $distance: 8px;
      $easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $green;
      }
      &:before {
        opacity: 0;
        transform: translateY(-$distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:hover,
      &:focus {
        color: $green;
        &:before,
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }
}

#mobile-nav {
  position: relative;
  justify-content: center;
  flex-direction: column;
  display: none;

  .col-12 {
    padding-left: 8%;
  }

  ul {
    padding: 0;
  }

  a.nav-heading {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 5.5vmin;
    color: $green;
    padding: 0 0 1.25rem 0;
    cursor: default;
  }

  li {
    padding: 0.25rem 0;

    a {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      color: white;
      position: relative;
      text-decoration: none;
      padding-bottom: 8px;
      transition: color 0.5s;

      // from https://codepen.io/devilishalchemist/pen/ZYLZay

      $duration: 0.2s;
      $distance: 8px;
      $easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $green;
      }
      &:before {
        opacity: 0;
        transform: translateY(-$distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:hover,
      &:focus {
        color: $green;
        &:before,
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }
}

@include respond-below(sm) {
  .navbar-brand {
    font-size: 1.75rem;
    margin-left: 0.75rem;
  }

  #fullscreenMenuWrapper {
    margin: 0 0.3rem 0.25rem 0;
  }

  #menuSwitch {
    height: 2px;
    width: 22px;
    &:before {
      top: -6px;
      width: 18px;
      height: 2px;
    }
    &:after {
      top: 4px;
      width: 18px;
      height: 2px;
    }
  }
  #menuContent {

    #desktop-nav {
      display: none;
    }
    
    #mobile-nav {
      display: flex;

      a.nav-heading {
        font-size: 1.65rem;
        font-weight: 600;
        cursor: pointer;
      }

      ul {
        padding: 0.75rem 0 0 0;
        display: none;
        margin-bottom: 0;

        a {
          font-size: 1.4rem;
        }

        ~ hr {
          width: 25%;
        }
      }
    }
  }
}

@include respond-below(xs) {
  .navbar-brand {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  #menuContent {
    #mobile-nav {
      margin-left: 0.9rem;

      a.nav-heading {
        font-size: 1.5rem;
        font-weight: 600;
      }

      ul {
        a {
          font-size: 1.25rem;
        }
      }
    }
  }
}
