/** 
 Nav Media Queries
 **/

@include respond-below(xxl) {
  #fullscreenMenu {
    #nav-headings {
      & > ul > li {
        margin-bottom: 0.25rem;
        & > a {
          font-size: 2rem;
        }
      }
    }

    #nav-items {
      a {
        font-size: 1.1rem;
      }
    }

    .tab-content {
      .tab-pane {
        &:nth-of-type(1) {
          padding-top: 0.5rem;
        }

        &:nth-of-type(2) {
          padding-top: 3.2rem;
        }

        &:nth-of-type(3) {
          padding-top: 6.5em;
        }

        &:nth-of-type(4) {
          padding-top: 9.7rem;
        }

        &:nth-of-type(5) {
          padding-top: 12.8rem;
        }

        &:nth-of-type(6) {
          padding-top: 15.5rem;
        }

        &:nth-of-type(7) {
          padding-top: 20rem;
        }

        &:nth-of-type(8) {
          padding-top: 21rem;
        }
      }
    }

    #contact-links {
      a {
        font-size: 1.2rem;
      }
    }
  }
}

@include respond-below(xl) {
  #fullscreenMenu {
    #nav-headings {
    padding-left: 2rem;
    }
    #nav-items {
      padding-right: 2rem;
    }

    #contact-links {
      padding-left: 2rem;
    }
  }


}

@include respond-below(lg) {
  #fullscreenMenu {
    .contact-button {
      display: none;
    }

    .col-xl-3,
    .col-xl-6 {
      border-width: 0;
    }
  }
}

@include respond-below(sm) {
  .navbar-brand {
    font-size: 1.75rem;
    margin-left: 0.75rem;

    i.navbar-logo {
      height: 2rem;
      width: 2rem;
    }
  }

  #menuSwitch {
    &:before {
      top: -6px;
      width: 18px;
      height: 2px;
    }
    &:after {
      top: 4px;
      width: 18px;
      height: 2px;
    }
  }

  #fullscreenMenu {
    #nav-headings {
      padding-left: 2rem;
      & > ul > li {
        margin-bottom: 0rem;
        & > a {
          font-size: 1.7rem;
          line-height: 1.7;

          &:hover::before {
            width: 0 !important;
          }
        }
      }
      & > ul > li.active {
        & > a {
          &:hover::before {
            width: 20px !important;
          }
        }
      }
    }

    #nav-items {
      display: none;
    }

    .mobile-nav-items {
      display: block;
    }

    #contact-links {
      flex-direction: column;
      padding-left: 2rem;
      ul {
        margin-bottom: 0;
      }
      li {
        border: 0;
        margin: 0.5rem 0;
      }
      a {
        font-size: 1.1rem;
        margin: 0;

        i {
          display: inline-block;
        }

        span {
          display: none;
        }
      }
    }
  }
}

@include respond-below(xs) {
  .navbar-brand {
    font-size: 1.5rem;
    margin-left: 0.5rem;

    i.navbar-logo {
      margin-right: 0.5rem;
    }
  }

  #menuSwitch {
    margin-right: 5px;
  }

  #themeSwitchWrapper {
    margin-right: 0.5rem;

    #themeSwitch {
      label.switch {
        margin: 0 0.5rem;
      }
    }
  }
}
