/** 
* Navbar 
**/

.navbar {
  // height: 80px;
  transition: all 0.3s ease, transform 0.5s ease;
}

.scroll-down .navbar {
  transform: translate3d(0, -100%, 0);
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.scroll-up .navbar {
  transform: none;
}

.navbar-brand {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 200;
  margin-left: 1.5rem;
  transition: transform 0.3s;

  span {
    font-weight: 600;
  }
}
nav.nav-colored {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);

  .navbar-brand {
    color: black;
  }

  #menuSwitch {
    background-color: black;

    &:before,
    &:after {
      background-color: black;
    }
  }
}

nav.nav-transparent {
  background-color: transparent;

  .navbar-brand {
    color: white;
  }
}

nav.desktop-menu {
  .navbar-brand {
    transform: translate(0%, 15%);
  }

  #fullscreenMenuWrapper label {
    padding-top: 35px;
  }
}

/**
 * Fullscreen Nav Styles
**/

#fullscreenMenuWrapper {
  margin: 0 1rem 0.5rem 0;

  input {
    display: none;
  }

  label {
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease;
  }
}

#menuSwitch {
  background-color: #ffffff;
  width: 24px;
  height: 3px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
  transition: all 0.3s ease;

  &:before {
    content: "";
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    display: block;
    border-radius: 20px;
    position: relative;
    top: -8px;
    left: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  &:after {
    content: "";
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 5px;
    left: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
}

#fullscreenMenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  background: #181818;
  // linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));

  label {
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    top: 32px;
    right: 30px;
  }

  ul {
    list-style: none;
    transform: translateY(0%);
    transition: transform 0.5s;
    transition: opacity 0 !important;
  }
}

#menuToggle:checked ~ #fullscreenMenu {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;

  ul {
    opacity: 1;
  }
}

#menuToggle:not(:checked) ~ #fullscreenMenu ul {
  transform: translateY(-15%);
}

#menuToggle:checked ~ label {
  #menuSwitch {
    background-color: transparent;

    &:before {
      content: "";
      background-color: white;
      transform: rotate(45deg);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 200;
    }

    &:after {
      content: "";
      background-color: white;
      transform: rotate(-45deg);
      position: relative;
      top: 0px;
      right: 0;
      z-index: 200;
    }
  }
}

/**
 * Fullscreen Menu Items
**/

$green: #4abf66;
$whitey: #f0f0f0;

$blue: #2c2fe8;
$darkblue: darken($blue, 30%);

#desktop-nav {
  position: relative;
  justify-content: center;
  display: flex;

  .col-xl-3,
  .col-xl-6 {
    border-color: hsla(0, 0%, 48.6%, 0.4);
    border-style: solid;
    background-color: #181818;
  }

  .col-xl-3 {
    border-width: 0 1px 1px 1px;
    z-index: 0;
  }

  .col-xl-6 {
    border-width: 0 0 1px 0;
  }

  .nav-header {
    height: 7rem;
  }

  .teamLogo {
    height: 100px;
    padding: 1.2rem;
  }

  #close-label {
    padding: 1.5rem;
    padding-right: 7rem;
    p {
      color: white;
      font-family: "Lato", sans-serif;
      font-size: 1.3rem;
      padding-top: 0.8rem;
      transition: all 0.3s;

      &:hover {
        color: $pink;
        cursor: pointer;
      }
    }
  }

  .contact-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    text-align: center;
    border-color: hsla(0, 0%, 48.6%, 0.4);
    border-style: solid;
    border-width: 1px 0 0 0;

    a {
      padding: 1.65rem 0;
      height: 100%;
      width: 100%;
      display: block;
      color: $whitey;
      margin: 0;
      font-family: "Lato", sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.3s ease;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $pink;
      z-index: -1;
      transform: translateY(105%);
      transition: all 0.2s ease-out;
    }

    &:hover::before {
      transform: translateX(0);
    }
  }

  .nav-footer {
    height: 7rem;
  }

  #nav-headings {
    padding: 4rem 0 0 4rem;
    border: 0;
    li {
      margin-bottom: 0.7rem;
      a {
        transition: color 0.5s ease;
        color: $whitey;
        text-decoration: none;
        line-height: 3rem;
        font-family: "Lato";
        font-weight: 300;
        font-size: 2.5rem;

        position: relative;

        &::before {
          width: 0;
          content: "";
          height: 1px;
          background-color: $green;
          display: inline-block;
          bottom: 0.3em;
          position: relative;
          transition: width 0.25s, margin-right 0.25s;
        }

        &:hover::before {
          width: 30px !important;
        }
      }
    }

    li.active {
      a {
        color: $green;
        &::before {
          width: 20px;
          margin-right: 5px;
        }
      }
    }

    li.inactive a {
      color: hsla(0, 0%, 48.6%, 0.7);
    }
  }

  .tab-content {
    color: white;

    .tab-pane {
      visibility: hidden;
      opacity: 0;
    }

    .active {
      visibility: visible;
      opacity: 1;
      animation: opac 0.5s;
    }
  }

  @keyframes opac {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  #nav-items {
    padding: 4rem 0 0 4rem;
    transition: visibility 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 0;

    li {
      padding: 0.25rem 0;
      text-align: left;

      a {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        color: white;
        position: relative;
        text-decoration: none;
        padding-bottom: 8px;
        transition: color 0.5s;

        // from https://codepen.io/devilishalchemist/pen/ZYLZay

        $duration: 0.2s;
        $distance: 8px;
        $easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:before,
        &:after {
          content: "";
          position: absolute;
          bottom: 2px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: $green;
        }
        &:before {
          opacity: 0;
          transform: translateY(-$distance);
          transition: transform 0s $easeOutBack, opacity 0s;
        }
        &:after {
          opacity: 0;
          transform: translateY($distance/2);
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:hover,
        &:focus {
          color: $green;
          &:before,
          &:after {
            opacity: 1;
            transform: translateY(0);
          }
          &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
          }
          &:after {
            transition: transform 0s $duration $easeOutBack,
              opacity 0s $duration;
          }
        }
      }
    }
  }
}

/** 
 Media Queries for Desktop
 **/

@include respond-below(xxl) {
  #desktop-nav {
    #nav-headings {
      li {
        margin-bottom: 0.25rem;
        a {
          font-size: 2rem;
        }
      }
    }
  }
}

@include respond-below(lg) {
  #desktop-nav {
    .contact-button {
      display: none;
    }

    .col-xl-3,
    .col-xl-6 {
      border-width: 0;
    }
  }
}

#mobile-nav {
  position: relative;
  justify-content: center;
  flex-direction: column;
  display: none;

  .col-12 {
    padding-left: 8%;
  }

  ul {
    padding: 0;
  }

  a.nav-heading {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 5.5vmin;
    color: $green;
    padding: 0 0 1.25rem 0;
    cursor: default;
  }

  li {
    padding: 0.25rem 0;

    a {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      color: white;
      position: relative;
      text-decoration: none;
      padding-bottom: 8px;
      transition: color 0.5s;

      // from https://codepen.io/devilishalchemist/pen/ZYLZay

      $duration: 0.2s;
      $distance: 8px;
      $easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $green;
      }
      &:before {
        opacity: 0;
        transform: translateY(-$distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:hover,
      &:focus {
        color: $green;
        &:before,
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }
}

@include respond-below(sm) {
  .navbar-brand {
    font-size: 1.75rem;
    margin-left: 0.75rem;
  }

  #fullscreenMenuWrapper {
    margin: 0 0.3rem 0.25rem 0;
  }

  #menuSwitch {
    height: 2px;
    width: 22px;
    &:before {
      top: -6px;
      width: 18px;
      height: 2px;
    }
    &:after {
      top: 4px;
      width: 18px;
      height: 2px;
    }
  }
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;

    a.nav-heading {
      font-size: 1.65rem;
      font-weight: 600;
      cursor: pointer;
    }

    ul {
      padding: 0.75rem 0 0 0;
      display: none;
      margin-bottom: 0;

      a {
        font-size: 1.4rem;
      }

      ~ hr {
        width: 25%;
      }
    }
  }
}

@include respond-below(xs) {
  .navbar-brand {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  #mobile-nav {
    margin-left: 0.9rem;

    a.nav-heading {
      font-size: 1.5rem;
      font-weight: 600;
    }

    ul {
      a {
        font-size: 1.25rem;
      }
    }
  }
}
