@import "_main.scss";

/******************************
 * Header
 ******************************/

$whitey: #f0f0f0;
$pink: #ea178c;
$green: #0fc488;
$green-background: #11d694;
$dark-green: #12bc84;
$white: #ffffff;
$yellow: #ffdb59;
$orange: #ffb454;
$black: #3d3d3d;
$grey: #dadada;
$light-grey: #f7f7f7;
$dark-grey: #8e8e8e;
$selection-color: rgba(255, 233, 0, 0.4);

::selection {
  background-color: $selection-color;
}

header {
  background: 
    /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url(../assets/img/Description--josh-withers.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 70vh;

  .container {
    padding: 0;
  }

  #heading {
    // background: url("../assets/ vectors/white-frame-brush-strokes/16-1.1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 6rem;

    h1 {
      color: $whitey;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: calc(3rem + 4.5vw);
    }
  }
}

@include respond-above(xxl) {
  header {
    .container {
      max-width: 1330px;
    }
  }
}

@include respond-between(xl, xxl) {
  header {
    .container {
      max-width: 1140px;
    }
  }
}

@include respond-between(lg, xl) {
  header {
    .container {
      max-width: 1000px;
    }
  }
}

@keyframes target-fade {
  0% {
    background-color: rgba(255, 255, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

/******************************
* Main
******************************/

@include respond-above(xxl) {
  main .container {
    max-width: 1380px;
  }
}

@include respond-between(xl, xxl) {
  main .container {
    max-width: 1140px;
  }
}

@include respond-between(lg, xl) {
  main .container {
    max-width: 1000px;
  }
}

main {
  padding: 3rem 0 2rem 0;

  .sidebar {
    padding: 30px 100px 0 5px;

    #contents {
      position: sticky;
      top: 150px;
      font-size: 1.2rem;
      font-family: "Lato", sans-serif;
      font-weight: 500;
      height: auto;
      transition: none;

      ul {
        list-style: none;

        li {
          margin: 15px 0;
          display: flex;
          justify-content: left;

          .circle {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
            width: 1.5rem;
            height: 1.5rem;
            background: $grey;
            border-radius: 1.354rem;
            margin-top: 0.1rem;

            .icon {
              @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
              margin: auto;
              background: black;
              &.arrow {
                @include transition(
                  all,
                  0.45s,
                  cubic-bezier(0.65, 0, 0.076, 1)
                );
                width: 0.9375rem;
                height: 0.104rem;
                background: none;
                &::before {
                  display: block;
                  content: "";
                  margin: 0.5rem 0.4rem;
                  width: 0.521rem;
                  height: 0.521rem;
                  border-top: 0.125rem solid black;
                  border-right: 0.125rem solid black;
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }

      a {
        margin-left: 10px;
        position: relative;
        text-decoration: none;
        padding-bottom: 6px;
        transition: color 0.5s;
        color: black;

        // from https://codepen.io/devilishalchemist/pen/ZYLZay

        $duration: 0.2s;
        $distance: 8px;
        $easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:before,
        &:after {
          content: "";
          position: absolute;
          bottom: 2px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: $green;
        }
        &:before {
          opacity: 0;
          transform: translateY(-$distance);
          transition: transform 0s $easeOutBack, opacity 0s;
        }
        &:after {
          opacity: 0;
          transform: translateY($distance/2);
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:hover,
        &:focus {
          &:before,
          &:after {
            opacity: 1;
            transform: translateY(0);
          }
          &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
          }
          &:after {
            transition: transform 0s $duration $easeOutBack,
              opacity 0s $duration;
          }
        }
      }
    }
  }

  .content {
    font-family: "Merriweather", serif;

    article {
      padding: calc(1rem + 1.2vw);
      padding-top: 0;
      background-color: $light-grey;
    }

    h1 {
      font-family: "Merriweather";
      font-weight: 400;
      font-size: 2.65rem;
      padding: 30px 0 15px 0;
      word-spacing: 0.3rem;
      color: $dark-green;

      button {
        font-weight: 400;
        margin-right: 25px;
      }
    }

    h1,
    h2 {
      scroll-margin-top: 100px;
      .anchor {
        float: left;
        // padding-right: 4px;
        line-height: 2;
        opacity: 0.01;
        background-image: url(../assets/icons/link-solid.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(93deg)
          brightness(87%) contrast(84%);
        border: 0px transparent solid;
        transition: all ease 0.2s;
      }

      &:hover .anchor {
        opacity: 100;
      }
    }

    h2 {
      font-size: 2rem;
      word-spacing: 0.3rem;
      margin-top: 1.5rem;
    }

    h3 {
      font-size: 1.5rem;
      word-spacing: 0.3rem;
      margin-top: 1.5rem;
    }

    button.section {
      font-size: 2rem;
      color: #bdbdbd;
      padding: 0;

      &:focus {
        box-shadow: none;
      }

      &:hover {
        text-decoration: none;
        color: #828282;
      }
    }

    p {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.75;
      word-spacing: 0.1rem;
      color: #3d3d3d;
      text-align: justify;

      span {
        scroll-margin-top: 200px;

        &:target {
          animation: target-fade 3s 1;
        }
      }
    }

    li {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.75;
      word-spacing: 0.1rem;
      color: #3d3d3d;
    }

    mark {
      background: $selection-color;
    }

    .image {
      text-align: center;

      img {
        padding: 20px;
        width: 90%;
      }

      p {
        text-align: center;
        font-style: italic;
        color: $black;
      }
    }

    blockquote {
      font-size: 1.4em;
      width: 60%;
      margin: 50px auto;
      font-style: italic;
      color: #555555;
      padding: 1.2em 30px 0.7em 75px;
      border-left: 8px solid #78c0a8;
      line-height: 1.6;
      position: relative;
      // background:#EDEDED;
    }

    blockquote::before {
      font-family: Arial;
      content: "\201C";
      color: #78c0a8;
      font-size: 4em;
      position: absolute;
      left: 10px;
      top: -10px;
    }

    blockquote::after {
      content: "";
    }

    blockquote strong {
      display: block;
      color: #333333;
      font-style: normal;
      font-weight: bold;
      margin-top: 1em;
    }

    table {
      border: 1px solid #dee2e6;
      width: 100%;
      margin-bottom: 1rem;
      color: #212529;
      border-collapse: collapse;

      thead {
        th,
        td {
          vertical-align: bottom;
          border-bottom: 2px solid #dee2e6;
        }
      }

      tbody {
        th,
        td {
          border: 1px solid #dee2e6;
        }
      }

      tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
      }

      th,
      td {
        padding: 0.75rem;
        vertical-align: center;
        border: 1px solid #dee2e6;
      }

      a {
        color: $dark-green;

        &:hover {
          text-decoration: underline;
        }
      }

      caption {
        text-align: center;
        font-style: italic;
        margin-top: 15px;
        font-family: "Merriweather", serif;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        color: #6c757d;
        caption-side: bottom;
      }
    }

    span.in-text:hover {
      cursor: pointer;
    }

    a.citation {
      color: $dark-grey;
      scroll-margin-top: 200px;

      &:target {
        animation: target-fade 3s 1;
      }
    }

    dfn {
      border-bottom: 1px solid black;
    }
  }
}

.tooltip {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 5px;
}

.content p,
#references li {
  a:not(.citation) {
    color: $black;
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 0 1px;
    transition: color ease 0.3s;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $green;
      height: 3px;
    }

    &:before {
      width: 0%;
      left: 0;
      bottom: 0;
      transition: width ease 0.4s;
    }

    &:after {
      width: 100%;
      left: 0;
      bottom: 0;
      transition: all ease 0.6s;
    }

    &:hover {
      text-decoration: none;
      // color: $black;

      &::before {
        width: 100%;
      }

      &::after {
        left: 100%;
        width: 0%;
        transition: all ease 0.2s;
      }
    }
  }
}

// mathjax adds right border for some reason
nobr .math span {
  border-left-width: 0px !important;
}

#references {
  ol {
    padding-inline-start: 30px;
  }

  li {
    padding: 0 0 20px 10px;
    scroll-margin-top: 100px;

    &:target {
      animation: target-fade 3s 1;
    }
  }

  p {
    text-align: left;
    margin-bottom: 0.2rem;

    .journalTitle {
      font-style: italic;
    }
  }
  cite {
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    line-height: 1.75;
    word-spacing: 0.1rem;
    color: #3d3d3d;
  }
  a {
    margin-right: 15px;

    &:before,
    &:after {
      height: 2px !important;
    }
  }
}

footer {
  #footerNav {
    background-color: $green-background;

    h1 {
      color: $black;
    }
    a {
      color: $black;
    }
  }
}

@include respond-below(md) {
  header {
    min-height: 55vh;
    #heading {
      margin-left: 1.75rem;
    }
  }

  .sidebar {
    display: none;
  }
}

@include respond-below(sm) {
  header {
    min-height: 40vh;
    #heading {
      margin-left: 1rem;
      h1 {
        font-size: calc(3rem + 1.75vw);
      }
    }
  }

  main {

    .content {
      padding-left: 0;
      padding-right: 0;

      article {
        padding: calc(1.5rem + 0.2vw);
      }

      h1 {
        font-size: 2.3rem;
      }
    }
  }
}

@include respond-below(xs) {
  main {
    padding: 0;
  }
}