@import "_main.scss";

/******************************
 * Header
 ******************************/

header {
  background: 
    /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url(../assets/img/photo-1513360371669-4adf3dd7dff8.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  h1 {
    color: $whitey;
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    font-size: 6rem;
    height: 250px;
  }
  .heading {
    // background: url("../assets/ vectors/white-frame-brush-strokes/16-1.1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 160px;
  }
}

/******************************
* Sections
******************************/
$pink: #ea178c;
$green: #0fc488;
$green-background: #11d694;
$white: #ffffff;
$yellow: #ffdb59;
// $orange: #FFBA60;
$orange: #ffb454;
$black: #3d3d3d;

@include respond-above(xxl) {
  section {
    .container {
      max-width: 1380px;
    }
  }
}

@include respond-between(xl, xxl) {
  section {
    .container {
      max-width: 1140px;
    }
  }
}

@include respond-between(lg, xl) {
  section {
    .container {
      max-width: 1000px;
    }
  }
}

section {
  padding: 100px 0 50px 0;

  /**
   * Section Button
   */

  a:not(.button) {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 0 1px;
    transition: color ease 0.3s;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $green;
      height: 10%;
    }

    &:before {
      width: 0%;
      left: 0;
      bottom: 0;
      transition: width ease 0.4s;
    }

    &:after {
      width: 100%;
      left: 0;
      bottom: 0;
      transition: all ease 0.6s;
    }

    &:hover {
      text-decoration: none;
      color: $black;

      &::before {
        width: 100%;
      }

      &::after {
        left: 100%;
        width: 0%;
        transition: all ease 0.2s;
      }
    }
  }

  /**
   * Section subtitle/aside
   */

  h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    border-top: 1px solid;
    padding-top: 10px;
    margin-top: 10px;
    word-spacing: 0.2em;
    line-height: 1.3em;
  }

  .content {
    font-family: "Merriweather", serif;

    /**
   * Section Title
  **/

    h2 {
      font-family: "Merriweather";
      font-weight: 400;
      font-size: 2.65rem;
      padding-bottom: 30px;
      word-spacing: 0.3rem;

      span {
        color: $green;
        font-weight: 400;
      }
    }

    p {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.75;
      word-spacing: 0.1rem;
      color: #3d3d3d;
    }
  }

  &:nth-of-type(odd) {
    .sidebar {
      padding: 0 100px 0 0;
      h3 {
        text-align: left;
      }
    }

    .content {
      padding: 0 0 0 25px;
    }
  }

  &:nth-of-type(even) {
    .sidebar {
      padding: 0 0 0 100px;
      h3 {
        text-align: right;
      }
    }

    .content {
      padding: 0 25px 0 0;
    }
  }

  &.white {
    background-color: white;
    h3 {
      border-color: black;
    }
    h2 {
      color: $black;
      span {
        color: $green;
      }
    }
    a.button.read-more {
      .circle {
        background-color: $green !important;
        .icon {
          &.arrow {
            background-color: none !important;
            &::before {
              border-color: $white !important;
            }
          }
        }
      }
      .button-text {
        color: black !important;
        // font-weight: 900 !important;
      }
      &:hover {
        .circle {
          .icon {
            &.arrow {
              background: $white !important;
            }
          }
        }
        .button-text {
          color: $white !important;
        }
      }
    }
  }

  &.yellow {
    background-color: $yellow;
    h3 {
      border-color: black;
    }
    h2 {
      color: $black;
      span {
        color: $pink;
      }
    }
  }

  &.green {
    background-color: $green-background;
    h3 {
      border-color: black;
    }
    h2 {
      color: $black;
      span {
        color: $white;
      }
    }
    a.button.read-more {
      .circle {
        background-color: $white !important;
        .icon {
          &.arrow {
            background-color: none !important;
            &::before {
              border-color: $pink !important;
            }
          }
        }
      }
      .button-text {
        color: white !important;
        font-weight: 900 !important;
      }
      &:hover {
        .circle {
          .icon {
            &.arrow {
              background: $pink !important;
            }
          }
        }
        .button-text {
          color: $pink !important;
        }
      }
    }
  }

  &.orange {
    background-color: $orange;
    h3 {
      border-color: black;
    }
    h2 {
      color: black;
      span {
        color: $white;
      }
    }
    p {
      color: black;
    }
    a.button.read-more {
      .circle {
        background-color: $white !important;
        .icon {
          &.arrow {
            background-color: none !important;
            &::before {
              border-color: $pink !important;
            }
          }
        }
      }
      .button-text {
        color: black !important;
        font-weight: 700 !important;
      }
      &:hover {
        .circle {
          .icon {
            &.arrow {
              background: $pink !important;
            }
          }
        }
        .button-text {
          color: $pink !important;
        }
      }
    }
  }
}
