@import "_main.scss";

// hide dark mode switch
#themeSwitchWrapper, #progress-container-wrapper {
  display: none !important;
}

@import "_index_header.scss";
@import "_index_sections.scss";

#footerNav {
  background-color: $index-footer-background;

  a.footer-heading {
    color: $index-footer-heading;
  }

  li {
    a {
      color: $index-footer-links;
    }
  }
}

@import "_index_mediaqueries.scss";