@import "_main.scss";

@import "_colors.scss";

body {
  transition: background-color 0.3s ease;
}

::selection {
  background-color: $selection-color;
}

@import "_content_header.scss";

main {
  padding: 3rem 0 2rem 0;
  .custom-container {
    max-width: 1380px;
    margin: 0 auto;
  }
}

@import "_content_mediaqueries.scss";

#landingCards {

  .col-sm-6 {
    padding: 15px;
  }
  .card {
    position: relative;
    border: none;
  }

  .card-background {
    // background-image: url("../assets/img/Design--AI.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 75px;
  }

  .card-info {
    z-index: 50; // TODO: find a workaround
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    h2 {
      margin: 40% 0;
      text-align: center;
      color: white;
      font-size: 2.5rem;
      text-decoration: none;

      span {
        font-size: 1rem;
        text-transform: uppercase;
        display: block;
        font-weight: 700;
        font-family: "Lato", serif;
        margin-bottom: 0.7rem;
      }
    }

    .line {
      height: 100px;
      margin: 0 auto;
      width: 1px;
      background-color: orange;
    }
  }

  img {
    max-width: 100%;
    display: block; /* remove extra space below image */
  }

  a:hover {
    text-decoration: none;
  }
}

@include respond-below(xl) {
  #landingCards {
    .card-info {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@include respond-below(xs) {
  #landingCards {
    .card {
      margin: 1.2rem;
    }
    .card-info {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@include respond-below(xxs) {
  #landingCards {
    .card {
      margin: 1rem;
    }
    .card-info {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

footer {
  #footerNav {
    h1 {
      color: $black;
    }
    a {
      color: $black;
    }
  }
}

body.theme-green {
  #footerNav {
    background-color: lighten($green, 5%);
  }
}

body.theme-yellow {
  #footerNav {
    background-color: lighten($yellow, 5%);
  }
}


body.theme-blue {
  #footerNav {
    background-color: lighten($blue, 15%);
  }
}
