@import "_main.scss";

body {
  transition: background-color 0.3s ease;
}

::selection {
  background-color: $selection-color;
}

@import "_content_header.scss";

main {
  padding: 3rem 0 2rem 0;
  .custom-container {
    max-width: 1380px;
    margin: 0 auto;
  }

  .row {
    margin: 0;
  }
}

.tooltip {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 5px;
}

@import "_content_sidebar.scss";

.sidebar {
  padding-top: 12px;
  #months {
    top: 100px;
  }
  flex: 0 0 30%;
  max-width: 30%;
}

// background animation for citations
@keyframes target-fade {
  0% {
    background-color: rgba(255, 255, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@import "_notebook_article.scss";
@import "_content_fancylink.scss";
@import "_content_themes.scss";
@import "_content_mediaqueries.scss";

#buttons {
  .button .circle {
    background: nth($page-accents, 4);
  }
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

footer {
  #footerNav {
    h1 {
      color: $black;
    }
    a {
      color: $black;
    }
  }
}

@include respond-below(md) {
  .tabs {
    margin: 0;
    padding: 0;
  }
}
