@import "_main.scss";

body {
  transition: background-color 0.3s ease;
}

// hide dark mode switch
#themeSwitchWrapper,
#progress-container-wrapper {
  display: none !important;
}

::selection {
  background-color: $selection-color;
}

.row {
  margin: 0;
}

main {
  padding: 2rem 0 2rem 0;
  .container {
    max-width: 1380px;
    margin: 0 auto;
  }
}

header {
  padding-top: 9rem;

  .container {
    max-width: 1350px;
  }

  h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    margin-bottom: 4rem;
  }

  img {
    object-fit: contain;
  }
}

main {
  margin-top: 8rem;

  .container {
    max-width: 1350px;
  }

  .person-container {
    margin: 2rem;
    border-width: 0px;
    width: 300px;
    padding: 0;
    position: relative;
    display: inline-block;

    &:hover {
      .squiggles {
        visibility: visible;
        opacity: 1;
      }
      h3 {
        span.eng {
          visibility: hidden;
          opacity: 0;
        }
        span.lang {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .person {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 2rem;
  }

  .person,
  .squiggles {
    display: block;
    width: 300px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .squiggles {
    top: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .text {
    position: relative;
    bottom: 0;
  }
  h3,
  h4 {
    text-align: center;
    font-family: "Lato", sans-serif;
  }

  h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    height: 2rem;

    span {
      transition: all 0.3s ease;
      position: absolute;

      &.lang {
        visibility: hidden;
        opacity: 0;
      }
      &.eng {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  h4 {
    font-size: 1.2rem;
  }

  .person-container.sumit,
  .person-container.malabika {
    width: 250px;
    .person {
      width: 250px;
      height: 250px;
      background-size: cover;
    }
  }

  .sumit {
    .person {
      background-image: url("../assets/img/Team--Dr-Sumit.jpeg");
    }
  }

  .malabika {
    .person {
      background-image: url("../assets/img/Team--Dr-Malabika.jpeg");
    }
  }

  .shruti {
    .person {
      background-image: url("../assets/img/Team--Shruti.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Shruti_squiggles.png");
    }
  }

  .gourav {
    .person {
      background-image: url("../assets/img/Team--Gourav.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Gourav_squiggles.png");
    }
  }

  .yogen {
    .person {
      background-image: url("../assets/img/Team--Yogen.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Yogen_squiggles.png");
    }
  }

  .pranav {
    .person {
      background-image: url("../assets/img/Team--Pranav.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Pranav_squiggles.png");
    }
  }

  .ameya {
    .person {
      background-image: url("../assets/img/Team--Ameya.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Ameya_squiggles.png");
    }
  }

  .saransh {
    .person {
      background-image: url("../assets/img/Team--Saransh.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Saransh_squiggles.png");
    }
  }

  .sharanya {
    .person {
      background-image: url("../assets/img/Team--Sharanya.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Sharanya_squiggles.png");
    }
  }

  .arya {
    .person {
      background-image: url("../assets/img/Team--Arya.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Arya_squiggles.png");
    }
  }

  .suhas {
    .person {
      background-image: url("../assets/img/Team--Suhas.jpeg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Suhas_squiggles.png");
    }
  }

  .ithihas {
    .person {
      background-image: url("../assets/img/Team--Ithihas.jpeg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Ithihas_squiggles.png");
    }
  }

  .shrilaxmi {
    .person {
      background-image: url("../assets/img/Team--Shrilaxmi.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Shrilaxmi_squiggles.png");
    }
  }

  .naman {
    .person {
      background-image: url("../assets/img/Team--Naman.jpg");
    }
    .squiggles {
      background-image: url("../assets/img/Team--Naman_squiggles.png");
    }
  }
}

footer {
  #footerNav {
    h1 {
      color: $black;
    }
    a {
      color: $black;
    }
  }
}

@include respond-below(xxl) {
  header,
  main {
    .container {
      max-width: 1340px;
    }
  }

  main {
    .person-container {
      width: 300px;
    }

    .person,
    .squiggles {
      width: 300px;
      height: 450px;
    }
  }
}

@include respond-below(xl) {
  header,
  main {
    .container {
      max-width: 1140px;
    }
  }

  main {
    margin-top: 6rem;
    .person-container {
      width: 300px;
    }

    .person,
    .squiggles {
      width: 300px;
      height: 450px;
    }

    .person-container.sumit,
    .person-container.malabika {
      width: 225px;
      .person {
        width: 225px;
        height: 225px;
        background-size: cover;
      }
    }
  }
}

@include respond-below(lg) {
  header,
  main {
    .container {
      max-width: 950px;
    }
  }

  header {
    .header-image {
      height: 305px;
    }
  }

  header h1 {
    font-size: 4rem;
  }
  main {
    margin-top: 4rem;
  }
}

@include respond-below(md) {
  header,
  main {
    .container {
      max-width: 750px;
    }
  }
  main {
    margin-top: 2rem;
    .person-container {
      width: 240px;
    }

    .person,
    .squiggles {
      width: 240px;
      height: 360px;
    }
  }
}

@include respond-below(sm) {
  header,
  main {
    .container {
      max-width: 540px;
    }
  }

  header h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  main {
    margin-top: 0rem;
    .person-container {
      width: 300px;
    }

    .person,
    .squiggles {
      width: 300px;
      height: 450px;
    }

    .person-container.sumit,
    .person-container.malabika {
      width: 175px;
      .person {
        width: 175px;
        height: 175px;
        background-size: cover;
      }

      h4 {
        margin-top: 2rem;
      }
    }
  }
}

@include respond-below(xs) {
  header {
    .container {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }
  }
  main {
    .container {
      padding: 0 2rem;
    }
    .person-container {
      width: 300px;
    }

    .person,
    .squiggles {
      width: 300px;
      height: 450px;
    }
  }
}
