@import "_main.scss";

body {
  transition: background-color 0.3s ease;
}

::selection {
  background-color: $selection-color;
}

main {
  padding: 2rem 0 2rem 0;
  .custom-container {
    max-width: 1380px;
    margin: 0 auto;
  }
}

header {
  padding-top: 9rem;
  h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    margin-bottom: 4rem;
  }

  .header-image {
    // border: 10px solid white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
  }
}

main {
  .container {
    max-width: 1300px;
  }

  margin-top: 8rem;
  .col-4 {
    height: max-content;
    margin: 0;
    padding: 2rem 4rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 40px;
  }
  h3,
  h4 {
    text-align: center;
    font-family: "Lato", sans-serif;
    position: relative;
  }

  h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    height: 2rem;

    span {

      transition: all 0.3s ease;
      position: absolute;


      &.lang {
        visibility: hidden;
        opacity: 0;
      }
      &.eng {
        // display: none;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  h4 {
    font-size: 1.2rem;
  }

  .col-4:hover {
    h3 {
      span.eng {
        // display: none;
        visibility: hidden;
        opacity: 0;
      }
      span.lang {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

footer {
  #footerNav {
    h1 {
      color: $black;
    }
    a {
      color: $black;
    }
  }
}
