include templates/mixins

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title iGEM BITS Goa
    body
        include templates/nav.pug
        header.d-flex.justify-content-center.align-items-center
            .container.text-center
                .heading.d-flex.justify-content-center.align-items-center
                    h1 
        section#introduction.white
            .container
                .row
                    .sidebar.col-lg-3
                        h3 About our project
                    .content.col-lg-9
                        h2 Tonnes of sugar are lost every year as post-harvest losses. 
                            span We're here to change that.
                        h3 About our project
                        p.
                            Describe how the sugar industry is doomed and how revolutionary our project is. Basically a 
                            textual description of the problem and our solution, essentially repeating content from 
                            the animation above. Maybe add some numbers to put it into perspective. For people who don't
                            want to go through the animation but want a quick 
                            description. 
                        p.
                            The following sections summarize each important aspect of our project. I think it's best if we
                            cover all the medal criteria here (except the boring ones like attributions and all) so that 
                            the most important information is highlighted front and center. 
                        p.
                            The fact that a syn bio solution is better than just injecting invertase inhibitor also has to be
                            mentioned somewhere prominent. Not sure where though.
                        p
                            | Maybe we'll move to a more sustainable solution later, but for now, 
                            a(href='https://docs.google.com/document/d/1rIz6781r7rfrTbcgEW1J4UNyr1bBL3hShowc-FcC2Ow/edit?usp=sharing' target="_blank" rel="noopener") here's a Google doc
                            |  with all this text so you guys can edit. 
                        p 
                            a(href)

                        .d-flex.justify-content-end.my-5
                            +buttonRight("Description")
        section#design.yellow
            .container
                .row
                    .content.col-lg-9
                        h2 Design caption goes here. 
                            span Optional hype.
                        h3.
                            Not sure what goes here but removing this makes it too empty.
                            Maybe an important highlight from the text itself?
                        p.
                            Summarize the genetic circuit and models. From the iGEM docs: "Explanation of the engineering
                            principles used" and "Experimental plan to test your designs." It also asks for design iterations
                            but home page is probably not the right place for that. Safety section is at the bottom, but maybe
                            briefly mention the killswitch as well?
                        p.
                            Also talk about the delivery mechanism. Maybe this is the right place to mention why we went 
                            with a syn bio solution instead of just injecting the inhibitor.


                        .d-flex.justify-content-end.my-5
                            +buttonRight("Design")

                    .sidebar.col-lg-3
                        h3.
                            Not sure what goes here but removing this makes it too empty.
                            Maybe an important highlight from the text itself?
        section#safety.white
            .container
                .row
                    .sidebar.col-lg-3
                        h3.
                            Safety pro tip: Plastic pipette tips and tip boxes are prone to melting upon exposure to heat
                            and must not be placed in an oven.
                    .content.col-lg-9
                        h2 Safety caption goes here. 
                            span Optional hype.
                        h3.
                            Maybe an important highlight from the text?
                            Or some helpful warnings about (not) leaving plastic tip boxes in the oven.
                        p.
                            Talk about the killswitch. The whole thing about toxins and anaerobic environment.
                            From the iGEM docs: choosing a non-pathogenic chassis, 
                            choosing parts that will not harm humans / animals / plants,
                            substituting safer materials for dangerous materials in a proof-of-concept experiment,
                            and including an 
                            induced lethality or "kill-switch" device.
                        p.
                            Unusual safety issues (like the one on the left?) also have to be mentioned but probably
                            not on the home page.


                        .d-flex.justify-content-end.my-5
                            +buttonRight("Safety")  

        section#human-practices.green
            .container
                .row
                    .content.col-lg-9
                        h2 Human-centered design. 
                            span Optional hype.
                        h3.
                            Not sure what goes here but removing this makes it too empty.
                            Maybe an important highlight from the text itself?
                        p.
                            Summarize our human practices approach. Write about how we conducted detailed discussions with stakeholders at every step. Also write about how we changed various aspects of the design based 
                            on feedback, and how our product solves different issues for different belts across India and the world.
                        p.
                            From the iGEM docs: explore issues relating (but not limited) to the 
                            ethics, safety, security, and sustainability of your project, and to show how this exploration 
                            feeds back into your project purpose, design, and execution.


                        .d-flex.justify-content-end.my-5
                            +buttonRight("Human Practices")

                    .sidebar.col-lg-3
                        h3.
                            Not sure what goes here but removing this makes it too empty.
                            Maybe an important highlight from the text itself?
        section#collaborations.white
            .container
                .row
                    .sidebar.col-lg-3
                        h3.
                            Not sure what goes here but removing this makes it too empty.
                            Maybe an important highlight from the text itself?
                    .content.col-lg-9
                        h2 Collaborating for the win. 
                            span Optional hype.
                        h3.
                            Not sure what goes here but removing this makes it too empty.
                            Maybe an important highlight from the text itself?
                        p.
                            Summarize our collaborations, including various surveys and the language project.
                            Also summarize some conclusions from surveys we created and the impact of the language project
                            (and maybe a little bit about future scope).
                        p.
                            From the iGEM docs: Sharing and collaboration are core values of iGEM. We encourage you to 
                            reach out and work with other teams on difficult problems that you can more easily solve together.


                        .d-flex.justify-content-end.my-5
                            +buttonRight("Collaborations")
        section#science-communication.orange
            .container
                .row
                    .content.col-lg-9
                        h2 Engaging with the scientists of tomorrow. 
                            span Optional hype.
                        h3.
                            Maybe an important highlight from the text itself?
                            Scroll up for an inverted Indian flag.
                        p.
                            Headline too cringey? Questionable color choice? Apparently orange is the color of 
                            communication. It's a really hard color to work with, though. Increasing saturation any
                            more hurts my eyes, reducing it saturation makes orange lose its effect and reducing 
                            brightness makes it dull. Btw, scroll up for an inverted Indian flag.
                        p.
                            Anyway, write about the webinar here. Maybe an intro about why science
                            communication is necessary, specially keeping the current situation in mind.
                            Also write about Abhighyan insta posts? Is that sci-comn or public engagement? 
                            I'll just call the button Communication for now.


                        .d-flex.justify-content-end.my-5
                            +buttonRight("Communication")

                    .sidebar.col-lg-3
                        h3.
                            Maybe an important highlight from the text itself?
                            Scroll up for an inverted Indian flag.
        footer 
            include templates/footer_brand.pug
            include templates/footer_nav.pug
