html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title iGEM BITS Goa
    body
        include templates/nav.pug
        header.d-flex.justify-content-center.align-items-center
            .container.text-center
                .heading.d-flex.justify-content-center.align-items-center
                    h1 
        section#introduction.white
            .container
                .row
                    .sidebar.col-3
                        h3 About our project
                    .content.col-9
                        h2 Tonnes of sugar are lost every year as post-harvest losses. 
                            span We're here to change that.
                        p.
                            Describe how the sugar industry is doomed and how revolutionary our project is. Basically a 
                            textual description of the problem and our solution, essentially repeating content from 
                            the animation above. Maybe add some numbers to put it into perspective. For people who don't
                            want to go through the animation but want a quick 
                            description. 
                        p.
                            The following sections summarize each important aspect of our project. I think it's best if we
                            cover all the medal criteria here (except the boring ones like attributions and all) so that 
                            the most important information is highlighted front and center. 
                        .d-flex.justify-content-end.mt-5
                            // remember to add a class to the button
                            button.read-more.description
                                span.circle(aria-hidden=true)
                                    span.icon.arrow
                                span.button-text Description
        section#design.yellow
            .container
                .row
                    .content.col-9
                        h2 Design caption goes here. 
                            span Optional hype.
                        p.
                            Describe how the sugar industry is doomed and how revolutionary our project is. Basically a 
                            text-based description of the problem and our solution, essentially repeating content from 
                            the animation above. For people who don't want to go through the animation but want a quick 
                            description. 
                        p.
                            The following sections summarize each important aspect of our project. I think it's best if we
                            cover all the medal criteria here (except the boring ones like attributions and all) so that 
                            the most important information is highlighted front and center. 
                        .d-flex.justify-content-end.mt-5
                            // remember to add a class to the button
                            button.read-more.design
                                span.circle(aria-hidden=true)
                                    span.icon.arrow
                                span.button-text Design
                    .sidebar.col-3
                        h3.
                            Not sure about what goes here but removing this makes it too empty.
                            Maybe an important highlight from the text itself?
