html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title iGEM BITS Goa
    body
        .jumbotron
            h1.display-4 Hello, world!
            p.lead We're iGEM BITS Goa!
            hr.my-4
            p The first iGEM team from BITS Pilani.
            a.btn.btn-primary.btn-lg(role='button' href='#') Learn More