html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title iGEM BITS Goa
    body
        include templates/nav.pug
        header.d-flex.justify-content-center.align-items-center
            .container.text-center
                .heading.d-flex.justify-content-center.align-items-center
                    h1 Sugar? Yes, Please!
                br
                br
                br
                br
                br
                br
                br
                br
