html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title iGEM BITS Goa
    body
        include templates/nav.pug
        header.d-flex.justify-content-center.align-items-center
            .container.text-center
                .heading.d-flex.justify-content-center.align-items-center
                    h1 
        section#introduction
            .container
                .row
                    .sidebar.col-3
                        h3 About our project
                    .content.col-9
                        h2 A catchy caption
                        p.
                            Cupcake ipsum dolor sit amet cake bonbon. Lemon drops dessert tart. Muffin jellypudding
                            sesame snaps marzipan icing. Carrot cake muffin I love cake cake soufflé cupcake.
                            Cake powder halvah bonbon cake biscuit jelly tiramisu. Candy canes powder caramels liquorice
                            muffin gingerbread. Jujubes dessert toffee liquorice I love I love pudding. Oat cake toffee
                            tiramisu pudding brownie.
                        p.
                            Lollipop cheesecake oat cake dragée sesame snaps pie I love gummi bears cotton candy. 
                            Marshmallow donut gummies powder muffin ice cream carrot cake halvah bonbon. Sesame snaps I 
                            love muffin tiramisu tootsie roll halvah brownie soufflé.
                        .d-flex.justify-content-end.mt-5
                            button.read-more
                                span.circle(aria-hidden=true)
                                    span.icon.arrow
                                span.button-text Description
