include templates/mixins

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title SugarGain | iGEM BITS Goa
    body
        include templates/nav.pug
        header.d-flex.justify-content-center.align-items-center
            video(controls width=1080)
                source(src= urlPrefix + require("./assets/video/promo-1080p.mp4")['default'].substr(2), type='video/mp4')
        section#introduction.white
            .section-animation
            .container
                .row
                    .sidebar.col-lg-3
                        h3
                            | A cold winter day —
                            br
                            | The bacteria inhibit 
                            br
                            | Invertase from acting.

                    .content.col-lg-9
                        h2 Tonnes of sugar are lost every year as post-harvest losses. 
                            span We're here to change that.
                        p.
                        :markdown-it(html)
                            Sugarcane is one of India’s most important crops. It is cultivated on 5 million hectares of land, 
                            making India the second-largest producer of the crop which contributes to 6% of the national GDP 
                            and forms the livelihood for 20 million people across the country. 
                        p.
                        :markdown-it(html)
                            This industry is in peril, however. Post-harvest sucrose deterioration is responsible for losses worth millions of rupees.
                            Following its harvest, enzymatic activity reduces sugar recovery rates by upto 10%!
                        p.
                            Our solution mitigates this problem.
                            <br>
                            We’re SugarGain, and we’re making the world a sweeter place, quite literally!
                        p 
                            a(href)

                        .d-flex.justify-content-center.justify-content-sm-end.my-5
                            +buttonRight("Description")
        section#design.yellow
            .section-animation
            .container
                .row
                    .content.col-lg-9
                        h2 Design caption goes here. 

                        p.
                            We aim to target invertase present in the sugarcane stem - the enzyme responsible for 
                            cleaving sucrose into its constituents. Our project is structured into three major 
                            modules: a fructose regulated anti-invertase construct, an atmospherically-regulated kill switch, 
                            and a novel polymer inoculant.

                        p.
                            Click here to know more about our project design.


                        .d-flex.justify-content-center.justify-content-sm-end.my-5
                            +buttonRight("Design")

                    .sidebar.col-lg-3
                        h3
                            | Reacting to fructose
                            br
                            | The bacteria synthesise
                            br
                            | Anti-invertase. 
        section#safety.white
            .section-animation
            .container
                .row
                    .sidebar.col-lg-3
                        h3
                            | The microbe escapes
                            br
                            | its confined space. But Alas!
                            br
                            | The kill switch goes off. 
                    .content.col-lg-9
                        h2 Safety caption goes here. 

                        p.
                            Biosafety is a cruicial aspect of our project, especially so when our chassis is so closely involved with food
                            products.
                        p.
                            Throughout our project design we have tried to be cognizant about identifying strategies for robust 
                            biosafety. To ensure the highest possible levels of safety, we have developed a three-tier failsafe meachanism after 
                            taking into consideration the various use cases of our chassis. 

                        p.
                            Click here to read more our biosafety approach. 


                        .d-flex.justify-content-center.justify-content-sm-end.my-5
                            +buttonRight("Safety")  

        section#human-practices.green
            .section-animation
            .container
                .row

                    .content.col-lg-9
                        h2 Human-centered design.
                        p.
                            Summarize our human practices approach. Write about how we conducted detailed discussions with stakeholders at every step. Also write about how we changed various aspects of the design based 
                            on feedback, and how our product solves different issues for different belts across India and the world.
                        p.
                            From the iGEM docs: explore issues relating (but not limited) to the 
                            ethics, safety, security, and sustainability of your project, and to show how this exploration 
                            feeds back into your project purpose, design, and execution.


                        .d-flex.justify-content-center.justify-content-sm-end.my-5
                            +buttonRight("Human Practices")

                    .sidebar.col-lg-3
                        h3
                            | Science and humans,
                            br
                            | Like shadow to a body:
                            br
                            | Inseparable.
        section#collaborations.white
            .section-animation
            .container
                .row
                    .sidebar.col-lg-3
                        h3
                            | Helping us with issues,
                            br
                            | And with making new friends too! —
                            br
                            | Collaborations.
                    .content.col-lg-9
                        h2 Collaborating for the win. 
                        h3.
                            Not sure what goes here but removing this makes it too empty.
                            Maybe an important highlight from the text itself?
                        p.
                            Summarize our collaborations, including various surveys and the language project.
                            Also summarize some conclusions from surveys we created and the impact of the language project
                            (and maybe a little bit about future scope).
                        p.
                            From the iGEM docs: Sharing and collaboration are core values of iGEM. We encourage you to 
                            reach out and work with other teams on difficult problems that you can more easily solve together.


                        .d-flex.justify-content-center.justify-content-sm-end.my-5
                            +buttonRight("Collaborations")
        section#science-communication.orange
            .section-animation
            .container
                .row
                    .content.col-lg-9
                        h2 Contribution Headline 

                        p.
                            Headline too cringey? Questionable color choice? Apparently orange is the color of 
                            communication. It's a really hard color to work with, though. Increasing saturation any
                            more hurts my eyes, reducing it saturation makes orange lose its effect and reducing 
                            brightness makes it dull. Btw, scroll up for an inverted Indian flag.
                        p.
                            Anyway, write about the webinar here. Maybe an intro about why science
                            communication is necessary, specially keeping the current situation in mind.
                            Also write about Abhighyan insta posts? Is that sci-comn or public engagement? 
                            I'll just call the button Communication for now.


                        .d-flex.justify-content-center.justify-content-sm-end.my-5
                            +buttonRight("Contribution")

                    .sidebar.col-lg-3
                        h3
                            | Contribute
                            br
                            | Contribute, Contribute.
                            br
                            | CONTRIBUTE!
        footer 
            include templates/footer_brand.pug
